[2022-02-05 13:06] sk666 commented on #75
something new happens about this issue with build 179. DM refuse to close too, even if I try to right click on it on the system tray. It seems that he "think" that my game is running, but my game was closed since a couple of minutes. I'm am not able to open it after that, so I can not collect the log with the settings page. I will take it manually from the appdata folder instaed.

![impossible to

[2022-02-06 01:11] terrymacdonald commented on #78
@RBZL OK! I think that the DVI connection is the ultimate cause of your issue, though there could some other additional problems in your logs that I missed.

I fixed the DVI issue yesterday, and another user said that it worked fine on their test system. I have also spent the day working through some bugs with the drawing of where the taskbars are, and I think I have that fixed too!

![image](http

[2022-02-06 01:12] terrymacdonald commented on #83
@HS34 I fixed yet more issues, so now please test DisplayMagician v2.2.0.223 (attached)

![image](https://user-images.githubusercontent.com/5721772/152664225-ebb30318-e255-40d4-8460-1c968acaa59b.png)

Can I please trouble you to do some testing for me again? I *think* I have fixed the issues you mentioned , but I really need confirmation from you that it is now working.

IMPORTANT: Just to be sure

[2022-02-06 01:14] terrymacdonald commented on #76
@sk666 @FormelLMS  I fixed yet more issues, so now please test DisplayMagician v2.2.0.223 (attached). This new version shows the taskbars in the DM UI, and also lets you easily change your taskbar layout using the new 'Profile Tools' button on the Display Profiles page :).

![image](https://user-images.githubusercontent.com/5721772/152664225-ebb30318-e255-40d4-8460-1c968acaa59b.png)

Can I please

[2022-02-07 11:25] sven25 opened #87 "Game Shortcuts not working"
**Describe the bug**
Display Profiles are not changing via Game Shortcuts

**To Reproduce**
 -

**Expected behaviour**
I saw the feature for changing the audio-device with specific Game-Shortcuts, then i saw that there is an option for "Dont start a game". And i thought "Nice, thats exactly what i want". So i just want to change the default audio-device with switching Displays
between my Desk and

[2022-02-08 05:39] RBZL commented on #78
I'll try to check this out tomorrow, thanks.

[2022-02-09 12:56] sk666 commented on #76
Hi Terry,

everything seems to be working fine for me with build .223 including taskbar..except for what I said previously in my last reply on issue #75.

thank you

[2022-02-09 18:29] terrymacdonald commented on #76
Hi @sk666,

Can you please create a new Support Zip file in 223 and upload it under
issue  #75? It's like to double check to see what the final issue is now
we've solved the others.

Thanks
Terry

On Thu, 10 Feb 2022, 01:56 sk666, ***@***.***> wrote:

[2022-02-09 22:05] FormelLMS commented on #76
Hey Terry, I'm sorry, I was away a few days. Tried now the new version and everything is working well. This is fantastic.
Changed taskbar to the top in normal mode. In Surround mode it's not working, but I think this is normal. Taskbar is a bit strange in behaviour of surround :)
Changing the profiles is very fast now.

Thank you very much!

[2022-02-09 22:05] HS34 commented on #83
Hi Terry,
Great news : it works ! Great job ! Thank you !
There are still some bugs, but it works : I can switch to and from surround !

Here what I've tested :
Switch from "4 screens" to "surround" : OK. Taskbar position ok.
Switch from "surround" to "4 screens": OK. Taskbar position is wrong (middle instead of right). In nVidia Configuration panel : SLI configuration is restaured to "Desactivate

[2022-02-09 22:14] terrymacdonald commented on #83
Hi @HS34,

Did you recreate your display profiles before you did the testing? THere
are some changes in the way that the display profiles are generated that
may cause some of the bugs. Can you please delete all your display profiles
and recreate them and then try again? Also please generate a support zip
file after you've finished testing.

I'm also trying to troubleshoot another issue with the ta

[2022-02-10 00:02] terrymacdonald commented on #83
Hi @HS34,

Can you please generate a new support ZIP file and attach it here? I need
to see what taskbar errors you're getting with 2.2.0.223 so I an figure out
the fixes.

Thanks

*Terry*

[2022-02-10 03:58] RBZL commented on #78
I played around with it a bit and encountered a number of issues. To write them up better, I deleted the \Local\DisplayMagician folder, reset my taskbars to the bottom with surround disabled, and opened DisplayMagician to start again.

I went to save the current profile, and the monitor previews show the center taskbar at the top of the screen and the side taskbars on the bottom. All taskbars are

[2022-02-10 08:08] HS34 commented on #83
Hi Terry,
switch from "4 screens" to "surround" : OK
switch from "surround" to "4 screens" : Taskbar restaured on left screen instead of right. TV not reactivated
![TV not reactivated](https://user-images.githubusercontent.com/24624829/153364263-51d4ff30-1ebb-4a59-a206-9f5ec3ff3c3f.jpg)
[DisplayMagician-Support-20220210-0902.zip](https://github.com/terrymacdonald/DisplayMagician/files/8039193/Disp

[2022-02-10 08:18] terrymacdonald commented on #78
Thanks @RBZL,

Yeah, I found some issues with 2.2.0.223 not picking up the taskbar
position properly. I think that's the root of your issue with everything
moving to the left. Microsoft made Left = 00, and of course when it
WinLibrary fails to pick up the taskbar position properly it defaults to
0...which is Left.

I've also noted the problem with the profile management. This is actually a
bug in

[2022-02-10 10:08] terrymacdonald commented on #78
Oh I forgot to mention, I should have another version of DM for you to test
in a few days. I'm working through the taskbar bugs as I find them and
trying to make something reliable that just works. It's proving to be
difficult as Microsoft never really provided a way of getting taskbar
positioning to work... I've had to reverse engineer how taskbar placement
works, and it's been pretty tricky to d

[2022-02-11 04:26] RBZL commented on #78
I think it's neat that it works, but the number of clicks it takes me to get there takes longer than unlocking and moving my taskbars around. I'd be more likely to move them myself than ever use the Profile Tools way, and I don't expect needing to move them often anyway. The only time I touch them is when they get messed up somehow.

Let me know when you've got something new to test and I'll check

[2022-02-12 15:07] jbretthorton opened #88 "No titles are launching"
**Describe the bug**
After no perceived updates, no titles (Sims) launch after previously working correctly. I have uninstalled - reinstalled, completely deleted all profiles and started over. The program seems to be working perfectly fine until I click on a link (or right click and select run) nothing happens. I have tried all my sims in new links as well.

**To Reproduce**
Steps to reproduce the

[2022-02-17 18:29] terrymacdonald commented on #88
Hi @jbretthorton,

Are you saying that no games at all run? Or just no Sims titles run? Which game launcher are you using to launch the Sims games?

Thanks
Terry

[2022-02-17 18:34] terrymacdonald commented on #76
Ok, I'm going to close this issue as it is fixed in the codebase. I'll concentrate on getting the taskbar location sorted.

[2022-02-17 18:35] terrymacdonald commented on #83
Just letting you know I've rewritten a lot of the taskbar manipulation code as it just isn't working right by using the registry key method that the internet days I should be using. So I've started driving in deep into windows, looking at how it passes communication between windows components using windows messages to see if I can detect windows taskbar changes, and also if I can force the taskbar

[2022-02-17 18:46] jbretthorton commented on #88
No Sims launch from your launcher.Running simhub, simtools, crew chief on the side. AC, ACC, AMS2, RRE, etc, none launch from your launcher. They all did previously just fineThanks,Brett Horton
-------- Original message --------From: terrymacdonald ***@***.***> Date: 2/17/22  1:29 PM  (GMT-05:00) To: terrymacdonald/DisplayMagician ***@***.***> Cc: jbretthorton ***@***.***>, Mention ***@***.***> Su

[2022-02-17 19:15] terrymacdonald commented on #88
Hi,

Sorry, I was meaning which game launcher Sims was installed in... Steam,
Uplay, GOG, Epic, etc. In other words did you choose some from a list of
your games in DisplayMagician, or did you select the exe file in the
application section?

That is weird about all the games not working. I'll have a look through
your logs this weekend.

Thanks
Terry

On Fri, 18 Feb 2022, 07:46 jbretthorton, ***@**

[2022-02-17 19:39] jbretthorton commented on #88
Rgr, sorryAll through steamThanks,Brett Horton
-------- Original message --------From: terrymacdonald ***@***.***> Date: 2/17/22  2:15 PM  (GMT-05:00) To: terrymacdonald/DisplayMagician ***@***.***> Cc: jbretthorton ***@***.***>, Mention ***@***.***> Subject: Re: [terrymacdonald/DisplayMagician] No titles are launching (Issue #88)

Hi,

Sorry, I was meaning which game launcher Sims was installed i

[2022-03-02 19:15] bjorg opened #91 "NVidia - Bitdepth in surround mode is not restored to its original value"
**Describe the bug**

When I enable surround mode, I always get 8 bpc (bits per color) even though I stored the display profile with 10 bpc.

**To Reproduce**
1. Create a surround mode.
2. Under "Change Resolution" change "Output color depth" to "10 bpc".
3. Create a display profile for current display settings.
4. Create a desktop shortcut for current display settings.
5. Exit surround mode
6. Ac

[2022-03-03 06:34] bjorg commented on #91
Looks like these settings are also not applied automatically.
![image](https://user-images.githubusercontent.com/63682/156509745-f32916f1-6a63-4586-93a3-7fce15a7c049.png)

Please let me know if I can supply any additional information. Thanks!

[2022-03-03 09:45] terrymacdonald commented on #91
Hi Steve,

Thanks for your issue.

Not all NVIDIA settings are recorded or applied at present. NVIDIA has a
large number of separate functions within the NVAPI, and it takes quite a
lot of work to figure out which settings are in which functions, not to
mention the time spent trying to reverse engineer how to call the functions
and interact with the C DLL from C# in a way the provides the function

[2022-03-03 09:57] bjorg commented on #91
Thanks for the detailed explanation. Can you point me to the code that you think could be responsible for this? I don't want to promise anything, but maybe I could help track this down. Just curious where to start looking (and logging!).

[2022-03-06 10:12] terrymacdonald commented on #91
I just got back from a holiday, and had a closer look at the settings you mentioned. Those BPC settings are already tracked by DisplayMagician, specifically we get the color settings here: https://github.com/terrymacdonald/DisplayMagician/blob/main/DisplayMagicianShared/NVIDIA/NVIDIALibrary.cs#L800 and we set the settings here: https://github.com/terrymacdonald/DisplayMagician/blob/main/DisplayMag

[2022-03-06 10:15] terrymacdonald commented on #88
Sorry Brett, I've been deep in the internals of Windows trying to set windows taskbar locations using windows internal messages for the last 4 weeks. It's not worked as I want to, so I'm coming back to going through the existing bugs I have in order to add them to the next version of DisplayMagician. I should be able to review your logs properly in the next two weeks or so.

Just wanted to keep yo

[2022-03-06 10:15] terrymacdonald commented on #87
Sorry @sven25 , I've been deep in the internals of Windows trying to set windows taskbar locations using windows internal messages for the last 4 weeks. It's not worked as I want to, so I'm coming back to going through the existing bugs I have in order to add them to the next version of DisplayMagician. I should be able to review your logs properly in the next two weeks or so.

Just wanted to keep

[2022-03-06 10:25] terrymacdonald commented on #78
@RBZL, I've been deep in the internals of Windows trying to set windows taskbar locations using windows internal messages for the last 4 weeks. It's not worked as I want to, so I'm pulling the Windows Taskbar setting code from the upcoming release of DisplayMagician v2.2.0.

To be clear, any new Display Profiles created in the upcoming DisplayMagician v2.2.0 will store the taskbar layout informati

[2022-03-06 11:27] sven25 commented on #87
No problem @terrymacdonald
Thank you for the update!

[2022-03-06 15:09] jbretthorton commented on #88
All good man, keep up the good work
    On Sunday, March 6, 2022, 05:15:16 AM EST, terrymacdonald ***@***.***> wrote:

Sorry Brett, I've been deep in the internals of Windows trying to set windows taskbar locations using windows internal messages for the last 4 weeks. It's not worked as I want to, so I'm coming back to going through the existing bugs I have in order to add them to the next version

[2022-03-07 17:06] bjorg commented on #91
I just left for vacation but will try out the newer build. Before I left, I already cloned the repo and was able to build it (except for WIX, which I don't have installed).

Another piece of functionality I'd like to add is the ability to query which profile is currently active via command line. That will allow me to script out mode changes for my setup. NVidia Surround Driver is not super happy w

[2022-03-07 17:24] terrymacdonald commented on #91
Hi Steve,

DisplayMagician copes with turning on monitors, but cannot force a display
to appear if it's not already at least shown to be available to be
connected to Windows. If I'm reading your text correctly then your setup
acts like your unplugging one display and plugging in the other display.
DisplayMagician won't work in that situation, as it wouldn't detect the
other display and so wouldn't

[2022-03-16 14:28] bjorg commented on #91
@terrymacdonald I'm back from vacation. I'm hoping to dive into the code more end of this week.

1. How do I test the 2.2.0 build? Is that the version in the `develop` branch?
2. Do I need to copy the project binary to a specific location on the target machine?

Thx!

[2022-03-20 07:29] terrymacdonald commented on #75
@sk666 Sorry this has taken some time for me to get back to fixing. I have been hard at work trying to get some new taskbar functionality added to DisplayMagician which turned out to be MUCH harder than I thought. I then took a little time off making DisplayMagician to recharge.

I've looked at your log files, and the first thing I can see that it successfully starts 2 programs, and then it thinks

[2022-03-20 08:11] sk666 commented on #75
Hi Terry,

Don't worry for the time it takes. May be I should give you another log because 2 weeks ago I changed my old GTX 970 for an RTX 3060. After the switch, I deleted all old DM configuration of the GTX 970 to statt new one with the RTX 3060. Do you think it's a good idea or if it does not matter?

I can say that the issue is still present but I don't know if I still have the "profile could

[2022-03-20 08:36] terrymacdonald commented on #75
Yes please. Please send me a new Support.zip file.

And congrats on getting your hands on a new video card. Those are hard to
find at the moment. DisplayMagician will work better with newer monitors.

Thanks
Terry

On Sun, 20 Mar 2022, 21:11 sk666, ***@***.***> wrote:

[2022-03-22 08:59] terrymacdonald commented on #50
@S4b0tage I may have some good news. I've been working the last month to add in the GetDisplayConfig and SetDisplayConfig support into the NVIDIALibrary, which as I understand it will store and set Image Scaling.  I've tested it myself and the setting is set successfully. This should hopefully add in the functionality you're looking for.

I've only tested it on my system so far, and I need your he

[2022-03-24 09:04] terrymacdonald commented on #83
@HS34 Can you please help?

I've been working the last month to add in the GetDisplayConfig and SetDisplayConfig support into the NVIDIALibrary, which grabs a lot more NVIDIA settings than I used to get. But I need people with unique hardware to test things for me. You have two NVIDIA cards, and I need to test that the new NVIDIALibrary updates I made will get your hardware working properly.

I ne

[2022-03-24 09:05] terrymacdonald commented on #78
@RBZL Can you please help?

I've been working the last month to add in the GetDisplayConfig and SetDisplayConfig support into the NVIDIALibrary, which grabs a lot more NVIDIA settings than I used to get. But I need people with different hardware to test things for me. I need to test that the new NVIDIALibrary updates I made will get your hardware working properly.

I need you to test NVIDIAInfo, a

[2022-03-24 09:07] terrymacdonald commented on #87
@sven25 Can you please help?

I've been working the last month to add in the GetDisplayConfig and SetDisplayConfig support into the NVIDIALibrary, which grabs a lot more NVIDIA settings than I used to get. But I need people with unique hardware to test things for me. You have unusual hardware, and I need you to test that the new NVIDIALibrary updates I made will work with your hardware properly.

[2022-03-24 15:11] RBZL commented on #78
I'm preparing for a trip in a few days so I may not have time to test it out prior to leaving, but I'll be back around April 4 and can try to check it out that week.

[2022-03-24 21:18] sk666 commented on #75
Hi Terry,

i tested it again in the past days and the only program that is not closed after i quit my game is DM itself. I can not open it or close it, I need to go in the task manager to kill it. After that, I will be able to open it again. When I had this bug, I moved my mouse on the DM syst tray icon and there was a message who said that my game is running but it's not true, the game was closed

[2022-03-24 23:04] terrymacdonald commented on #75
Hi @sk666,

Yeah, I've been doing some testing myself recently, and it looks like there
is an issue with closing some software down at the end of the game. It
seems to only happen to some software, and I haven't quite figured out what
the scenarios are when that happens. Now that I've pretty much finished
working on the updates to NVIDIALibrary and WinLibrary, I'll turn my
attention back to figuri

[2022-03-25 00:18] sk666 commented on #75
Hi Terry,

I start ATS with a desktop shortcut. I think the issue is different if I start ATS with the game shortcut window. May be this is the thing that have changed the behavior. I will try it again in the game shortcut windows tomorrow and I will keep you updated.

When I use my desktop shortcut, DM is closed and it is not running. I did not checked the box to run it on windows startup.

I hop

[2022-03-25 05:16] bjorg commented on #91
Hopefully I got this mostly right. I wasn't sure what you meant by triple and cloned screens. So instead, I cycled through the 4 display combinations I have access to. Let me know if you need anything else.

[results.zip](https://github.com/terrymacdonald/DisplayMagician/files/8347647/results.zip)

# Testing for NVIDIAInfo-v1.7.0

## Step 1 - Surround 3D Configuration

4x displays (1920x2160 @ 60H

[2022-03-25 10:02] sk666 commented on #75
Hi Terry,

I was able to close DM if game is started from the Game Shortcut Window, and everything seem to work well. So the problem seem to be only with a desktop shortcut.

Thank you

[2022-03-25 21:12] sven25 commented on #87
Hi Terry,
wow, it first looked kinda hard to do that, but there you go, the file is attached.
I really hope we can fix my problem with this and we can develop DisplayMagician with instructions like that.

Thanks and best regards
Sven
[NVIDIAInfo files.zip](https://github.com/terrymacdonald/DisplayMagician/files/8353816/NVIDIAInfo.files.zip)

[2022-03-25 22:23] terrymacdonald commented on #87
Yeah, I know there was a lot of steps to do, but it really is important for
me to figure out where the problem lies. It's worth help from people like
you that makes DisplayMagician better. So thank you!

Thanks
Terry

On Sat, 26 Mar 2022, 10:12 sven25, ***@***.***> wrote:

[2022-03-26 15:36] sven25 commented on #87
So i assume now just a bit of patience while you develop everything? :-)

[2022-03-26 18:09] terrymacdonald commented on #87
I need to find some time to get through your logs and find any issues. I'm
currently trying to fix a memory leak with the new NVIDIA GetDisplayConfig
functionality in adding, and troubleshooting some issues with some
processes not being stopped after a game closes.

I also develop this in my spare time  for a bit of fun. I unfortunately
don't have as much spare time as I once did, which means the

[2022-03-26 20:04] sven25 commented on #87
All fine Terry, i don't want to argue with you, please don't get me wrong there.

I like it very much when developers are in touch with the users to develope their programs.

Keep up the great work!

[2022-03-26 20:27] terrymacdonald commented on #87
Hi @Sven25,

Oh sorry, I didn't mean it that way if that's what it seemed. I was just
highlighting some of the reasons I haven't been as responsive as I normally
am. I'm really wanting to make sure this is the last time that users will
need to recreate their display profiles, so I'm trying to make sure the
NVIDIALibrary and WinLibrary are both as reliable as possible, and cope
with the huge range

[2022-03-27 03:14] gptech2444 opened #93 "4 monitor, switching to surround as triples and 4th as extra positioned wrong"
**Describe the bug**
I have the 4th monitor set above the triples but when DM switches to the surround profile it places the 4th monitor to the right of the triples instead of on top.

https://youtu.be/-1y8C5SBncQ

[2022-03-27 22:17] bjorg commented on #91
@terrymacdonald Not sure if my logs helped you, but NVIDIAInfo is pretty much what I needed for my use case. It restores the bits-per-pixel as well. To determine the current display mode, I used `EnumDisplayDevices` and `EnumDisplaySettings`. Knowing the current display mode was needed, because the NVidia Surround implementation is not fond of having it's monitors switch resolutions while enabled.

[2022-03-28 17:06] S4b0tage commented on #50
Hey Terry,

sorry for the late reply, had quite a lot to do at work, IT-infrastructure is currently undergoing a huge change with our customer, but I took the time now to test as mentioned by you, everything seems to work just fine as of my point of view.
Attached are the logs and cfg files. ;)

[NVIDIAInfo-v1.6.1-log.zip](https://github.com/terrymacdonald/DisplayMagician/files/8364833/NVIDIAInfo-

[2022-03-29 19:07] terrymacdonald commented on #93
Hi @gptech2444,

Unfortunately I need a lot more information in order to help troubleshoot.

* What version of DisplayMagician are you using?
* what is the make and model of you video card?.
* what make and model are your displays, and how are they connected to the video card (Display Port, HDMI, etc)
* are you using windows 10 or windows 11?

Also, I'll need you to attempt to apply the display pr

[2022-03-30 09:52] gptech2444 commented on #93
I was hoping there was an easy fix or something I was doing wrong.
I have a PNY XLR8 RTX3090 with latest driver
4th monitor is LG 24GL600F connected by HDMI
triples are Dell S2721DGF connected by DP
DisplayMagician is 2.1.5.5 version just downloaded from github.
and Windows 10 that is fully updated.
Attached is zip file.
Thanks.

On Wed, 30 Mar 2022 at 06:08, terrymacdonald ***@***.***>
wrote:

[2022-04-01 22:30] terrymacdonald commented on #91
@bjorg Hey that's cool news! FYI I've added a `DisplayMagician CurrentProfile` command line option that will spit out the current profile in use. Hopefully that makes things work for you.

Also, the new library we tested in NVIDIAInfo is now in the DisplayMagician develop branch, and I'm just finishing up some troubleshooting around shutting down start programs before I think about a new release.

[2022-04-01 22:30] #91 closed

[2022-04-06 18:40] jamesd408 opened #95 "BSOD when switching monitor profiles"
**Describe the bug**
BSODs occurs occasionally when switching monitor profiles. It occurs when switching from my 2 monitor profile to my 3 monitor Surround profile.

**Environment
 (please complete the following information):**
 - Windows Version: Win11
 - DisplayMagician Version: 2.1.55
 - Video Card: Asus RTX2080 Super
 - Number and make/model of monitors: 3x LG LG GN650-B (DP), 1x Dell S3220DGF

[2022-04-06 19:14] terrymacdonald commented on #95
Hi @Janesd408,

Have you tried deleting your old display profiles, and then recreating
them?

DisplayMagician dumps the display configuration raw from windows and the
NVIDIA driver. This is done so that we capture as many settings as possible
from the current display configuration, but it does also mean that
DisplayMagician is susceptible to errors if there are large changes in the
NVIDIA driver o

[2022-04-09 21:56] terrymacdonald commented on #87
Hi @sven25,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adaptiv

[2022-04-09 21:57] terrymacdonald commented on #50
Hi @S4b0tage

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adapti

[2022-04-09 21:58] terrymacdonald commented on #53
Hi @gretzer,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adapti

[2022-04-09 21:59] terrymacdonald commented on #75
Hi @sk666 ,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adaptiv

[2022-04-09 22:00] terrymacdonald commented on #83
Hi @sven25,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adaptiv

[2022-04-09 22:00] terrymacdonald commented on #88
Hi @sven25,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adaptiv

[2022-04-09 22:01] terrymacdonald commented on #93
Hi @gptech2444,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, ada

[2022-04-09 22:02] terrymacdonald commented on #95
Hi @jamesd408,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, and it's possible that it will solve the issues that you've been experiencing. NVIDIALibrary can now handle multiple physical adapters in a logical group, dvi-d and earlier connections, USB connected displays, adap

[2022-04-09 22:18] terrymacdonald commented on #64
Hi @Outerspacejunky16 ,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, but it also has a few improvements to the AMDLibrary too. I don't have a supported AMD video card to test with unfortunately, so I was hoping you would be able to do some testing for me.

[DisplayMagicianS

[2022-04-09 22:20] terrymacdonald commented on #37
Hi @scowling,

I've just finished DisplayMagician v2.3.0.35 which is hopefully the next big release of DisplayMagician. It has a lot of improvements and bug fixes to the NVIDIALibrary, but it also has a few improvements to the AMDLibrary too. I don't have a supported AMD video card to test with unfortunately, so I was hoping you would be able to do some testing for me.

[DisplayMagicianSetup-v2.3.

[2022-04-09 22:42] RBZL commented on #78
Got around to this today, here you go:

[NVIDIAInfo-tests.zip](https://github.com/terrymacdonald/DisplayMagician/files/8457855/NVIDIAInfo-tests.zip)

Pretty slick, and the taskbars behaved too. Not sure if that was coincidence or not. I didn't move the taskbars around all crazy in my tests, but the center taskbar returned to the center screen when I activated triple.cfg.

Notes:

I encountered the

[2022-04-10 03:15] terrymacdonald commented on #78
Hi @RBZL,

As I mentioed before I've had to remove the custom Windows taskbar setting functionality from upcoming the DisplayMagician v2.3.0 release, but I'd love it if you could test that release for me. DisplayMagician v2.3.0 fixes a lot of issues (including the Unhandled exception errors you posted above).

I'm hoping this version is reliable enough to be the next long term release. We'll see h

[2022-04-11 05:36] scowling commented on #37
Hey @terrymacdonald
Absolutely swamped with work at the moment; unlikely to be able to test until after Easter .. that ok?

[2022-04-11 06:39] gretzer commented on #53
Hi Terry,

thanks for your effort. After installation of the new version it unfortunately does not start anymore.

![image](https://user-images.githubusercontent.com/84306602/162679147-d8b3f5c4-15b1-4a3b-ad87-cace151427c9.png)

any hint?

[2022-04-11 06:53] terrymacdonald commented on #53
Can you please send me your DisplayMagician.log files (should be 4 of them)
in your C:\Users\<Username>\AppData\Local\Displaymagician\Logs folder? That
should tell me where the error lies, and give me an idea of where to fix.

Oh, also please upload through the Display profiles.json in case that helps.

Is that screenshot what you got straight after the upgrade?

Thanks
Terry

On Mon, 11 Apr 2022,

[2022-04-11 06:56] terrymacdonald commented on #37
Yeah of course! There's no pressure on the timeline. Just whenever is fine.
Youcve just got such a unique setup that I know if it works for you or will
work for anyone... That's the only reason I ask 🙂.

Feel free to tell me to stop contacting you if you'd prefer. I don't want
you to feel like you have to help all the time. So seriously please tell me
when you like to stop testing.

Thanks
Terry

[2022-04-11 07:03] gretzer commented on #53
Hey Terry,

of course. Here!

[Logs.zip](https://github.com/terrymacdonald/DisplayMagician/files/8461744/Logs.zip)
[Profiles.zip](https://github.com/terrymacdonald/DisplayMagician/files/8461746/Profiles.zip)

greets

[2022-04-11 20:16] terrymacdonald commented on #53
Gah! The issue is my botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json`
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3.0.36.zip)
- Run DisplayMagician

[2022-04-11 20:18] terrymacdonald commented on #95
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:18] terrymacdonald commented on #93
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:18] terrymacdonald commented on #88
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:18] terrymacdonald commented on #87
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:19] terrymacdonald commented on #83
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:19] terrymacdonald commented on #78
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:19] terrymacdonald commented on #50
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:20] terrymacdonald commented on #91
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-11 20:20] terrymacdonald commented on #37
Sorry! We just found an issue with some botched Display Profile upgrade logic :(.  Now fixed.

Please do the following:

- Delete `C:\Users\<Username>\AppData\Local\Displaymagician\Profiles\DisplayProfiles_2.3.json` if it exists.
- Install this new DisplayMagician version:
[DisplayMagicianSetup-v2.3.0.36.zip](https://github.com/terrymacdonald/DisplayMagician/files/8467396/DisplayMagicianSetup-v2.3

[2022-04-12 08:30] gptech2444 commented on #93
Unfortunately this hasn't remedied the issue.
Now DM won't recognize the triples in surround mode and will only show the 4th monitor when clicking "view current display"
Works fine if triples aren't setup in surround mode.
![image](https://user-images.githubusercontent.com/14959218/162916807-887d6e0b-ef70-4dec-82c7-f88d7d6c5408.png)

[2022-04-12 08:37] gptech2444 commented on #93
I added it just before you replied
[DisplayMagician-Support-20220412-1834.zip](https://github.com/terrymacdonald/DisplayMagician/files/8471194/DisplayMagician-Support-20220412-1834.zip)
.

[2022-04-12 21:18] terrymacdonald commented on #93
@gptech2444,

I've checked the NVIDIALibrary side of things, and it looks as though the display profile can be used.

[code]

The Display identifiers show that the screens are detected fine by NVIDIA:

[code]

Weird things are occurring though in the WinLibrary component, where I saw this happening:
[code]

[2022-04-12 21:27] terrymacdonald commented on #93
@gptech2444 I also swapped out my own DisplayProfile and used your DisplayProfiles_2.3.json, and DisplayMagician worked fine:

![image](https://user-images.githubusercontent.com/5721772/163057243-6871e3f4-c005-4699-978c-4b9d872778c2.png)

So I think the display layout image logic itself is fine. It looks to be something specific to your machine :(.

Can you try rebooting to see if that make things

[2022-04-13 02:42] gptech2444 commented on #93
It still only shows the 4th 1080p monitor as the only monitor when the triple 1440's are setup in surround on the layout preview in DM.
I can send you the support file later today.

[2022-04-13 03:06] terrymacdonald commented on #93
Hi @gptech2444,

That is strange. Why did it work for me and not for you?

Can you please try deleting that display profile and then try saving it
again? Does it still show in the display layout image incorrectly?

Thanks

*Terry*

[2022-04-13 07:45] gptech2444 commented on #93
[DisplayMagician-Support-20220413-1745.zip](https://github.com/terrymacdonald/DisplayMagician/files/8479195/DisplayMagician-Support-20220413-1745.zip)

DM crashed just before creating that support file.

[2022-04-13 10:54] terrymacdonald commented on #93
@gptech2444 Great news! I found some bugs that may explain what you were seeing. The graphics calculation logic was wrong for some NVIDIA configurations, so I've overhauled the calculations to use the new NVIDIA DisplayConfig features that were added in this latest release of DisplayMagician. This greatly simplifies the graphics calculation logic so I know it will work more reliably. I still have

[2022-04-13 10:55] terrymacdonald commented on #53
@gretzer I've found the cause of the error you were seeing, and I've _partially_ fixed it. I still have a bit more work to go on it, but should have a new build for you to try in the next few days.

[2022-04-14 09:30] terrymacdonald commented on #53
@gretzer New build time! I *think* I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some of t

[2022-04-14 09:31] terrymacdonald commented on #93
@gptech2444 New build time! I *think* I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some o

[2022-04-14 09:31] terrymacdonald commented on #95
@jamesd408 New build time!

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some of the issues that occurred when creating new Game Sho

[2022-04-14 09:32] terrymacdonald commented on #88
@jbretthorton New build time! I *think* I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some

[2022-04-14 09:32] terrymacdonald commented on #87
@sven25 New build time! I *think* I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some of th

[2022-04-14 09:33] terrymacdonald commented on #83
@HS34 New build time! I *think* I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some of the

[2022-04-14 09:34] terrymacdonald commented on #50
@S4b0tage New build time! I *think* I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I've also found some bugs with the rebuild of the ShortcutForm and ShortcutItem that I did in v2.3 and fixed those, so that should stop some of

[2022-04-14 10:45] jbretthorton commented on #88
Thanks for the update sir! your work is appreciated 

    On Thursday, April 14, 2022, 05:32:45 AM EDT, terrymacdonald ***@***.***> wrote:

@jbretthorton New build time! I think I've fixed the issues you've experienced.

I've completely changed the way that display profile layout images have are created, and it's a lot simpler, so should avoid some of the issues that you would have experienced. I'

[2022-04-14 13:15] S4b0tage commented on #50
Hey Terry,

It´s looking very good right now, switching seems to work exactly as expected, awesome work once again.
I only experienced one minor issue though, when using the context menu on the desktop I cant access my saved profiles.
From the Icon Taskbar it works just fine.
![image](https://user-images.githubusercontent.com/58745884/163397801-168213e4-1a90-4285-ad38-b23009487b08.png)

[DisplayMa

[2022-04-14 19:45] terrymacdonald commented on #50
Oh yeah! Thanks for the reminder. I need to update the desktop plugin to
use the new display profile json file.

I'll update in the code, ready for the next release.

Thanks for the testing.

Terry

On Fri, 15 Apr 2022, 01:15 Draftlight, ***@***.***> wrote:

[2022-04-14 23:49] terrymacdonald commented on #50
@S4b0tage Can you please download and test this version? The Desktop context menu should be working again now.
[DisplayMagicianSetup-v2.3.1.1.zip](https://github.com/terrymacdonald/DisplayMagician/files/8492902/DisplayMagicianSetup-v2.3.1.1.zip)

[2022-04-15 06:50] terrymacdonald commented on #50
@S4b0tage Actually here is an even later version. I found a bug that only happens during cloned screens that means the display layout image is incorrect when a display profile contains a cloned display. This version fixes that issue. I can't find any more bugs today based on all my testing. We might be close to a proper release!

[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonal

[2022-04-15 06:53] terrymacdonald commented on #67
Hey @erbkaiser,

Hope the year has been treating you well. I thought you might like to test the latest DisplayMagician v2.3.1.7 which is in the final stages of testing. It fixes a lot of issues since v2.2.0.112 that you had before, so I'd love it if you could give it a try.

[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494367/DisplayMagicianSetup-v2.

[2022-04-15 06:56] terrymacdonald commented on #50
Also, I'm going to close this issue as it should be fixed in DisplayMagician v2.3.1.7 which will be released within the couple of days. I'm closing this case so I can keep track of which issues are outstanding.

If you still have the same problem once DisplayMagician v2.3.1.7 is released, please feel free to reopen this issue. If you have a new issue please open a NEW issue so I can track that pro

[2022-04-15 06:56] terrymacdonald commented on #95
@jamesd408 I'm going to close this issue as it should be fixed in DisplayMagician v2.3.1.7 which will be released within the couple of days. I'm closing this case so I can keep track of which issues are outstanding.

If you still have the same problem once DisplayMagician v2.3.1.7 is released, please feel free to reopen this issue. If you have a new issue please open a NEW issue so I can track tha

[2022-04-15 06:56] #95 closed

[2022-04-15 06:56] #50 closed

[2022-04-15 06:59] terrymacdonald commented on #93
@gptech2444 I think this version will work for you. Can you please install this version instead of the one I suggested in previous comments and test that the problem is fixed, and then report back here.
[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494408/DisplayMagicianSetup-v2.3.1.7.zip)

If the issue is fixed then please also close this issue so I

[2022-04-15 07:01] terrymacdonald commented on #88
@jbretthorton I think this version will work for you. Can you please install this version instead of the one I suggested in previous comments and test that the problem is fixed, and then report back here.
[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494408/DisplayMagicianSetup-v2.3.1.7.zip)

If the issue is fixed then please also close this issue so

[2022-04-15 07:02] terrymacdonald commented on #87
I think this version will work for you. Can you please install this version instead of the one I suggested in previous comments and test that the problem is fixed, and then report back here.
[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494408/DisplayMagicianSetup-v2.3.1.7.zip)

If the issue is fixed then please also close this issue so I can keep tra

[2022-04-15 07:03] terrymacdonald commented on #83
@HS34 I think this version will work for you. Can you please install this version instead of the one I suggested in previous comments and test that the problem is fixed, and then report back here.
[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494408/DisplayMagicianSetup-v2.3.1.7.zip)

If the issue is fixed then please also close this issue so I can ke

[2022-04-15 07:04] terrymacdonald commented on #78
@HS34 I think this version will work for you. Can you please install this version instead of the one I suggested in previous comments and test that the problem is fixed, and then report back here.
[DisplayMagicianSetup-v2.3.1.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494408/DisplayMagicianSetup-v2.3.1.7.zip)

If the issue is fixed then please also close this issue so I can ke

[2022-04-15 07:33] gptech2444 commented on #93
That appears to be working. I had to delete the profile I had and save a new one. It did crash once the first time I tried but was ok on the 2nd try.
[DisplayMagician-Support-20220415-1732.zip](https://github.com/terrymacdonald/DisplayMagician/files/8494631/DisplayMagician-Support-20220415-1732.zip)

[2022-04-15 07:33] #93 closed

[2022-04-15 10:17] S4b0tage commented on #50
Sorry Terry, was sleeping otherwise I would´ve tested this earlier (Was already midnight in germany) 😂
But yeah its working perfectly now, thanks a lot again, im happy that integer scaling is also working now, thats a huge step for the ETS2 community.

[2022-04-15 10:38] jbretthorton commented on #88
Wilco
    On Friday, April 15, 2022, 03:02:07 AM EDT, terrymacdonald ***@***.***> wrote:

@jbretthorton I think this version will work for you. Can you please install this version instead of the one I suggested in previous comments and test that the problem is fixed, and then report back here.
DisplayMagicianSetup-v2.3.1.7.zip

If the issue is fixed then please also close this issue so I can keep

[2022-04-15 13:20] sk666 commented on #75
Hi Terry,

Thank you for your hard work with DM. I tested some build since the build 2.3.0.35 and my issue still occur. If I start DM by a desktop icon, DM will not be able to close the started program (tab #3 Choose what happens before), DM will freeze after the game will be closed and I need to kill DM in the task manager. Hopefully,The bug is not present if I use the "run" button from the "game

[2022-04-15 15:16] HS34 commented on #78
Hi Terry,
I can't view current display with this version (same problem with 2.3.0.50)
![image](https://user-images.githubusercontent.com/24624829/163587997-9082958e-03ab-4bc6-a19c-2420d43db01b.png)

When saving the profile, I've got the following exception :
[Exception.txt](https://github.com/terrymacdonald/DisplayMagician/files/8496658/Exception.txt)

Associated log :
[DisplayMagician.log](https:

[2022-04-15 18:20] terrymacdonald commented on #78
Hi,

Can you please create a  for me? Click on the Settings button on the main
DisplayMagician window, then click "Create Support ZIP File" button. Please
upload that file here as it gives me all the files I need.

Thanks
Terry

On Sat, 16 Apr 2022, 03:16 HS34, ***@***.***> wrote:

[2022-04-15 18:26] terrymacdonald commented on #50
Just a quick note to say that there is a problem with a bug for some people
with some screens. So another version or two to go before the main
release....

Really glad it's working for you though. So close to everything working!

Thanks
Terry

On Fri, 15 Apr 2022, 22:17 Draftlight, ***@***.***> wrote:

[2022-04-15 20:03] HS34 commented on #78
Sure :
[DisplayMagician-Support-20220415-2201.zip](https://github.com/terrymacdonald/DisplayMagician/files/8498041/DisplayMagician-Support-20220415-2201.zip)

[2022-04-16 02:19] terrymacdonald commented on #78
OK @HS34 It looks like it's something to do with having two video cards that is causing the issue. I'll have to do some detective work to try and figure out what is broken in order to figure out a fix. I only have one video card so it's not something I can test. DisplayMagician is breaking just before it writes the display config, which means I can't see your display layout to understand what is c

[2022-04-16 03:16] terrymacdonald commented on #78
Also, I've tried to preempt some potential problem points, and I've made some changes that _may_ help fix the problem.

Can you please also install DisplayMagician v2.3.1.12 which I've attached here:
[DisplayMagicianSetup-v2.3.1.12.zip](https://github.com/terrymacdonald/DisplayMagician/files/8499167/DisplayMagicianSetup-v2.3.1.12.zip)

It might work now.... Please tell me if it works now or if the

[2022-04-16 06:02] terrymacdonald commented on #53
@gretzer Another build with a couple of additional fixes that other users have reported.

The exception error when showing/saving a new profile should be fixed now. As should the detecting of the main game shutting down. You can test the new version works by downloading DisplayMagician v2.1.3.12 from here:
[DisplayMagicianSetup-v2.3.1.12.zip](https://github.com/terrymacdonald/DisplayMagician/files

[2022-04-16 06:03] terrymacdonald commented on #88
@jbretthorton Another build with a couple of additional fixes that other users have reported.

The exception error when showing/saving a new profile should be fixed now. As should the detecting of the main game shutting down. You can test the new version works by downloading DisplayMagician v2.1.3.12 from here:
[DisplayMagicianSetup-v2.3.1.12.zip](https://github.com/terrymacdonald/DisplayMagician/

[2022-04-16 06:03] terrymacdonald commented on #83
Another build with a couple of additional fixes that other users have reported.

The exception error when showing/saving a new profile should be fixed now. As should the detecting of the main game shutting down. You can test the new version works by downloading DisplayMagician v2.1.3.12 from here:
[DisplayMagicianSetup-v2.3.1.12.zip](https://github.com/terrymacdonald/DisplayMagician/files/8499351/

[2022-04-16 22:34] cerahmed commented on #65
Hi there, I stumbled upon this issue as I have the exact same problem.
I have tried the latest stable release as well as downgraded to V2.1.1.64 referenced in this thread in hope that it will solve the issue.

I have an android tablet via Superdisplay as my fifth monitor, and I have created two profiles: 1) with the tablet duplicating my main monitor, and 2) with the tablet as an extended monitor

[2022-04-17 02:51] terrymacdonald commented on #65
Hi,

Can you please create a new issue so that I can track your issue
separately. Please also try installing v2.3.1.12 which is available on
another issue, e.g.
https://github.com/terrymacdonald/DisplayMagician/issues/88

Please see if you still have an issue, and if you do please create a
Support ZIP File from the settings window. Then upload the zip file to that
new issue through your web browse

[2022-04-17 23:58] cerahmed opened #96 "V2.3.1.12 - Superdisplay with Duplicate Mode not Loading Correctly"
**Describe the bug**

My setup is as follows:

Monitors 1,2,3 -> Normal Wired Monitors to RTX3070 (DP/HDMI).
Monitor 4 -> Android phone connected through USB via Spacedesk app.
Monitor 5 -> Android tablet connected through Wi-Fi via Superdisplay app.

I'm using the latest version V2.3.1.12 found in [issue#88](https://github.com/terrymacdonald/DisplayMagician/issues/88#issue-1134162268).

When all

[2022-04-18 02:33] terrymacdonald commented on #96
Hi,

I've not heard of Spacedesk before. I might try to find out more about how
it works. I expect it will be like Superdisplay, which meant I needed to
add a new video card vendor ID to the supported list. I expect I'll need to
do that to get it to work.

There may also be some issues in how either application interacts with the
NVIDIA Display Config functions. In order to add support for some of

[2022-04-18 11:05] erbkaiser commented on #67
Hey Terry,

great that you're still working on DM!

Unfortunately, I'm still in the middle of moving house so I don't have my PC setup. Currently working from a laptop with no external screen attached, so I won't be able to test until I have a desk space set up again.

[2022-04-18 11:50] cerahmed commented on #96
Hi Terry,

I can confirm that the issue does NOT have to do with Spacedesk per se. I have disconnected disabled Spacedesk, keeping only 3 wired monitor + 1 Superdisplay.

I went ahead and recreated new profiles as above: 1) with Superdisplay as an extended display, and 2) with Superdisplay duplicating the main monitor.

The same behavior still persists: I can apply the extended display profile, bu

[2022-04-18 13:11] cerahmed commented on #96
Update:

Strange thing. I have tried Monitor Profile Switcher app ([Link](https://sourceforge.net/projects/monitorswitcher/)) and I was able to switch to the "duplicate" profile (where my Superdisplay monitor is duplicating the main monitor), but the app fails to load the extended profile (where my Superdisplay is an extended monitor)!

Quite the opposite result I'm getting with DisplayMagician!

[2022-04-18 13:28] sk666 commented on #75
hi Terry,

little update with the 2.3.1.12 (and may be with 2.3.1.7 also). This version break my shell explorer when I do a right click on my desktop, than it crash my file explorer to reload it. I can not have my right click desktop menu with this version. Works well with 2.3.0.36 build so I need to revert back to a previous version of DM to resolve this issue. But as you said in an other bug trh

[2022-04-18 18:36] terrymacdonald commented on #96
Hi,

It is possible to do, it's more a question of whether DisplayMagician can
do it.

This version of DisplayMagician now uses the NVIDIA display config
functions to extract the advanced settings that allow us to track things
like image scaling. This is functionality that a lot of people have been
asking for, and it's taken a bit of work to try and get working properly.

There is a possibility th

[2022-04-18 21:50] terrymacdonald commented on #96
@cerahmed After doing some digging it looks like it may be something related to the patching of the windows HDR configuration  for SpaceDesk.  This bit specifically:

[code]

There should be some additional "Going through ..." log entries in there as it patches the various parts of the config upon loading. It's stopping at the HDR processing part, which is odd. I have added some more logging to th

[2022-04-18 21:56] terrymacdonald commented on #75
@sk666 Please try DisplayMagician 2.3.1.26 attached here. This is the almost latest test build and should hopefully fix your issues. You will need to delete you old display profiles, and create them again. It *should* work then. If not, please reply with details on what's broken, and we'll see what else needs to be fixed.

[DisplayMagicianSetup-v2.3.1.26.zip](https://github.com/terrymacdonald/Disp

[2022-04-18 22:00] terrymacdonald commented on #96
@cerahmed Can you also please try this version 2.3.1.27 of DisplayMagician, as it has some more logging in the areas I've mentioned above.
[DisplayMagicianSetup-v2.3.1.27.zip](https://github.com/terrymacdonald/DisplayMagician/files/8508398/DisplayMagicianSetup-v2.3.1.27.zip)

Please delete and recreate your two display profiles. Please then try swapping between your two display profiles and tell m

[2022-04-19 01:38] sk666 commented on #75
Hi Terry,

thank you for the fast answer. Build 2.3.1.26 is a huge improvement, it fix all of my previous problem. I think that the missing icon was the cause of the crash when I did a right click on the desktop because this icon is present in the desktop context menu.

I don't know if this is a bug or if it's intended (it's only for your information and I dont personally need a fix for that), I n

[2022-04-19 01:48] cerahmed commented on #96
Hey Terry, you're a genius! .. it works flawlessly now.

- I have uninstalled the previous version and installed v2.3.1.27.
- Rebooted the PC, then recreated new profiles for both Extended Superdisplay + Duplicated Superdisplay.
- Switched to the Extended profile, then back to the Duplicated profile .. works!
- Saved the logs in the attached zip.

The only MINOR issue remaining is that the monitor

[2022-04-19 01:58] terrymacdonald commented on #75
Cool! If everything is fixed please close the issue.

Thanks
Terry

On Tue, 19 Apr 2022, 13:38 sk666, ***@***.***> wrote:

[2022-04-19 02:03] terrymacdonald commented on #96
Hi,

I *think* I know where the issue may be. I'll use your logs to confirm over
the next few days and see if I can figure out a workaround.

My guess is that moving the display logic to use the NVIDIA config for
NVIDIA devices also stopped the Superdisplay and Spacedesk from being seen
by that code.

Thanks
Terry

On Tue, 19 Apr 2022, 13:48 cerahmed, ***@***.***> wrote:

[2022-04-19 03:39] terrymacdonald commented on #96
@cerahmed Right. I've bashed out some code and I *think* it will work. My guess appears to be right. The issue was that the display layout image generator used the NVIDIA display config driver functions, and unfortunately they only return the displays connected to the NVIDIA driver :/. Not what we wanted.

The new code also checks the displays that Windows knows about, and then it compares the lis

[2022-04-19 03:41] terrymacdonald commented on #75
Oh BTW, I'll take a look at the alignment thing as a separate internal thing. Thanks for the heads up about it though!

[2022-04-19 04:48] cerahmed commented on #96
Works perfectly and shows correct monitors previews!!

1) Uninstalled previous version and installed v2.3.1.28.
2) Rebooted the system, deleted the previous profiles, and recreated new ones for Extended + Duplicated (below screenshots).
3) Tried switching back and forth between Extended and Duplicated profile .. flawless!
4) Saved the logd (attached).

<img width="500" alt="Extended" src="https://

[2022-04-19 05:51] #96 closed

[2022-04-19 05:51] terrymacdonald commented on #96
Issue foxed in mainline code, so closing issue.

[2022-04-19 10:23] terrymacdonald commented on #78
@hs34 @RBZL I have worked through many issues over the last week, so I recommend that you do some testing with this version:
[DisplayMagicianSetup-v2.3.1.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/8512144/DisplayMagicianSetup-v2.3.1.50.zip)

I **strongly** recommend that  you delete your old display profiles and recreate them again just to be 100% sure you're running the lates

[2022-04-19 10:24] terrymacdonald commented on #53
@gretzer I have worked through many issues over the last week, so I recommend that you do some testing with this version:
[DisplayMagicianSetup-v2.3.1.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/8512144/DisplayMagicianSetup-v2.3.1.50.zip)

I **strongly** recommend that  you delete your old display profiles and recreate them again just to be 100% sure you're running the latest v

[2022-04-19 10:26] terrymacdonald commented on #75
@sk666 I have worked through many issues over the last week, so I recommend that you do some testing with this version:
[DisplayMagicianSetup-v2.3.1.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/8512144/DisplayMagicianSetup-v2.3.1.50.zip)

This should also fix the image alignment in desktop shortcut icons you found. Turned out I needed to rewrite some more image generation logic

[2022-04-19 10:26] terrymacdonald commented on #87
@sven25  I have worked through many issues over the last week, so I recommend that you do some testing with this version:
[DisplayMagicianSetup-v2.3.1.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/8512144/DisplayMagicianSetup-v2.3.1.50.zip)

I **strongly** recommend that  you delete your old display profiles and recreate them again just to be 100% sure you're running the latest v

[2022-04-19 10:27] terrymacdonald commented on #88
@jbretthorton  I have worked through many issues over the last week, so I recommend that you do some testing with this version:
[DisplayMagicianSetup-v2.3.1.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/8512144/DisplayMagicianSetup-v2.3.1.50.zip)

I **strongly** recommend that  you delete your old display profiles and recreate them again just to be 100% sure you're running the la

[2022-04-19 20:10] terrymacdonald commented on #75
Hi  @sk666,

The profile image is created when the display profile is created, and
doesn't get updated again. So can you please delete the Surround profile
from DisplayMagician, and then create it again? I think it might work this
time correctly.... Please see if it is green in the display profiles window
(and take a screenshot again please).

And then please edit your ATS game shortcut to use the

[2022-04-19 20:22] sk666 commented on #75
Hi Terry,

i did it and same behavior. I give you the support log in case that you want to fix it but it's not ma

ndatory in my case. I'm very happy with this version and I can live with that without any problems.

Thank you

[2022-04-19 20:38] gretzer commented on #53
Hello Terry!

First of all, sorry for my late response. the last days were busy...

I tested v2.3.1.50. So far the software runs without crashes. But the maximum FPS in the nvidia control panel is not changing when I change the profile. :(

greets
gretzer

[2022-04-19 21:41] terrymacdonald commented on #75
Hi @sk666,

You might be able to live with it broken but I can't ;).

I've found the issue, and corrected it. This version should fix all the errors (but only will do so when you create a new display profile and have edited a shortcut using that profile). I've tested it and it works. If you could do these last tests then report back that would be really helpful.

[DisplayMagicianSetup-v2.3.1.56.zi

[2022-04-19 21:41] #75 closed

[2022-04-19 21:47] terrymacdonald commented on #53
Hi @gretzer,

I've found an issue with the colour of the screen in a surround profile, and I've corrected it in this version. It should fix all the profile display errors (but only will do so when you create a new display profile and have edited a shortcut using that profile).

[DisplayMagicianSetup-v2.3.1.56.zip](https://github.com/terrymacdonald/DisplayMagician/files/8516635/DisplayMagicianSetup

[2022-04-20 06:49] HS34 commented on #78
Hi,
Thanks Terry, this version works great !
All switches ok (4 screens, surround, cloned). That's the most important for me. Thank you.

Remaining problems :
- DisplayMagician just exited after the first (successfull) switch from surround to "4 screens". See DisplayMagician1.log. No problem with following switches.
- Windows task bar position is not restored (it should be on my right screen, but

[2022-04-20 08:22] terrymacdonald commented on #53
@gretzer, I finally found where the settings are stored! They are in the Driver Settings section, which is separate from the other functions I've been searching through: https://docs.nvidia.com/gameworks/content/gameworkslibrary/coresdk/nvapi/group__drsapi.html#func-members

The bad news is that there is quite a lot of work to build the structures required to process and store these settings, writ

[2022-04-20 08:31] terrymacdonald commented on #78
@HS34 I've had to remove the taskbar placement support from DisplayMagician. It wouldn't reliably work. I managed to move the taskbars using some tricky windows manipulation logic, but it meant that the start menu wouldn't open at all. Which is not what people want :).

I therefore decided to park the taskbar display logic for another 6 months or so, as I've heard rumors that Microsoft will be add

[2022-04-20 08:33] terrymacdonald commented on #83
@HS34 am I able to close this issue then if your last experiments show that switching Surround off now works? If it has worked then I will close this issue.

[2022-04-20 08:33] #83 closed

[2022-04-20 08:46] HS34 commented on #78
Thanks Terry,
Taskbar position is not a big problem. It's fast to move it after the switch. And you're right... I need the start menu from time to time... ;)
I won't move to windows 11 on this PC (too old). I will keep it as is to play old games in 3D surround as long as I can.
DisplayMagician is a great tool !

[2022-04-20 10:38] sk666 commented on #75
Hi Terry,

don,t know if it's ok to right this here but I just wanna say that 2.3.1.56 works fine. I tried everything that I use and could not "broke" it and I did not see any bug so I think it can be the next official build for everyone.

Let me know in the futur if I can test something for you, I will be more than happy to assist you. Just tag my name in the post that you need my help.

Thank yo

[2022-04-20 10:56] terrymacdonald commented on #75
Aww thanks for the kind words. I really like helping everyone out. I hope
that it makes everyone's life so much simpler.

Thanks
Terry

On Wed, 20 Apr 2022, 22:38 sk666, ***@***.***> wrote:

[2022-04-20 20:40] terrymacdonald commented on #88
@jbretthorton I've just released a new version of DisplayMagician that should fix the issue you're experiencing. Please download DisplayMagician v2.3.1.60 from [https://github.com/terrymacdonald/DisplayMagician/releases/tag/v2.3.1](https://github.com/terrymacdonald/DisplayMagician/releases/tag/v2.3.1) and see how things go.

I will close this issue for now, but if you have exactly the same issue t

[2022-04-20 20:40] #88 closed

[2022-04-20 20:40] terrymacdonald commented on #87
@sven25 I've just released a new version of DisplayMagician that should fix the issue you're experiencing. Please download DisplayMagician v2.3.1.60 from [https://github.com/terrymacdonald/DisplayMagician/releases/tag/v2.3.1](https://github.com/terrymacdonald/DisplayMagician/releases/tag/v2.3.1) and see how things go.

I will close this issue for now, but if you have exactly the same issue then pl

[2022-04-20 20:40] #87 closed

[2022-04-20 21:36] terrymacdonald opened #97 "Update .net version from v4.8 to .NET 8"
**Is your feature request related to a problem? Please describe.**
The existing DisplayMagician UI uses Windows.Forms and uses the .NET Framework 4.8. The UI looks a bit ancient, and has a few bits that annoy me due to the limitations of Windows Forms in .NET Framework 4.8. Additionally, .NET Framework 4.8 is pretty old now, and although it currently doesn't have an end date for support, it makes

[2022-04-23 05:12] mastercko opened #98 "Unable to Save MS Flight Simulator Game Shortcut"
DisplayMagician version: 2.3.1.60
OS: Windows 10
OS Version: 10.0.19044 Build 19044
Nvidia GeForce Drivers Version: 512.15

Upon updating to the new version of DisplayMagician, I was able to recreate both of my Display Profiles as expected.
When I went to my Game Shortcuts to update them, all of them were marked with an exclamation point, which I expected, given the update and the need to redo the

[2022-04-23 05:16] mastercko commented on #98
Upon looking in the logs, I'm seeing this:

So just to avoid this I'm trying to delete or switch away from the "wait for alternative executable" setting, but even if I do that, the Save Button is still not displaying.

[2022-04-23 08:50] terrymacdonald commented on #98
Hi @mastercko ,

Is the file 'C:\Program Files\WindowsApps\Microsoft.FlightSimulator_1.22.2.0_x64__8wekyb3d8bbwe\FlightSimulator.exe' actually there? Can you open windows explorer and go to that location? It might be that flight simulator has been updated,  and no longer exists in that location.

If it does still exist in that location, then how are you adding it to the game shortcut? Are you addi

[2022-04-23 11:04] mastercko commented on #98
Hi @terrymacdonald,

Thanks for jumping on so quick.

Regarding your first question: Yes, the file exists there. Attached is the Windows explorer screenshot of it.
![Screenshot 2022-04-23 195216](https://user-images.githubusercontent.com/6900268/164891595-8c12c8fc-d3cc-4691-858e-89913d7b27e3.png)
The way that I initially added it to that edit window is by copy-pasting the text of its address (C:\P

[2022-04-23 20:12] terrymacdonald commented on #98
Yeah this could get tricky... I'd rather not remove the file existence
check, as it's necessary to fix another bug that another user had.

I could put in a specific check for the windows store location in the
folder structure, but I think it might be better if I spent some time
figuring out if I can add windows store support to DisplayMagician. It
would be best if I could just have the windows fli

[2022-04-24 05:36] mastercko commented on #98
Understood. Yeah, it would be great to get support for the Windows Store version of MSFS (and other games), for sure!

 Thanks again for your help!

[2022-04-24 17:35] RBZL opened #99 "Ability to disable "DisplayMagician Minimized" notification"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The notification that DisplayMagician is minimized and will wait in the background until you need it is a bit of a nuisance. I would like to be able to disable that notification.

**Describe alternatives you've considered**
If this is the only notification DisplayMagician pushes, I could tur

[2022-04-27 05:17] cerahmed opened #101 "Advanced Optimus - Display Mode Hotkey"
**Is your feature request related to a problem? Please describe.**

I'm not sure if this is even possible, but I have a Legion 7i Gen 6 with RTX 3070 - with support for Advanced Optimus.
I frequently manually switch between `Optimus` and `Nvidia GPU Only` settings in the `Manage Display Mode` section of Nvidia Control Panel (Screenshot#1), and I was hoping for weeks for a way to apply hotkeys to q

[2022-04-28 20:23] terrymacdonald commented on #99
I'll look at what I can do in this space. I'm conscious of making the setting screen too complicated, so I'll have a think what I can do here.

Terry

[2022-04-28 20:47] terrymacdonald commented on #101
This one might be too tricky to do. The logic for determining whether a profile can be used is based on being able to detect whether all screens are currently detected. Rather than change that I might be able to add a setting to always allow profile changes, thereby disabling the profile check. That would allow your changes to work even if the screen isn't there at present.

The next issue then be

[2022-04-29 01:08] cerahmed commented on #101
Hey Terry,

Many thanks for the detailed response!

I hope Nvidia exposes these settings for developers to detect and modify, I have asked if that is possible in Reddit and Nvidia Forums with no luck :)

I went ahead and downloaded NVIDIAInfo and did the testing as requested:

1) I made Optimus as the Display Mode and saved the settings as `optimus.cfg`
2) I ran `NVIDIAInfo equal optimus.cfg` whic

[2022-04-29 01:30] terrymacdonald commented on #101
My gut feel on that result is I think that the ispossible logic is checking
that the screens are all there before attempting the switch.

Can you please next try to create a slightly different Opimus layout please
and test the moving from an optimus config to another optimus config?
- Move the screens to a different layout and create another optimus config
(e.g. `NVIDIAInfo save optimus2.cfg`)
- T

[2022-04-29 01:47] cerahmed commented on #101
Hey Terry,

One thing to note here before proceeding with the new testing is that I'm only using my laptop's screen with no other screens connected. The "second" screen that shows up in the Display Settings is somewhat a virtual monitor that Nvidia creates for the same laptop screen.

In other words, screen#2 shown in screenshot#2 of the original post above is the **same laptop monitor** but inter

[2022-04-29 01:55] cerahmed commented on #101
So I changed the resolution of the laptop monitor (the only monitor) while in Optimus Mode to create a new optimus2.cfg.

- Switching back and forth between optimus.cfg and optimus2.cfg were successful.
- All the checks you mentioned above are correct (optimus.cfg and optimus2.cfg are NOT equal when tested after loading each).
- Attached is the config for the new Optimus settings.

[optimus2.zip](

[2022-05-01 04:36] terrymacdonald commented on #101
Hi @cerahmed,

So I took some time this afternoon to go through the NVAPI functionality, and it didn't give me any hints unfortunately. But thanks to [this post ](https://forums.developer.nvidia.com/t/programmatically-forcing-the-nvidia-gpu-over-integrated-graphics/36533/2), I found this document: https://developer.download.nvidia.com/devzone/devcenter/gamegraphics/files/OptimusRenderingPolicies.p

[2022-05-01 04:40] terrymacdonald commented on #53
@gretzer Turns our @ceramod needs this same feature to turn on the high performance GPU in the Optimus. I'm planning on adding this in v2.4.0 but there will be a bit of work to get this done. I'm expecting it to take a few months before I can get through the amount of work it needs, but will update you to progress as I have been doing so far.

Thanks
Terry

[2022-05-01 05:33] cerahmed commented on #101
Hey Terry,

Going through the excerpt you included in your comment , as well as looking at the date of the PDF document (2012), I think we're talking about two different things as Advanced Optimus (as opposed to original Optimus) is a new technology (Jarrod made a good explanation video distinguishing the two: [here](https://www.youtube.com/watch?v=h73dFLZgfh4&ab_channel=Jarrod%27sTech)).

<img wi

[2022-05-01 06:39] terrymacdonald commented on #101
Interesting! I wonder if the 3d setting is still there? Are you able to
give me a screenshot of your 3d settings section?

I've not been able to find anything else in NVAPI that contains the
settings, so I wonder if the setting is stored in the same place, but the
NVIDIA driver handles it differently? In other words it might be stored in
the same place, but under a different name that's not shown

[2022-05-01 07:11] cerahmed commented on #101
That might be possible! Here's my 3D Settings combined in one image:

![3D Settings](https://user-images.githubusercontent.com/21166481/166135843-4c505f94-50ba-4f80-aeb8-f755e41f6dcb.jpg)

The thing that raised my hopes was that the Optimus profile successfully changed the Display Mode from `Nvidia GPU Only` to `Optimus`. I'd love to test if ignoring the logic of checking the monitors and applying

[2022-05-01 07:30] terrymacdonald commented on #101
You did test that using NVIDIAInfo. NVIDIAInfo is the same library, and the
Optimus CFG you tried to load that didn't work was that exact attempt.

That told me that the setting that changes the mode wasnt captured in the
settings I have, and applying the display config didn't change the mode. I
looked through the display profile captured, and it doesn't have any NVIDIA
settings at all (only the d

[2022-05-01 07:45] cerahmed commented on #101
`Automatic Select` detects when a game/app that you specify to use Nvidia GPU runs, then automatically switches to `Nvidia GPU Only` mode, meaning it will disable Intel Graphics at the same moment the game is launching. This caused many games to crash at startup (I believe due to the fact that the game is trying to reach Monitor#1 - which Nvidia is disabling at the same moment in order to enable M

[2022-05-01 08:01] cerahmed commented on #101
Oh btw, optimus.cfg did work. The one that didn't work was nvidia.cfg.
Upon testing, it seems that optimus.cfg profile worked because it enables Monitor#1, and the minute it is enabled (even if done manually by selecting Show Monitor#1 only - screenshot below) .. Nvidia switches back to Optimus and disconnects Monitor#2.

<img width="764" alt="Second Monitor" src="https://user-images.githubusercon

[2022-05-03 16:36] jsu1337 opened #102 "Hotkey used can not be reassigned"
- Windows Version: 10 pro
 - DisplayMagician Version 2.3.1
 - Video Card: Asus NVIDIA RTX 3080
 - Number and make/model of monitors: 3xLG 32GN650, 1x LG 27GP750
 - Date of last video driver update: 512.15
 - Date of last windows update: 2022-05-03

I have two profile and each assigned hot key "ctrl+alt+shift+1" and "ctrl+alt+shift+2"
then I changed to something else, now I want previous hot key ba

[2022-05-04 09:04] terrymacdonald commented on #102
@jsu1337 If you still have the Display Profiles that contain the Hotkeys, then you can click on the Hotkey button in that Display Profile or Game Shortcut, and you can click the Clear button to remove the hotkey.

If that is not possible (say you have deleted the hotkey), then you can instead clear all the hotkeys and then add them again. You should be able to press the **Clear All Hotkeys** butto

[2022-05-04 09:09] terrymacdonald commented on #102
@jsu1337 I also tested myself just now, and if you delete a Display Profile or Shortcut that contains a HotKey, then unfortunately DisplayMagician won't let you reuse that HotKey again on a different Display Profile or Game Shortcut **until you restart DisplayMagician**.

So my advice is to exit DisplayMagician (don't just close it to the system tray, exit the application) and the restart DisplayM

[2022-05-04 09:26] terrymacdonald commented on #102
@jsu1337 I just created a fix for the mainline codebase and tested it. It works, so I will close this issue.

The fix will come out in DisplayMagician v2.4.0 which will be a month or two away. v2.4.0 will also hopefully include support for Windows Store games as well (though that is proving more difficult than expected).

Thanks
Terry

[2022-05-04 09:26] #102 closed

[2022-05-04 10:13] terrymacdonald commented on #99
I think I have a working solution:

![image](https://user-images.githubusercontent.com/5721772/166662691-df4cbd06-c50a-403b-ae1c-c4408999eba1.png)

That will let a user choose to only remove the minimise Action Center message, or to turn off all the Action Center messages to be completely silent.

As I have now added the code to the DisplayMagician main codebase I will close this issue. The code w

[2022-05-04 10:13] #99 closed

[2022-05-04 21:11] jsu1337 commented on #102
restart app will let me register used hotkey again. thank you!

[2022-05-06 11:45] cerahmed opened #103 "Superdisplay Profile Not Loading After System Reboot"
**Describe the bug**
This would be a continuation for [issue#96](https://github.com/terrymacdonald/DisplayMagician/issues/96#issue-1206516515) regarding Superdisplay profile not loading correctly, however this time with new symptoms.

So I'm currently using version 2.3.1.28 found in [this comment](https://github.com/terrymacdonald/DisplayMagician/issues/96#issuecomment-1101960694). Everything was

[2022-05-06 18:27] terrymacdonald commented on #103
Hi @ceramod,

Can you please upgrade to the latest production version released, v
2.3.1.60. DisplayMagician should prompt you to upgrade when you first start
it.

Then please check if there is an issue with that version, and create a
Support ZIP file and upload it.

The reason is that there were a few changes in 2.3.1.60, and now that is
the only version I support. It has over 700 users using it s

[2022-05-07 06:34] cerahmed commented on #103
Hi Terry,

I updated to v2.3.1.60, but it crashes right after showing the initialization dialog.
I created a trace log and also attached the relevant files for your review.

[DisplayMagician.log](https://github.com/terrymacdonald/DisplayMagician/files/8644595/DisplayMagician.log)
[Profiles, Shortcuts, and Settings.zip](https://github.com/terrymacdonald/DisplayMagician/files/8644597/Profiles.Shortc

[2022-05-07 06:36] cerahmed commented on #103
I went ahead and deleted DisplayMagician folder inside AppData/Local, and it worked just fine.
I'll start testing for the symptoms I described in this post and will get back with my results.

[2022-05-07 06:39] terrymacdonald commented on #103
Hi @ceramed,

You will need to delete your display profiles and recreate them. There were
some changes made between 2.3.1.60 and earlier versions of 2.3.1.

Delete the Display profiles json file and then start DisplayMagician and
create the display profiles again and it should work.

Thanks
Terry

On Sat, 7 May 2022, 18:34 cerahmed, ***@***.***> wrote:

[2022-05-07 06:53] cerahmed commented on #103
Hi again Terry,

So I was able to reproduce the issue:

1) I upgraded to the latest version 2.3.1.60.
2) Saved new profiles.
3) Switching between profiles work fine.
4) Restarted my PC.
5) Connected SuperDisplay.
6) Tried switching to the Extended profile.
7) Both USB monitors become disabled.
8) Saved logs and attached.

[DisplayMagician-Support-20220507-0951.zip](https://github.com/terrymacdonal

[2022-05-07 06:58] terrymacdonald commented on #103
Thanks,

On holiday right now but I'll check later in the week.

Thanks
Terry

On Sat, 7 May 2022, 18:53 cerahmed, ***@***.***> wrote:

[2022-05-07 07:09] cerahmed commented on #103
Enjoy it Terry.

Another bug I found which you can also inspect in the above logs file is that applying "No SuperDisplay" profile also disables BOTH USB monitors (SuperDisplay + Spacedesk) .. that is, **even before restarting the PC**.

The "No SuperDisplay" profile is a profile that should disable Superdisplay (to make the screen go black for some time when I don't need it) while keeping the smal

[2022-05-07 07:13] terrymacdonald commented on #103
What's probably happening is that it is crashing out of the display
changing process, and that is just not enabling the other USB displays. I
think there is a previous error, and what you're seeing is the result of it
crashing before it gets to the code that enables the other displays.

Should be more apparent when I review the logs.

Thanks
Terry

On Sat, 7 May 2022, 19:09 cerahmed, ***@***.***>

[2022-05-07 21:31] Dogy007 opened #104 "DisplayMagician won't start 2.3.1.60"
**Describe the bug**
Application won't start. Installed multiple times.
It also doesn't start if I upgrade from 2.1.5.5
If a Profile from version 2.1.5.5 exisits, the banner with the "you need to recreate your profiles" will show up, if no profile exists, nothing happens.

**To Reproduce**
Steps to reproduce the behaviour:
Install Application, try to start. no process will appear and the applicati

[2022-05-08 04:54] terrymacdonald commented on #104
Hmmmm. I'd like to try with completely blank settings again just to test
it out. To do this, can you please first course DisplayMagician.

Next, try renaming your old
C:\Users\<username>\AppData\Local\DisplayMagician folder to something
like C:\Users\<username>\AppData\Local\DisplayMagicianOld.

Then start DisplayMagician v2.3.1.60 again fresh, and see if it starts. If
it does, please create your

[2022-05-08 08:19] Pl8tinium opened #105 "also save scaling of text, apps and other items"
**Is your feature request related to a problem? Please describe.**
the problem is i am lazy

**Describe the solution you'd like**
I'd like to switch between profiles that have different display scaling settings applied

**Describe alternatives you've considered**
switch manually

**Additional context**
this is the setting i mean, might only be configurable in windows display settings
![image](http

[2022-05-08 08:22] Pl8tinium commented on #105
im so lazy that i havent tried out if the feature actually exists im sry

[2022-05-08 08:26] Pl8tinium commented on #105
actually it doesnt save those settings properly, got tricked by windows weird behavior for a sec

[2022-05-08 09:10] terrymacdonald commented on #105
Turns out this is an undocumented API call in windows 10. Luckily Sahil
Singh did some reverse engineering and managed to make a cool function to
record and set that setting:
https://github.com/lihas/windows-DPI-scaling-sample

I'm not sure if this will actually work, but it does give me a starting
point. No guarantees I'll be able to get this working, as it is an
undocumented API call

Thanks
Ter

[2022-05-08 15:52] Dogy007 commented on #104
Hey Terry

I just tried your suggestion. A new folder appered, but it still wont start.

The log looks still the same, but I uploaded it anyways. Version 2.1.5.5 will start, I tested this yesterday, just the newer version doesn't like my setup as it seems
[DisplayMagician.log](https://github.com/terrymacdonald/DisplayMagician/files/8647306/DisplayMagician.log)
.

[2022-05-08 18:08] Pl8tinium commented on #105
looks promising! really appreciate your fast reply ✌️ will follow the thread - no need to rush

[2022-05-13 10:00] terrymacdonald commented on #53
@gretzer time for an update. I now have it 'mostly' working within my test library of NVIDIAInfo, but I still have some more work to do to iron out a few bugs in the NVIDIALibrary. I have to give a massive shout out to Soroush Falahati (the author of NvAPIWrapper.net and HeliosDisplayManagement) as I wouldn't have been able to get the DRS settings functionality to work with his awesome code to use

[2022-05-13 10:02] terrymacdonald commented on #101
@cerahmed time for an update. I now have it 'mostly' working within my test library of NVIDIAInfo, but I still have some more work to do to iron out a few bugs in the NVIDIALibrary. I have to give a massive shout out to Soroush Falahati (the author of NvAPIWrapper.net and HeliosDisplayManagement) as I wouldn't have been able to get the DRS settings functionality to work with his awesome code to us

[2022-05-13 10:06] terrymacdonald commented on #98
OK, so I've been working on a new code branch that adds the Xbox Game store into the GameLibrary section of DisplayMagician, and also adds the ability to choose applications from a list of installed applications (UWP and other installed apps). I'm *hoping* that your installed copy of MS Flight Simulator will show up in one of those lists.

Can you please install the MS Xbox Game application from M

[2022-05-13 15:38] cerahmed commented on #101
This is indeed some good news!
Will be waiting for your call for testing.

[2022-05-13 16:56] mastercko commented on #98
Yep, it shows up in the Xbox App!

![image](https://user-images.githubusercontent.com/6900268/168331901-eabb3fd1-bf90-4f95-8940-6e512db89042.png)

Nice to hear you are working on it. Thanks so much!

[2022-05-14 09:20] terrymacdonald commented on #101
@cerahmed So I now have a new version of NVIDIAInfo to test that includes DRS Settings. It now stores them in .cfg files and loads and applies them. I need to find out what Optimus settings are available, and I currently can't do that as I'm having issues with the NvAPI_DRS_EnumAvailableSettingIds function. So the next best thing is for you to set the modes, and then send me the .cfg files made an

[2022-05-14 09:22] terrymacdonald commented on #53
@gretzer So I now have a new version of NVIDIAInfo to test that includes DRS Settings. It now stores them in .cfg files and loads and applies them. Can you please perform the following instructions, and then that will give me the information I need to be sure that the new DRS settings features works.

Download NVIDIAInfo from here, and extract it to a folder:
[NVIDIAInfo-v1.7.4.zip](https://github

[2022-05-14 09:23] terrymacdonald commented on #103
Apologies for the delay on this. Been working on the DRS Settings functionality first, and will look at this next.

Thanks
Terry

[2022-05-14 09:29] terrymacdonald commented on #104
@Dogy007 So I've looked at your logs, and they are so very weird. You get an issue at the part of the loading process where the WinLibrary part of DisplayMagician attempts to get the location of the Windows Taskbar. It errors when it tries.

This is unusual. I'm not actually sure why it's causing an exception there. I will have to do some hunting through the code and see if there is a potential er

[2022-05-14 09:43] Dogy007 commented on #104
I run as admin. Since you mentioned problems with the taskbar, i have the software startallback running on win 11, maybe there is a conflict. I try to disable it later today to see if it makes any difference

[2022-05-14 10:43] cerahmed commented on #101
Hello Terry,

Thanks a bunch for the detailed list of instructions!

I've done each of the listed instructions and attached below the results are requested. Also, below are the highlights of my testing:

1) All the equality tests failed:

- Active Optimus profile DOES NOT equal optimus.cfg.
- Active Nvidia Only profile DOES NOT equal nvidiaonly.cfg.
- Active Optimus profile DOES NOT equal optimus.

[2022-05-14 18:17] terrymacdonald commented on #101
Hi,

Yeah I figured this would happen the first time we ran the new version. The
logs and CFG files should hopefully give me a better understanding of what
I need to change.

The first goal is to be able to detect that there is a change from  NVIDIA
GPU only to Optimus or back again, as in that case I need to disable the
screen detection validation logic.

Then the second goal is to actually make

[2022-05-14 18:34] Dogy007 commented on #104
Hey!

After I disabled startallback's taskbar imrpovement and tried a few times (It still failed to start 4 or 5 times) it finally started. Just before I had success with starting it, I changed my monitor from pip to Single monitor and then back again. I am not sure if I will be able to start it without problems after a reboot. I keep you posted.

Thanks
Dogy

[2022-05-14 18:37] A0L0XIIV opened #108 "Display profile reverts back before the game launch"
**Describe the bug**
I cannot see my Steam games in the game list because they are on another disk (secondary Steam library). So, I am using the `Launch a Game Executable` option to create my `Game Shortcuts`. My launch options are the default ones (except the executable selection). When I try to run the shortcut, it changes the diplay profile (as expected) then it launches to game _exe._ However,

[2022-05-14 18:39] terrymacdonald commented on #104
Interesting! Can you please create a Support ZIP File when you do get it to
start and upload it to this issue? It might give me a tip on what's going
wrong. I might be able to work around the changes that program makes.

You can create a Support ZIP File by going into the settings window from
the main DisplayMagician window, then clicking the Create Support ZIP File
button.

Thanks
Terry

On Sun,

[2022-05-14 18:44] terrymacdonald commented on #108
Hi Brian,

DisplayMagician finds Steam games libraries on any location across your
machine and then parts what's in each library. Are you sure the game wasn't
in the game library list?

DisplayMagician isn't really designed to start Steam games from the
application section. You can do it by it can be tricky.

If it's a Steam game then it should be launched via the game library
window. If you're ga

[2022-05-14 18:59] A0L0XIIV commented on #108
If that's the case, this may be another (game library) bug. I have 4 different disks and each of them have steam libraries. Looks like DM only detects the games on the `C` disk (where the steam is installed). I attached my logs to the issue but let me share the same file again.

[DisplayMagician-Support-20220514-1357.zip](https://github.com/terrymacdonald/DisplayMagician/files/8693712/DisplayMagic

[2022-05-14 19:05] terrymacdonald commented on #108
Hmm. Ok, I'll have a look over the next few days and see if Steam have
updated where their library folders are listed. At present I scan certain
places to find the folder locations, and it may be that they have updated
their file format or something.

Thanks
Terry

On Sun, 15 May 2022, 06:59 Baran Kaya, ***@***.***> wrote:

[2022-05-14 19:07] A0L0XIIV commented on #108
Sure, I'll wait for an update. Thanks for the help and have a nice day!

[2022-05-14 21:03] Dogy007 commented on #104
[DisplayMagician-Support-20220514-2123.zip](https://github.com/terrymacdonald/DisplayMagician/files/8693866/DisplayMagician-Support-20220514-2123.zip)
Voila :)

[2022-05-17 19:36] mattno opened #110 "High CPU usage"
**Describe the bug**
When starting a game using Display Magician, CPU usage goes up, from almost zero to ~30%

**To Reproduce**
Steps to reproduce the behaviour:
1. Start any game
2. CPU usage for DisplayMagician   jumps up to ~30% while game is running (unwanted)
3. Exit game, and DisplayMagician CPU usage goes down to almost zero (which is wanted)

**Expected behaviour**
CPU usage for DisplayMag

[2022-05-17 20:59] terrymacdonald commented on #110
Hmmm. This is indeed news to me. I wonder if the app detection logic is not sleeping long enough.

I will have to do some research myself on my system to see if it's something that is experienced in multiple places, or whether something else is causing that to happen just on your machine.

I'm a bit time limited over the next few weeks, but I'll try to get to it as soon as I can.

Thanks
Terry

[2022-05-17 22:07] terrymacdonald commented on #104
@Dogy007 did a reboot make DisplayMagician start more reliably?

[2022-05-18 07:36] mattno commented on #110
From the logs I can see

[code]

The "high" CPU consumption is then seen  `waiting for Steam Game rFactor 2 to exit`  (I guess)

[2022-05-18 07:48] terrymacdonald commented on #110
Yeah, that's the bit I was going to look at. I need to see what in that
loop is taking CPU time.

Thanks
Terry

On Wed, 18 May 2022, 19:36 Mattias Norling, ***@***.***>
wrote:

[2022-05-18 09:38] terrymacdonald commented on #110
Hi @mattno,

Good news. I found out that I'd used a Task.Delay where I should have used a Thread.Sleep. I tested on my local system and found that the CPU usage dropped from 52% to 0.1%, so I'm fairly confident this was the cause of the issue.

I'm going to close this issue as it is fixed in the code, and the bugfix will be included in a 2.3.2 hotfix. At this stage the 2.3.2 is due within the next

[2022-05-18 09:38] #110 closed

[2022-05-18 10:09] terrymacdonald commented on #108
@A0L0XIIV I just checked the logic flow, and it is detecting all my Steam games spread across three different steam libraries on 3 different drives. I've checked my log files, and there aren't any errors.

I then checked your log files you provided, and I can see it finds your steam libraries too:
[code]

It even finds your Euro Truck Simulator 2 install:

[code]

It says that it found and loaded

[2022-05-18 21:17] Dogy007 commented on #104
I left the startallback taskbar improvement disabled, since then it starts reliably. I'm just fighting with other problems (Software is unresponsive after screen profile switch and needs to be restarted every time. I guess it really doesn't like my setup.

I also can't reliably change screen profiles (all 5 screens just flicker for 5 - 10 seconds and refuse to accept their profiles.

I guess we ca

[2022-05-18 21:32] terrymacdonald commented on #104
We could  change this issue to try and debug the screen changing issue if
you would like. It sounds like it could be a NVIDIALibrary error. I have
some software called NVIDIAInfo that is specifically designed to test the
NVIDIALibrary outside of DisplayMagicain. That is really useful for finding
profile issues like the ones you're describing.

Are you interested in changing this issue to be a prof

[2022-05-18 21:50] Dogy007 commented on #104
Of course I would be interested If it could possibly help me and others with the same problems.

[2022-05-21 00:29] Sikahalv opened #111 "DisplayMagician does not start *minimised* and always shows *splash screen*"
DisplayMagician does not start *minimised* and always shows *splash screen*

When you select the following settings below...

* Enable -- "Start DisplayMagician minimised in notification area when computer starts"
* Disable -- "Show DisplayMagician Splash Screen on startup"

DisplayMagician forgets these settings **EVERY REBOOT / LOG OUT** of Windows 10

Very annoying as I don't want to see the sp

[2022-05-21 02:50] terrymacdonald commented on #111
Hi,

How were you setting this? Did you do it in the settings window, or by
checking the checkbox on the main window?

That will help me understand what's broken.

Thanks
Terry

On Sat, 21 May 2022, 12:30 Sikahalv, ***@***.***> wrote:

[2022-05-22 03:14] Sikahalv commented on #111
Hi Terry,

I've changed this setting either in the main window... or in the settings window... or both... and restarted the computer and neither of those 3 ways of changing the settings actually sticks. It forgets it every reboot or logout. This issue wasn't happening before this major update where my existing profiles were deleted and I had to make new ones.

Regards,
George

[2022-05-22 03:24] terrymacdonald commented on #111
Hmmmm, ok.

Can you please generate a Support ZIP File for me (in settings window) and
upload it here through your web browser? I think I need to see what your
settings are in the file.

Thanks
Terry

On Sun, 22 May 2022, 15:14 Sikahalv, ***@***.***> wrote:

[2022-05-23 01:48] Sikahalv commented on #111
Hi Terry,

Please see attached :)

[DisplayMagician-Support-20220523-1117.zip](https://github.com/terrymacdonald/DisplayMagician/files/8750746/DisplayMagician-Support-20220523-1117.zip)

[2022-05-23 02:28] terrymacdonald commented on #111
Hi @Sikalv,

Looking at your settings file, it is set properly. This means that
DisplayMagician is remembering the settings, just not actually running them.

[code]
It is set to attempt to start up on boot, and to minimise on start, and
to not show the splashscreen. This is what you said you wanted. Which means
that it is not properly performing this step. This fact is very weird as I
run DisplayM

[2022-05-24 08:34] terrymacdonald commented on #108
Hi @A0L0XIIV,

So looking deeper at your latest logs, DisplayMagician has found 4 Steam libraries:

D:\STEAM\steamapps\common
D:\STEAM
A:\Steam Library
B:\SteamLibrary

Are those correct? The fact there is a Steam Library in D:\STEAM and D:\STEAM\steamapps\common may be confusing DisplayMagician, as those paths overlay. This typically doesn't happen.

Can you please check that there is a Steam Lib

[2022-05-24 08:35] terrymacdonald commented on #105
I have a few other bugs to fix in an upcoming hotfix (and still doing some bug fixing). It will be a little while before I can get to this.

Thanks
Terry

[2022-05-24 08:51] terrymacdonald commented on #103
@cerahmed we need to test the NVIDIALibrary code and only that library code. It's time to break out NVIDIAInfo....

I need you to test NVIDIAInfo, a little app that I wrote specifically to test the NVIDIALibrary that I wrote. Because I want to only test the video manipulation works with multiple video cards, we will only use that for testing this. Once we can confirm that it all works then I'll ro

[2022-05-24 09:13] terrymacdonald commented on #101
@cerahmed So I've finally gotten time to go through your settings.

Not good news I'm afraid. There aren't any Optimus settings available in the DRS Settings (the 3D Settings in the NVIDIA Control Panel app). This unfortunately means that the apps that control that functionality are controlling them via a different NVAPI call. This is bad, because it looks like it's part of their proprietary part

[2022-05-24 09:18] terrymacdonald commented on #53
@gretzer How did your testing go? You should have the DRS Settings (3d Settings in the NVIDIA Control Panel) viewable in the cfg files after you've saved a couple, e.g.:

[code]

At this point I will mark this issue as closed, as the DRS is now part of the main NVIDIALibrary in NVIDIAInfo. This will then be released as part of DisplayMagician v2.4.0 in a month or so.

If it turns out this is still

[2022-05-24 12:10] A0L0XIIV commented on #108
Hello Terry,

Yes, you were right. I had 2 different libraries on my D disk. `D:\STEAM` had games in it but `D:\STEAM\steamapps\common` was empty. So, I removed the empty library and refreshed the game list and it worked perfectly! Now I can see all of my games on the DM game list. Thank you.

Also, I noticed the `StopProgram `thing that you mentioned. Yes, I added ETS there to test the `Launch Ex

[2022-05-24 12:12] #108 closed

[2022-05-24 18:54] terrymacdonald commented on #108
Oh that's great news! I'll still have a little look around the code in the
Steam library module I wrote to see if there is a robustness change I can
make.

My guess is that there is an error caused if there is an empty Steam
library. I'll add this trip my work queue and see if I can do this
happening to other people in the future.

Thanks
Terry

On Wed, 25 May 2022, 00:11 Baran Kaya, ***@***.***>

[2022-05-24 22:34] terrymacdonald commented on #108
Hi @A0L0XIIV

Just letting you know I found a potential problem which I've added some exception handling around with the Steam Library parsing that would have caused DM to fail in your situation. Should now work for people with a similar unused Steam Library in the future.

Thanks for logging the bug!

Thanks
Terry

[2022-05-25 07:19] terrymacdonald commented on #104
@Dogy007 that result is quite weird. The fact it never 'equals' a config after loading the config indicates to me that something strange is happening. It should match directly after saving a config, but it isn't.

All of the 3 different configs appear to have applied correctly. So that says that they are at least being parsed and processed by Windows. Can you please confirm that all the display la

[2022-05-25 07:30] terrymacdonald commented on #104
@Dogy007 I've found something that may have affected the equality testing. Can you please perform the instructions below with NVIDIAInfo v1.7.4b uploaded here:
[NVIDIAInfo-v1.7.4b.zip](https://github.com/terrymacdonald/DisplayMagician/files/8768873/NVIDIAInfo-v1.7.4b.zip)

Next swap back to the surround display layout:
- Load the first windows display as `NVIDIAInfo load surround.cfg`
- Rename the

[2022-05-25 10:04] terrymacdonald commented on #101
I've spent the last two days looking for new documentation or sourcecode in other languages that I can port over. I can't find anything that looks like it will work. I think I'll park this feature for a while and revisit it in a couple of months to see if I can dig up anything else about it.

Feel free to keep looking yourself @cerahmed if you'd like, and forward on anything you think may be of us

[2022-05-25 10:50] cerahmed commented on #103
Hey Terry,

That is very weird.

I'm currently at work with my laptop and the same superdisplay tablet connected to it (one laptop monitor + Superdisplay monitor), which experiences the same issue when rebooting. So the following testing is done with my laptop.

Results:

1) All equality check returned `Not equal`.
2) Display profile `original.cfg` and `reboot.cfg` should be identical, I have not

[2022-05-25 10:59] cerahmed commented on #103
What is confusing me is that none of the equality checks passes. I believe this means that some settings are not captured in the `.cfg` file that gets saved and we're trying to load. Just a tought.

[2022-05-25 12:15] cerahmed commented on #101
Definitely I'll keep looking for a solution/workaround through Nvidia/Reddit forums; will keep you posted if I find anything worth reading 👍

Many thanks.

[2022-05-25 18:54] terrymacdonald commented on #103
The equality tests use the same function to generate the data being
compared with each other. The only difference is that the saved config is
written to disk and loaded back in again.

It could be possible that the JSON saving/loading is messing with the
object in some way, stop that they are not equal when reloaded? I'll have a
look at that tomorrow and see what I can find.

I may need to try and

[2022-05-26 01:39] Sikahalv commented on #111
Hi Terry,

I manually selected all the "correct" options I wanted, prior to creating the Support Zip File.

Now I've checked the settings again and they're all different and the app has a habit of forgetting each login... PLUS it's now changed different settings on it's own.

Also, regarding all of your steps, that's what I had already been doing the past few weeks -- prior to reaching out to you

[2022-05-26 15:58] Manfredk2 opened #112 "Problem with additional program in game profile"
I created a game profile for Rfactor 2 and added some programs to start before Rfactor 2 launches

Works great but there is one program called Tinypedal https://github.com/s-victor/TinyPedal/releases which does not work. Tinypedal reads and writes a config file called config.json. And this is the problem because tinypedal probably does not "see" its own directory folder. Probably it lacks some kin

[2022-05-27 03:24] terrymacdonald commented on #112
Hi @Manfredk2,

 I was about to tell you that there isn't anything I can do, as it is a python program, and would likely need to be called a different way, but then I realised that I probably aren't setting the working directory when the process is being passed it's ProcessStartInfo object. And a quick look confirmed this to be true.

What this means is that I *should* be able to help in your part

[2022-05-27 14:17] Manfredk2 commented on #112
great, thank you

[2022-05-28 01:47] pilot40 opened #113 "Nvidia color settings are not saved when selecting a profile"
Nvidia color settings are not saved when selecting a profile. Always reset to default color settings

[2022-05-28 07:35] terrymacdonald commented on #113
Can you please provide more information? What displays do you use? Is this on Windows 11? What version of DisplayMagician do you use? How are each of your displays connected to the PC? What video card(s) do you use? What exactly isn't saved - in other words what part of the colour settings do you want to have saved? Is there any error when you save a display profile? Is there any error when you ap

[2022-05-28 07:43] terrymacdonald commented on #112
The changes are now in the codebase and will be released when DisplayMagician v2.3.2 is released. For that reason I will close this issue so that I can keep track of what work I still have to do.

If you still have problems when v2.3.2 is released, then feel free to reopen this issue.

[2022-05-28 07:43] #112 closed

[2022-05-28 07:44] terrymacdonald commented on #111
@Sikahalv,

Some questions I have after looking at your original notes again:

   - Does DisplayMagician start at all originally after a computer restart
   at all?
   - If it does start originally, does it start minimised?
   - If you start DisplayMagician manually, does it start minimised?
   - If you start DisplayMagician manually, does it show the splash screen?
   - If you go into your Settin

[2022-05-28 09:13] terrymacdonald commented on #104
@Dogy007 I found some errors with the file upgrade logic that would have caused your original file upgrade issue. I've now fixed that so it shouldn't happen for other users. I also have made it so it will now use the settings file correctly.

There was a bug that meant that DisplayMagician was wanting to read and write from 'Settings_2.4.json', but the upgrade logic only created 'Settings_2.0.json

[2022-05-28 09:14] terrymacdonald commented on #104
Oh I forgot to mention. As it *should* be fixed now, I will close your issue. If it turns out that the problem is still happening when you upgrade to DisplayMagician v2.3.2, then please reopen this issue and we'll try working on it again.

Thanks
Terry

[2022-05-28 09:14] #104 closed

[2022-05-28 09:20] terrymacdonald commented on #111
@Sikahalv When working on the code for issue #110 I found it is likely to have caused the issue you have experienced. The issue was related to the way that file upgrades have been performed in the past. I incorrectly upgrade the ProgramSettings to the wrong filename. This means that when DisplayMagican looks for the program settings file, it can't find it (as it's looking for the wrong name). This

[2022-05-28 09:21] terrymacdonald commented on #111
As I believe I've fixed this issue in code, I will close this issue. If you perform the upgrade to DisplayMagician v2.3.2 and you still have a problem, please reopen this issue and we'll keep working on it.

Thanks
Terry

[2022-05-28 09:21] #111 closed

[2022-05-28 09:44] pilot40 commented on #113
I will collect all the information and answer a little later

[2022-05-28 13:03] pilot40 commented on #113
Windows 10. Three displays Idek Iliyama PL2530H via display port and one AOC 2590G5 via HDMI. Nvidia 3070Ti.
![D1](https://user-images.githubusercontent.com/677600/170826725-7921e2c9-f7a8-4ad7-a3c6-61ba370be6e3.png)
![D2](https://user-images.githubusercontent.com/677600/170826733-37d7c55e-8d61-4ed8-8882-e4b4b00d84c7.png)
![D3](https://user-images.githubusercontent.com/677600/170826737-d64194ff-a20

[2022-05-28 13:05] pilot40 commented on #113
This setting is not saved.
![D4](https://user-images.githubusercontent.com/677600/170826831-807e55c2-974d-4eaa-82d1-0a807bdacf82.png)

[2022-05-28 19:27] terrymacdonald commented on #113
Hmmmm. That setting used to apply correctly in previous versions of
DisplayMagician.

Can you please create a Support ZIP File and upload it here? You do that by
clicking on the Settings button in the main window, then click on the
Create Support ZIP File button.

Visit this GitHub issue in your web browser and upload the Support ZIP
File, then I'll see what I can find in your logs and config.

Th

[2022-05-29 00:48] pilot40 commented on #113
[DisplayMagician-Support-20220529-0747.zip](https://github.com/terrymacdonald/DisplayMagician/files/8792413/DisplayMagician-Support-20220529-0747.zip)

[2022-05-29 08:49] Sikahalv commented on #111
Brilliant, thanks great to hear Terry! Thanks for getting this sorted so quickly :)

I'll let you know how things go once v2.3.2 is released and I install it.

[2022-05-29 09:30] terrymacdonald commented on #113
@pilot40 OK this is a bit weird. When the 4 displays are each on their own (in the Current NVIDIA DIsplay Profile) then the Windows Display API reports the connection types that you mention in your last post:

[code]

But, when NVIDIA turns on Surround (like in your profile "3") then Windows Display API reports the NV Surround window as being connected over DVI!

[code]

That's obviously wrong.

N

[2022-05-29 09:53] terrymacdonald commented on #105
@Pl8tinium I did a bit of digging, and it looks like it can be done via registry keys. I've found some helpful MS docs here: https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/dpi-related-apis-and-registry-settings?view=windows-11

The problem is that it opens up a whole potential problem about what settings I should actually track, when they should be applied, and how to do the

[2022-05-29 22:27] terrymacdonald commented on #105
@Pl8tinium I found some awesome code from Sahil Singh that I used as a basis this morning, and I managed to get *per source* DPI scaling working. This is the basic % based DPI scaling that you showed me in the screenshot you posted with this issue.

Please note DisplayMagician does NOT support custom display scaling. In other words if you click the > button next to the % for the DPI Scale and go i

[2022-05-30 07:09] Pl8tinium commented on #105
that was exactly the functionality i was looking for!.. i mean ofc it makes senses that you cant have different scalings for different displays when you have duplicated the screen ....
and as input for the checking the potential keys you could track... maybe just maybe you implement some temp beta functionality that one may use, which implements a list where you can append registry keys to and the

[2022-05-30 08:01] terrymacdonald commented on #105
DisplayMagician only records the config  currently set when you save the
display profile. There isn't any way to select or change the display
profile in any way.

This was a conscious decision. The idea is that windows display setup knows
what constitutes a valid display configuration. As does NVIDIA control
panel. DisplayMagician tempted on those programs to set up a valid display
configuration,

[2022-05-30 18:37] Pl8tinium commented on #105
nah its not about tweaking the dpi settings, but to be able to configure which windows reg keys should be tracked in order to be able to fully copy the instance of current settings if that makes sense

[2022-05-30 18:37] Pl8tinium commented on #105
damn always clicking the wrong btn sry

[2022-05-30 19:53] terrymacdonald commented on #105
@Pl8tinium I'll keep what I've developed for now. I need you to do some testing of the WinLibrary for me now to make sure it's working correctly.

I need you to test with NVIDIAInfo, a little app that I wrote specifically to test the NVIDIALibrary and WinLibrary code that I wrote. Because I want to only test the video manipulation works with multiple video cards, we will only use that for testing

[2022-05-30 19:57] terrymacdonald commented on #103
@cerahmed I found some issues with the way equality testing was being performed (some specific issues with Equals on some objects and the way that Windows changes the display name ordering). I've now updated NVIDIAInfo to v1.7.5 and added the NVIDIA 3D Settings tracking and Windows DPI Scaling (per source mode only).

I think that some of the changes I've made may help fix your Superdisplay issue,

[2022-05-30 20:01] terrymacdonald commented on #98
@mastercko Just letting you know I've been fixing some bugs first before working on the addition of the Xbox App and the redesign of the application detection logic. The bug fixing is going way quicker than I thought it might, so I might get to this redesign faster than I thought.

I'm torn at the moment as to whether I should just release a new v2.3.2 hotfix, or whether I should just work an extr

[2022-05-31 09:17] terrymacdonald commented on #105
@Pl8tinium I'm going to close this issue for now, as I've added the code into the DisplayMagician codebase. It is working well on my test machine, so it will come out with the next DisplayMagician release in the next couple of weeks. I'm going to close this issue for now as the code is in the codebase, and it helps me keep track of the work I need to do next.

When DisplayMagician v2.3.2 (or v2.4.

[2022-05-31 09:47] cerahmed commented on #103
Hey Terry,

The equality seems to work correctly now after running the tests, however loading the profile saved before rebooting still cannot be reloaded.

Below is the response for each instruction:

Returns `equal`.

Returns `equal`

Returns `NOT equal`

Failed to load with the following error `ERROR - NVIDIAInfo Windows CCD settings were not applied correctly.`.

Returns `NOT equal`.

Returns `

[2022-05-31 10:18] terrymacdonald commented on #103
Awesome. That has at least for us partway there. I can now try and figure
out what is different with Superdisplay and how it works. I might try
installing it on my test machine to see how it works, but that will take a
while to sort out.

I'll take a look at your zip file over the next few days and let you know
if I find anything.

Thanks
Terry

On Tue, 31 May 2022, 21:47 cerahmed, ***@***.***> wr

[2022-05-31 11:41] pl4sma2389 opened #114 "DisplayMagician does not launch"
**Describe the bug**
The software does not appear to launch, whether running as Admin or regular.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install DisplayMagician
2. Launch it from the shortcut or the executable file

**Expected behaviour**
I would expect it to launch and appear on a screen or in the taskbar.

**Screenshots**
N/A

**Reporting Logs**
[DisplayMagician.zip](https://gith

[2022-05-31 16:22] mastercko commented on #98
Awesome, great news! Can't wait to try it out.

[2022-06-01 23:17] terrymacdonald commented on #103
@cerahmed Great news. I installed Superdisplay on my PC and found the underlying issue. And it was a fairly major error.

The issue was with the Windows display config patching we have to do after each restart of Windows. Microsoft decided to make it really difficult to use their APIs, and change the Adapter identifiers each time windows restarts. This means each time we load a previously saved di

[2022-06-02 06:21] terrymacdonald commented on #103
@cerahmed ok - we'll skip straight to testing NVIDIAInfo as I had some time to copy the WinLibrary changes over after work today. So, Can you please do the following tests for me with NVIDIA v1.7.6 as that is the version that contains the fixes you need.

Can you please download and extract the latest NVIDIAInfo zip file to a folder on your computer from here: https://github.com/terrymacdonald/NVI

[2022-06-02 06:37] terrymacdonald commented on #114
@pl4sma2389 So DisplayMagician appears to be hanging when it is trying to get the taskbar location. You're the second person to have that problem.

Do you use a different display language in Windows other than English? I wonder if the Taskbar logic is failing because of that?

Or do you have the taskbar in a different place? Or do you run some other taskbar moving software? Or anything that change

[2022-06-02 07:54] terrymacdonald commented on #103
This fix will go out in the next release of DisplayMagician v2.4.0.

[2022-06-02 08:16] cerahmed commented on #103
Hey Terry,

V1.7.6 Tag only has the source code, can you please compile it so I can test it?
Otherwise I can test V1.7.7 which has the executable.

[2022-06-02 08:25] terrymacdonald commented on #114
@pl4sma2389 To make sure that I've fixed the taskbar location in my custom WinLibrary. I'll need you to test NVIDIAInfo, a little app that I wrote specifically to test the NVIDIALibrary and WinLibrary that I wrote. Because I want to only test the video manipulation works with multiple video cards, we don't want to test DisplayMagician. We want to test with NVIDIAInfo so that we only test NVIDIALib

[2022-06-02 08:28] terrymacdonald commented on #113
@pilot40 In other testing I've found some bugs that *may* be the source of your problems. I've fixed the NVIDIALibrary and WinLibrary video manipulation libraries I wrote, but I'll need some help testing to be sure they are ready to integrate into DisplayMagician.

I need you to test NVIDIAInfo, a little app that I wrote specifically to test the NVIDIALibrary that I wrote. Because I want to only t

[2022-06-02 08:45] terrymacdonald commented on #103
Yeah sorry 1.7.7 is the one you want. I had to cancel v1.7.6 because of an
error.

On Thu, 2 Jun 2022, 20:16 cerahmed, ***@***.***> wrote:

[2022-06-02 08:50] cerahmed commented on #103
I tried V1.7.7 and it works like a charm on my laptop setup! Awesome..
I'll also check it on my PC when I get back home in a few hours.

The equality checks resulted in what's expected.
Switching back and forth between first.cfg and second.cfg worked without an issue.

[Results.zip](https://github.com/terrymacdonald/DisplayMagician/files/8822234/Results.zip)

[2022-06-02 08:57] terrymacdonald commented on #103
@cerahmed FINALLY! \o/

This one has been a tricky one to troubleshoot. Sorry it's taken so long, but it did at least uncover a tricky bug that has been in DisplayMagician since we moved to using my WinLibrary. So thanks for helping me find it I guess? So glad it's fixed though!

Oh - did you try it after a reboot just to be sure that works ok too?

Thanks
Terry

[2022-06-02 09:10] cerahmed commented on #103
Thank YOU for actually taking time to figure the issue out! It seemed so specific and complicated to troubleshoot indeed.
Yes! I've done several reboots and other profiles and nothing seems to cause any issue!

I'll do some more testing on my PC that has additional monitors + the small SpaceDesk Monitor .. I'm hopeful it works without issues there as well.

💯👍

[2022-06-02 09:11] terrymacdonald commented on #103
@cerahmed a couple of other points too that I've picked up in testing that you may like to know.

- The same Superdisplay configuration works over USB connection or Wifi connection. No need for a separate display profile.
- Superdisplay works by having a local fake screen driver which talks to the tablet. What this means is that the fake screen may still be visible to DisplayMagician in some situa

[2022-06-02 09:25] cerahmed commented on #103
Yes! I'm well aware of that and it's just awesome that it works this way!

Good to know about this! I'll most likely ONLY load profiles when Superdisplay is connected, but thanks for the heads up!

Sure thing, I'll be waiting for any testing units👌

[2022-06-02 09:25] pl4sma2389 commented on #114
Nope.

No, not really, and... yes, I use ExplorerPatcher- that might mess up the taskbar in the way you're talking about: https://github.com/valinet/ExplorerPatcher

I'll run the tests in a minute.

[2022-06-02 09:49] pl4sma2389 commented on #114
This test returned NOT equal. All other tests returned as expected. Zip file is attached.

[NVIDIAInfo-v1.7.7.zip](https://github.com/terrymacdonald/DisplayMagician/files/8822658/NVIDIAInfo-v1.7.7.zip)

[2022-06-02 10:03] terrymacdonald commented on #114
Thanks! I'll take a look at the results in the morning before work.

Thanks
Terry

On Thu, 2 Jun 2022, 21:49 pl4sma2389, ***@***.***> wrote:

[2022-06-02 13:55] pilot40 commented on #113
[NVIDIAInfo.zip](https://github.com/terrymacdonald/DisplayMagician/files/8824526/NVIDIAInfo.zip)
Triple reload and cloned reload - NOT equal

[2022-06-02 20:29] terrymacdonald commented on #114
@pl4sma2389 Excellent. That really helped, as it looks like Windows changes the order of a couple of displays sometimes, and that is messing with equality testing! That's what happened with triple.cfg and triple-reload.cfg - they are both valid CFG files because they both will work, but due to the display ordering the equality testing doesn't work properly.

I know what I need to do now. It is a l

[2022-06-02 22:44] terrymacdonald commented on #114
@pl4sma2389 Can you please download NVIDIAInfo v1.7.8 from here: https://github.com/terrymacdonald/NVIDIAInfo/releases/tag/v1.7.8

NVIDIAInfo v1.7.8 should fix the equality test problems you experienced before. But I'll need you to test again.

Please perform all the **equality** tests again only from the last set of instructions I gave you. Please tell me whether they all worked, or if they faile

[2022-06-02 22:44] terrymacdonald commented on #113
@pilot40 Can you please download NVIDIAInfo v1.7.8 from here: https://github.com/terrymacdonald/NVIDIAInfo/releases/tag/v1.7.8

NVIDIAInfo v1.7.8 should fix the equality test problems you experienced before. But I'll need you to test again.

Please perform all the **equality** tests again only from the last set of instructions I gave you. Please tell me whether they all worked, or if they failed,

[2022-06-02 23:10] pilot40 commented on #113
Good. I will definitely do it today after work

[2022-06-02 23:42] pilot40 commented on #113
`Windows PowerShell
(C) Корпорация Майкрософт (Microsoft Corporation). Все права защищены.

Попробуйте новую кроссплатформенную оболочку PowerShell (https://aka.ms/pscore6)

PS D:\Progi\NVIDIAInfo-v1.7.8> ./NVIDIAInfo save surround.cfg

NVIDIAInfo v1.7.8
=================
By Terry MacDonald (c) 2022

Display settings successfully saved to surround.cfg.

PS D:\Progi\NVIDIAInfo-v1.7.8> Rename-Item -

[2022-06-02 23:44] pilot40 commented on #113
[NVIDIAInfo-v1.7.8.zip](https://github.com/terrymacdonald/DisplayMagician/files/8828429/NVIDIAInfo-v1.7.8.zip)

[2022-06-02 23:47] terrymacdonald commented on #113
@pilot40 It worked! Excellent! If it worked for you, then it will work for #114 as well, so that's great!

Ok, next steps are for me to copy the NVIDIALibrary and WinLibrary changes to the DisplayMagician codebase, and then to create a test version of DisplayMagician for you to test. That will be a day or so away until I get some free time to sort it out.

I'll drop a DisplayMagician installer in

[2022-06-02 23:48] pilot40 commented on #113
Unfortunately, I'm leaving tomorrow and will be back only a week later.

[2022-06-02 23:50] pilot40 commented on #113
Thanks

[2022-06-03 11:44] pl4sma2389 commented on #114
@terrymacdonald I just finished running the equality tests with the new version after using the new version to save and reload the profiles in the same manner as I ran the tests the first time, and all of the equality tests passed as expected.

However, once I was finished, I tried to reload the triple config while in the cloned config state, and it didn't apply correctly. The program returned "ER

[2022-06-03 14:58] TOCA2FREAK opened #116 "Switching profiles turns off display"
**Describe the bug**
When changing profiles from nvidia surround on to nvidia surround off and vise versa my 4th monitor shows as disconnected under windows "Display Settings".  My triple monitors are all connected using display ports to my nvidia gfx card.  The 4th monitor is connected to the onboard (motherboard) HDMI port.

**Expected behaviour**
I expect when changing profiles that all monitor

[2022-06-03 20:28] terrymacdonald commented on #114
@pl4sma2389 Great! Thank you for grabbing that log. Those are the sorts of errors that uncover difficult to find bugs. So thank you for stopping to grab the error - it will really help.

I'll take a look to see what could have caused it now.

Thanks
Terry

[2022-06-03 21:27] terrymacdonald commented on #114
@pl4sma2389 I found another big bug that would have been causing intermittent problems for people thanks to your awesome log file!

The issue was that when applying the Windows GDI settings, I was applying them to each display in turn. This apparently is not the best way to do that on multiscreen devices (which is pretty much every DisplayMagician computer). I found out that you're supposed to app

[2022-06-03 21:29] terrymacdonald commented on #116
@TOCA2FREAK I think from the logs that the issue you are getting has been fixed in the codebase. This will be fixed when I release DisplayMagician v2.4.0 in the next week or so.

The actual bits of the logs that show it are here:
[code]

I believe it's getting those errors because the code that patched adapter IDs had missed patching a couple of adapters ids in the windows config. This meant that

[2022-06-03 22:03] terrymacdonald commented on #103
@cerahmed Please test this version of DisplayMagician v2.4.0.10:
[DisplayMagicianSetup-v2.4.0.10.zip](https://github.com/terrymacdonald/DisplayMagician/files/8835910/DisplayMagicianSetup-v2.4.0.10.zip)

It is a test version of DisplayMagician that **hopefully**  is nearly ready to ship.

PLEASE NOTE: It will rename your old DisplayMagician settings files which will stop older versions of DisplayMa

[2022-06-03 22:04] terrymacdonald commented on #113
@pilot40 Please test this version of DisplayMagician v2.4.0.10 when you get back:
[DisplayMagicianSetup-v2.4.0.10.zip](https://github.com/terrymacdonald/DisplayMagician/files/8835910/DisplayMagicianSetup-v2.4.0.10.zip)

It is a test version of DisplayMagician that **hopefully**  is nearly ready to ship.

PLEASE NOTE: It will rename your old DisplayMagician settings files which will stop older vers

[2022-06-04 00:22] pl4sma2389 commented on #114
All works fine now, no errors, using v1.7.9. Windows maximize correctly, and there are no errors in PowerShell. I'll test the new version of DisplayMagician shortly...

[2022-06-04 00:38] pl4sma2389 commented on #114
Yep.

I did not create any Game Shortcuts, so I can't test this. I did create and test a shortcut, and it seems to work perfectly.

Yep. Works fine.

However, there's one more thing to test-- the original issue. Restarting now...

[2022-06-04 00:49] pl4sma2389 commented on #114
@terrymacdonald After a restart, things appear to work exactly as they should. The original issue is fixed; DisplayMagician starts up correctly and is ready to use after login.

One more question: When switching from a "center triple" config to a "left triple" config (no surround), the primary display switches, but after it's finished switching, all the displays blank for 3 seconds. Is this intend

[2022-06-04 01:36] terrymacdonald commented on #114
Great news! Thanks for reporting back.

Yeah the display blanking thing is a windows thing. Changing the primary
display doesn't force a mode change, but moving windows around does force a
mode change. No idea why it's treated differently but Microsoft but it is...

DisplayMagician also does do multiple levels of changes if you have an
NVIDIA video card. It first resets any NVIDIA customisation, t

[2022-06-04 09:12] #114 closed

[2022-06-04 09:23] terrymacdonald commented on #98
@mastercko Letting you know I'm almost ready to release the DisplayMagician v2.4.0, as there has been a big amount of errors I've been asked to fix. I've found and fixed the errors, but they are all impacting a wide number of people, and causing other issues to be logged. I need to get that 2.4.0 release out the door so that everyone patches and DM becomes more robust and reliable.

This doesn't f

[2022-06-04 12:54] cerahmed commented on #103
Hey Terry,

I have done several tests and here're the results:

1) For the first app run only, it does show the warning asking to create new profiles - check.
2) I haven't used any game profiles yet, but I'll do that in future testing.
3) Here it gets a little weird:

After installing the new version and restarting the PC to make the necessary changes/flushing, I created two Superdisplay profiles

[2022-06-04 13:04] cerahmed commented on #103
So closing the application and relaunching it (without restarting again) made both profiles work! Pretty weird.
Logs for that below.

[DisplayMagician-Support-20220604-1603.zip](https://github.com/terrymacdonald/DisplayMagician/files/8837753/DisplayMagician-Support-20220604-1603.zip)

[2022-06-04 13:15] cerahmed commented on #103
So it seems like a pattern. After the above I:

1) Restarted the PC.
2) DisplayMagician Launched on Startup.
3) Tried loading the profile with the hotkey -> it fails.
4) Closed the app and relaunched it.
5) Tried again loading the profile with the hotkey -> it works.

It seems like the Superdisplay monitor HAS to be connected BEFORE DisplayMagician launches in order to update its ID correctly. In

[2022-06-04 13:28] cerahmed commented on #103
Sorry for bombarding you with my results, but I did the same testing as above again and again, to notice that the `Extended` profile indeed works the way I elaborated above, however with the same steps the `Duplicated` fails to load.

[DisplayMagician-Support-20220604-1627.zip](https://github.com/terrymacdonald/DisplayMagician/files/8837804/DisplayMagician-Support-20220604-1627.zip)

[2022-06-04 20:28] terrymacdonald commented on #103
That's going to take a while to unpack @ceramed! I'll do some testing on my
own system and see what I can find with duplicated mode.

Thanks
Terry

On Sun, 5 Jun 2022, 01:29 cerahmed, ***@***.***> wrote:

[2022-06-05 09:37] terrymacdonald commented on #103
@cerahmed looks like you have a single display showing up twice!

[code]

This in turn appears to have caused all sorts of problems with duplicate UID values (both SuperDisplay and SWD have UID256). This appears to be causing issues like this:

[code]

and this:

[code]

and this:

[code]

I *think* I might be able to fix this? I'll need to figure out a way of doing so. It may involve changing the

[2022-06-05 10:35] cerahmed commented on #103
Hi Terry,

Yeah I believe having two USB monitors make things a bit more complicated.
Here's the link to SpaceDesk: https://www.spacedesk.net/

My PC setup is as follows (when in Duplicate Mode):

![Duplicate-Setup](https://user-images.githubusercontent.com/21166481/172046435-3ba6b9f8-b275-458f-ae8c-8d23f5274810.jpg)

Let me know should you require further clarification on my settings!

[2022-06-05 17:46] TOCA2FREAK commented on #116
I'm so sorry but this is a little over my head.  I am unsure how to do these tests.

[2022-06-05 21:28] Chrius opened #117 "Wrong primary monitor when turning surround off with DisplayMagician."
Every time I swap from my surround profile to the normal (3 monitor) one, windows sets my right monitor as primary instead of the center one.
Then I have to go to the Nvidia Control panel and uncheck the "Span Displays with Surround" checkbox and everything goes back to how it should be.

The monitors actually show up as 3 separate monitors with settings for each one (instead of one giant monitor

[2022-06-06 01:41] pilot40 commented on #113
Thanks!

сб, 4 июн. 2022 г. в 05:04, terrymacdonald ***@***.***>:

--
С уважением Михаил
http://pilot208.ru/

[2022-06-06 05:09] terrymacdonald commented on #117
Hmmmm. It sounds like an NVIDIA driver problem, but can you please generate
a Support ZIP File from the settings window? Then upload it here through
your web browser.

I'll take a look.

Thanks
Terry

On Mon, 6 Jun 2022, 09:28 Chrius, ***@***.***> wrote:

[2022-06-06 07:53] terrymacdonald commented on #116
@TOCA2FREAK have you used Powershell before, or windows command line? Powershell is what's known as a terminal, which is kinda like an old text based computer screen. It's used for doing some complicated things that can't easily be done through the Windows GUI.

Download NVIDIAInfo v1.7.9 from the link I provided. Save it in your Downloads folder

Open Windows Explorer.  Navigate to your Downloads

[2022-06-06 07:54] terrymacdonald commented on #117
@Chrius Also please provide more information about what NVIDIA driver you are on, what monitors you are using, and what types of connections do you use to each of them (e.g. displayport, HDMI, DVI-D, etc)

Thanks
Terry

[2022-06-06 07:58] terrymacdonald commented on #117
@Chrius also what OS you are running, the model of your video card, if it is a standalone video card or in a laptop. Oh, and if there is anything else connected to the PC (like HTC Vive or something), or if you are running other software that changes the windows taskbar, or that adds different displays (like Superdisplay or SpaceDesk).

Thanks
Terry

[2022-06-06 07:58] terrymacdonald commented on #117
@Chrius One REALLY last thing. What version of DisplayMagician are you running? v2.3.1.60?

[2022-06-06 08:03] cerahmed commented on #103
Hey Terry,

My Windows Display Settings allow me to choose Duplicate Mode as follows.
I'm not sure why this setting is not showing up in yours!

<img width="772" alt="image" src="https://user-images.githubusercontent.com/21166481/172120526-ce0b9588-75e7-4036-bfc5-e13c0a4b9473.png">

As for the testing, I'm currently on my Laptop with no Spacedesk attached, would you want me to create the `extended

[2022-06-06 09:17] terrymacdonald commented on #103
@ceramed, wait until you're home. No rush as I'm just about to go to bed.

Thanks
Terry

On Mon, 6 Jun 2022, 20:03 cerahmed, ***@***.***> wrote:

[2022-06-06 11:35] Chrius commented on #117
[DisplayMagician-Support-20220606-0818.zip](https://github.com/terrymacdonald/DisplayMagician/files/8843996/DisplayMagician-Support-20220606-0818.zip)

I'm using the 512.95 driver on a GTX 1660 (Standalone) on Windows 11 (21H2) with DisplayMagician version 2.3.1.60.
The monitors are 2 LG Ultragear 24" and 1 LG Ultragear 27" (all at 1080p).
The 27" is connected through Displayport and the other 2 w

[2022-06-06 18:41] TOCA2FREAK commented on #116
![Screenshot 2022-06-06 194026](https://user-images.githubusercontent.com/19865649/172225480-2a1ab2b5-bf16-437d-9481-8fadde2ff02c.png)

I get the following message in the screenshot attached when typing NVIDIAInfo.exe

Is this correct?

[2022-06-06 18:52] terrymacdonald commented on #116
@TOCA2FREAK oh sorry, I just realised you'll need to put a `.\` in front of
each command. So type `.\NVIDIAInfo.exe` and then press enter.

That hopefully should work. Also well done on getting this far. I know how
complicated PowerShell looks when you first start out. Hopefully this
testing will help make it seem less daunting.

The information you will gather is really useful for me understandin

[2022-06-06 21:40] terrymacdonald commented on #117
@Chrius ok - I think this is actually caused by one of the errors that is fixed in the upcoming DisplayMagician v2.4.0. I will give you a download link, but please note this is a 'test' version, and you will need to delete and recreate your Display Profiles again when the final DisplayMagician version is released.

[DisplayMagicianSetup-v2.4.0.10.zip](https://github.com/terrymacdonald/DisplayMagic

[2022-06-06 21:41] terrymacdonald commented on #117
I'm going to close this issue for now as I believe it will be fixed by the DisplayMagician test version I just linked above. If you still have issues after you have installed v2.4.0.10 then please reopen this issue and we'll keep on testing.

Thanks
Terry

[2022-06-06 21:46] terrymacdonald commented on #116
@TOCA2FREAK there is a little 'shortcut' when typing in the name of a executable when you're in the same folder as the executable. You can type a bit of the name, then press the 'tab' key. It's kind of like an autocomplete. So if you want to use NVIDIAInfo.exe, then you can type 'NVI' and then press the Tab key. PowerShell will then expand out that name to the first one one that is closest e.g. '.

[2022-06-07 18:01] TOCA2FREAK commented on #116
I've just followed the instructions listed below...

Next swap back to the cloned screen display layout again:

- Load the third windows display as NVIDIAInfo load cloned.cfg
- Rename the NVIDIAInfo.log file to Rename-Item -Path "NVIDIAInfo.log" -NewName "NVIDIAInfo-cloned-reload.log"
- Check if the third windows display config is equal with NVIDIAInfo equal cloned.cfg (we want it to be equal)
- S

[2022-06-07 19:27] terrymacdonald commented on #116
That one is a mistake, we want it to be not equal. My instructions are
wrong.

Please continue with the rest of the tests, and then send all the files
together in a zip file. I'll then go through them forensic style looking
for things that went wrong.

Send through any other errors you get shown so that I know at what stage in
the testing process I need to look.

Thanks for your help!
Terry

On We

[2022-06-07 20:56] TOCA2FREAK commented on #116
Okay here is the zip file of my tests.

[TOCA2FREAK-Tests.zip](https://github.com/terrymacdonald/DisplayMagician/files/8856521/TOCA2FREAK-Tests.zip)

[2022-06-07 21:03] terrymacdonald commented on #116
Awesome. Nice work. I'll get onto reviewing them over the next few days and see what I find.

As a next step, please test this version of DisplayMagician v2.4.0.10:
[DisplayMagicianSetup-v2.4.0.10.zip](https://github.com/terrymacdonald/DisplayMagician/files/8835910/DisplayMagicianSetup-v2.4.0.10.zip)

It is a test version of DisplayMagician that **hopefully**  is nearly ready to ship, and *may* fi

[2022-06-08 17:45] TOCA2FREAK commented on #116
Hi,

Using v2.4.0.10 has fixed the issue where the 4th monitor used to turn off, so this is great news!

However when switching back to the profile where nvidia surround is off the centre display isn't set to the main display.  However windows display settings show it as the main strangely enough??

![Screenshot 2022-06-08 183917](https://user-images.githubusercontent.com/19865649/172682293-db1827

[2022-06-08 17:59] TOCA2FREAK commented on #116
Forgot to say.  This also happened in the version I was using before v2.4.0.10

[2022-06-08 20:34] terrymacdonald commented on #103
Oh cool! This gives me loads of logs to sift through. This is about the
best set of CFG and log files I've gotten, so I'm hopeful I can find the
issue.

I'm a little bit hampered by the fact I don't have an additional device to
test spacedesk at the same time. But will see what I can scrounge up.

I forgot to ask, are you on windows 10 or 11?

Thanks
Terry

On Thu, 9 Jun 2022, 03:59 cerahmed, ***@

[2022-06-09 05:45] cerahmed commented on #103
Great!

I'm on Windows 11 latest public release.

[2022-06-09 06:23] terrymacdonald commented on #116
@TOCA2FREAK I'm going to branch that off as a new issue, as the codebase  updates fixed your original problem.

[2022-06-09 06:23] #116 closed

[2022-06-09 06:24] terrymacdonald opened #119 "Primary monitor isn't being set"
Hi,

Using v2.4.0.10 has fixed the issue where the 4th monitor used to turn off, so this is great news!

However when switching back to the profile where nvidia surround is off the centre display isn't set to the main display.  However windows display settings show it as the main strangely enough??

![Screenshot 2022-06-08 183917](https://user-images.githubusercontent.com/19865649/172682293-db1827

[2022-06-09 06:28] terrymacdonald commented on #117
Actually @Chrius I've just created a new issue #119 for this exact issue, as someone else tested with DisplayMagician v2.4.0.10 and had the same problem that you described.

Can you please confirm that you also had the primary display not being set issue on DisplayMagician v2.3.1.60?

Thanks
Terry

[2022-06-09 11:13] terrymacdonald commented on #119
@TOCA2FREAK, I've found a couple of things that seem to be the cause of the error you got.

1. It looks like NVIDIA have made their NvAPI_Mosaic_SetDisplayGrids function only work with a SET_TOPOLOGY_FLAG value of NONE in the latest version of the driver. All other flag values results in a Crash to Desktop (CTD) :(. I have removed the other flags I used so that the driver will keep working.

2. Pa

[2022-06-09 11:14] terrymacdonald commented on #103
@cerahmed While we wait for my fix, can you please give this test version of DisplayMagician a go?  I've found a couple of things that *may* be the cause of the error you got (not sure though).

1. It looks like NVIDIA have made their NvAPI_Mosaic_SetDisplayGrids function only work with a SET_TOPOLOGY_FLAG value of NONE in the latest version of the driver. All other flag values results in a Crash

[2022-06-09 11:18] terrymacdonald commented on #117
@Chrius , I've found a couple of things that seem to be the cause of the error you got.

1. It looks like NVIDIA have made their NvAPI_Mosaic_SetDisplayGrids function only work with a SET_TOPOLOGY_FLAG value of NONE in the latest version of the driver. All other flag values results in a Crash to Desktop (CTD) :(. I have removed the other flags I used so that the driver will keep working.

2. Patch

[2022-06-09 11:29] Chrius commented on #117
Yeah

It's weird, with 2.4.0.10 (the previous version you provided) it seemed to be working correctly (at least with the limited testing I did).
I noticed it was still not unchecking the Surround box on the Nvidia control panel, but the monitors were working as they were supposed to and each with the correct refresh rate.

But when I come home from work I'll test the new version.

[2022-06-09 13:43] cerahmed commented on #103
Glad to hear that you were able to identify some bugs!

I uninstalled the older version of Display Magician and installed V2.4.0.26 as requested.

1) Created `extended` and `duplicated` profiles as before.
2) Switching back and forth between them works flawlessly! (before restarting)
3) Restarted my PC then tried loading `extended` for three times -> unfortunately it failed.
[Right After Applying

[2022-06-09 15:33] Chrius commented on #117
Ok, with 2.4.0.26 it's working the same way as it was with 2.4.0.10 for me.

The settings are working as they should, but the surround checkbox is not being unchecked (this isn't an issue anymore since the first 2.4 release, because even though it's checked, all settings are working as they should).

[2022-06-09 17:54] TOCA2FREAK commented on #119
Awesome stuff!!

v2.4.0.26 has fixed all the issues I was having. :)

[2022-06-09 19:16] terrymacdonald commented on #103
Darn it. Ok, so we've still got some issues to sort out specific to
SpaceDesk and Superdisplay. At least we're getting a little closer each
time.....

Thanks
Terry

On Fri, 10 Jun 2022, 01:43 cerahmed, ***@***.***> wrote:

[2022-06-09 19:26] terrymacdonald commented on #117
Hi @Chrius,

The control panel can't be unchecked by DisplayMagician. That is a
limitation of the NVIDIA control panel that can't be adjusted. The NVIDIA
control panel keeps track of its own UI state, and it expects that the only
way to change surround is via the control panel... This means that the
NVIDIA programmers didn't make their software check to make sure that
Surround was on our not. It j

[2022-06-09 20:07] TOCA2FREAK commented on #119
Actually.  I've just finished playing iRacing and when changing profile back to nvidia surround off I've got that same issue where the main monitor is on the left and not in the centre even though Windows shows the centre as the main. :(

[2022-06-09 22:27] #117 closed

[2022-06-09 22:30] terrymacdonald commented on #119
When that happens next please close Windows Display Settings, and then reopen it. Windows Display Settings expects that it is the  only thing that can change the display layout, so doesn't update when DisplayMagician makes it's changes. You need to either go to another part of the Windows settings, or close it and reopen it for the Display layout to be updated in Windows Display Settings.

Try tha

[2022-06-09 22:56] terrymacdonald commented on #103
@ceramed So, managed to get Superdisplay and SpaceDesk working together on my system, and have started testing. One thing I found out is that the taskbarlayout recording can have a delay of 15 seconds, so I have added some checks to prevent the display config from saving until Windows updates the registry with the taskbar layout. This means it can take up to 20 seconds to save a config, but at lea

[2022-06-10 10:09] cerahmed commented on #103
Hi Terry,

I will try the steps I made in my last comment with my laptop that only has SuperDisplay installed; will share the results later.

The reason why I use both is because my first choice is SuperDisplay, as it can drive an android tablet at its full resolution @ 120Hz! That's crazy good for using it as a pen tablet monitor and other stuff. But SuperDisplay can only work with one device at

[2022-06-10 16:43] pilot40 commented on #113
Please check the following when you test this version of DisplayMagician
that:

   - You are informed during first run of DisplayMagician that you will
   need to create new Display Profiles +
   - Your Game Shortcuts are still there, and that you can update them with
   the new Display Profiles you create I don't use game shortcuts
   - That you can swap between all the Display Profiles you creat

[2022-06-10 20:25] TOCA2FREAK commented on #119
It's happened again.  I closed windows display settings re-opened it and it still shows Display 2 as main display but it's actually Display 1 that is the main display.

FYI It is Display 2 that I want to be set to the main display as show in the screenshot in post #1

[2022-06-10 20:45] terrymacdonald commented on #119
I have a theory. Can you please delete the existing display profiles you
have, and then create new ones, but please wait 30 seconds after changing
the display layout before you save it in DisplayMagician.

I have a gut feeling that it may be related to the delay that windows does
with taskbar layout. Windows only updated registry keys after 20 seconds or
so. Buy waiting 30 seconds after making a c

[2022-06-10 21:14] TOCA2FREAK commented on #119
Okay I did as you suggested above, but still the same issue occurs. :(

[2022-06-10 23:30] terrymacdonald commented on #119
Ok, can you please create a Support ZIP file and upload it here please. It
will hopefully have some errors in the logs that will help me figure out
what's going on.

Thanks
Terry

On Sat, 11 Jun 2022, 09:15 TOCA2FREAK, ***@***.***> wrote:

[2022-06-11 03:16] terrymacdonald commented on #113
ok - cool, so everything is working now? If so, please close this issue.

[2022-06-11 03:46] terrymacdonald commented on #103
@cerahmed Did NVIDIAInfo v1.7.9 work ok?

Another thought I had was that it could be that the display layout changes need to fully be changed before being saved. The reason I say this is that I currently monitor the windows taskbar location using some registry keys. These registry keys aren't actually updated until 15-20 seconds after the display layout change has happened. It is possible that the

[2022-06-11 03:50] #113 closed

[2022-06-11 12:08] cerahmed commented on #103
Hey Terry,

NvidiaInfo V1.7.9 works 99% of the time - as I elaborated in [this comment](https://github.com/terrymacdonald/DisplayMagician/issues/103#issuecomment-1150104813). Sometimes I have to apply the `extended` profile twice for it to load properly.

As for CCDInfo, I've done what you've requested:

1) Created extended profile in Windows Settings -> waited +30 seconds -> saved `extended.cfg`.

[2022-06-11 12:52] TOCA2FREAK commented on #119
[DisplayMagician-Support-20220611-1352.zip](https://github.com/terrymacdonald/DisplayMagician/files/8883897/DisplayMagician-Support-20220611-1352.zip)

[2022-06-12 01:54] terrymacdonald commented on #119
@TOCA2FREAK OK - so I've now updated the WinLibrary to attempt to force set the primary display. It is possible that the Windows CCD API isn't setting the primary display properly, so I'm instead trying to use the Windows GDI API to be able to do it.

I really need to isolate the errors to just the WinLibrary, so I'm going to get you do do something similar to what we did with NVIDIAInfo, but to d

[2022-06-12 11:41] CodeContributorX opened #120 ""Update Check Failed" error even when there's no active network adapter available"
**Describe the bug**
"Update Check Failed" error every time DisplayMagician starts.
Even when there is no active network adapter available in Windows.
"Upgrade DislayMagician [..]" option **disabled**

**To Reproduce**
Steps to reproduce the behaviour:
1. Disable all network adapters
2. Start DisplayMagician
3. Observe the error

**Expected behaviour**
No error when "Upgrade DislayMagician [..]" o

[2022-06-12 12:56] TOCA2FREAK commented on #119
![Screenshot 2022-06-12 135431](https://user-images.githubusercontent.com/19865649/173234278-97ca7ac6-7978-4360-8293-0c1766e512a8.png)
![Screenshot 2022-06-12 135502](https://user-images.githubusercontent.com/19865649/173234279-f9970636-2264-46a0-bcab-d98e91e4c73f.png)
[CCDInfoTestResults.zip](https://github.com/terrymacdonald/DisplayMagician/files/8885858/CCDInfoTestResults.zip)

[2022-06-12 13:25] mastercko commented on #98
Hi,

Sorry, I have been busy with work for a while, so I wasn't able to get to this until now. Regarding the specifics of the upgrade, this is what happened for all the tests:

* Test: Informed during the first run of need to create new Display Profiles
  * Result: PASS
* Test: Game Shortcuts are still there and I can update them
  * Result: FAIL
  * Note: All Game Shortcuts are missing from Game

[2022-06-12 21:47] terrymacdonald commented on #120
Hi @CodeContributorX , thanks for logging the issue.

DIsplayMagician updating works fine for others with that exact same version, so I wonder what is happening here. I wonder if it's something about the particular previous versions that you've upgraded from. Maybe some files weren't migrated properly during a previous upgrade.

Can you please generate a Support ZIP File for me, and then upload it

[2022-06-13 04:59] CodeContributorX commented on #120
Hi Terry,

Thanks for quick reply. Not sure if I described the issue clear enogh in the bug report.
The problem is not that updating does not work. My problem is that DisplayMagician tries to connect to internet when there's no internet connection. The program tries to connect even when all network adapters are switched off.

Is it possible to check internet connection in program code before updat

[2022-06-13 06:39] terrymacdonald commented on #120
Hi,

Yeah I got that. The files are accessible as far as I can tell.
DisplayMagician does a lot of logging, so if you could go into settings,
make sure the living level is set to TRACE level, and then click on Create
Support ZIP File it would really help me understand where the error is in
the code.

In other words, the logs help me troubleshoot the faulty logic, or helps me
realise what additiona

[2022-06-13 08:06] terrymacdonald commented on #120
Hi @CodeContributorX,

I've stepped through right now using a debugger, and the update mechanisms work fine for me and my system.

Firstly, it connects to http://displaymagician.littlebitbig.com/update/update_2.0.json and download the JSON there:

[code]

It then parses the file, and checks to see if there is a newer version than the current version. Seeing as you are using 2.3.1.60, it *should* s

[2022-06-13 08:18] terrymacdonald commented on #119
@TOCA2FREAK I've just realised I'm an idiot :). I got you to test surround configuration in the instructions using CCDInfo - and CCDInfo doesn't support NVIDIA Surround :eyeroll:

I'm so sorry about that! My only excuse it that it was late at night.... I just was going through your logs wondering why it didn't work, and then had a moment of clarity!

OK! So I'll update the instructions now, and ge

[2022-06-13 09:07] terrymacdonald commented on #103
ok @cerahmed, I found some possible problems with the config that DisplayMagician generates which may be causing your issue.

**1. The extended.cfg lists 3 different adapters in there:**
[code]
This is good.

The duplicated.cfg only has 2 adapters listed (75441 and 7077733). Yet it still has the old adapter ID `118797` still in the duplicated.cfg. That isn't going to work. I think that is the caus

[2022-06-13 09:28] terrymacdonald commented on #103
Deeper inspection proves that 2. may not be quite the error I thought it was. I actually don't use the previous config as part of GetCurrentAdapterIDs, but instead actually specifically call windows QueryDisplayConfig requesting all adapters that windows has connected, even if they are not currently in use. **This would successfully pick up the SuperDisplay adapter if it was connected**. I've been

[2022-06-13 10:04] cerahmed commented on #103
Hey Terry, I can assure you that this is not the case, as I'm 100% SuperDisplay is indeed active during the loading process. Forgot to mention that I'm using SuperDisplay beta release (which you can enroll in via Google Play Store) - this beta version includes the option to always keep the app running even in background (even though I never dismissed the app during loading the profile).

I don't t

[2022-06-13 10:11] cerahmed commented on #103
One fact to give us hope is that -as I mentioned earlier- NvidiaInfo V1.7.9 still works ok (despite having to load `extended.cfg` twice for it to load).

My gut feeling is that the order at which DisplayMagician "patches" the monitors' ID's is supposed to be moved to a more logical place - perhaps right before loading the profile, instead of at the startup of DisplayMagician.

I haven't examined t

[2022-06-13 10:24] cerahmed commented on #103
P.S. as I seem to be one of only a few people (if any) using SuperDisplay together with DisplayMagician, I feel like you've given this issue so much time and effort. Please feel free to set it aside and come back to it whenever you're completely free to work on it. No pressure and I have no expectation to a soon resolution but I'm glad to do any testing whenever you have a new release 👍👌

[2022-06-13 11:16] terrymacdonald commented on #103
@cerahmed patching IDs  happens when the profiles are loaded from the disk, as they are then theoretically in a 'patched' state in memory, This was deliberately chosen as it is needed for the equality testing to work. Most people don't have a changing set of video adapters :).

That said, it is likely that it will be more common to have software based video adapters, or that there are external ada

[2022-06-13 11:51] terrymacdonald commented on #120
Hi @CodeContributorX,

It was way easier to add the network detection check than I thought. I've added it to the v2.4.0 codebase already (you can see the commit above) so it will be part of the v2.4.0 release.

I'll close this issue now so I can keep track of the work I still have to do. Please feel free to reopen if I still haven't quite understood the issue you were describing to me.

Thanks
Ter

[2022-06-13 11:51] #120 closed

[2022-06-13 13:15] CodeContributorX commented on #120
Hi Terry,

I fully agree. It is not a bug :) Sorry for confusion.
After second thought I also agree that it is usefull to know that there's a problem with internet connection.

Thank you for incorporation the option.

Regards

[2022-06-13 18:01] TOCA2FREAK commented on #119
![Screenshot 2022-06-13 185812](https://user-images.githubusercontent.com/19865649/173415867-d41f8aab-9a15-439c-bfac-0532fab07e58.png)
![Screenshot 2022-06-13 185844](https://user-images.githubusercontent.com/19865649/173415870-f26406dd-e624-4380-948f-a4b6c9b62be8.png)
[CCDInfo-v1.8.0Testing.zip](https://github.com/terrymacdonald/DisplayMagician/files/8893389/CCDInfo-v1.8.0Testing.zip)

I'm glad t

[2022-06-15 03:21] SirKittyton opened #123 "App won't open"
Hello!

I recently discovered this app and it quickly solved my issues with displays for games.

After a reboot of my system, the app no longer will open, despite a fresh install and reboot, it will no longer open.

I can see when I attempt to start the application, it pops up in task manager but immediately crashes.

On Windows 10.

Thanks

[2022-06-15 09:56] terrymacdonald commented on #123
Hi @SirKittyton

I think some other users have struck this issue. Can you please try this new test version DisplayMagician v2.4.0.26, to see if it fixes your problem?

To install DisplayMagician v2.4.0.26, please download this zip file and install the exe inside it. Please test the software and make sure that it now swaps display profiles without any errors:
[DisplayMagicianSetup-v2.4.0.26.zip](ht

[2022-06-16 09:10] SomeKay commented on #123
Hey @terrymacdonald, here are my findings:
- yesterday, I first did an install of the new (2.4.0.26) version over the current official version, restarted and it didn't want to start up
- after your comment, I uninstalled it again, restarted and installed only the new version and restarted again - it started working then and changed the profiles between Surround and separate displays wonderfully
-

[2022-06-16 09:58] terrymacdonald commented on #103
@cerahmed some hopefully good news! I have another CCDINfo to try, and this implements the new adapter logic that will store all adapters in the system along with the profile. This should stop that other error from being the cause of it not working, but  it equally may cause another issue :). Let's see.

Can you please download CCDInfo v1.8.1 from here https://github.com/terrymacdonald/CCDInfo/rel

[2022-06-16 18:20] terrymacdonald commented on #123
Hi,

You have to delete your old display profiles, and then create them again.
The reason is that the display profile file format changed, and the old
display profiles don't have all the information in them that the new
version of DisplayMagician needs.

I strongly recommend deleting your old profiles, then recreate then again.
Once you've done that, you will need to update each game shortcut to u

[2022-06-16 19:56] SomeKay commented on #123
I've tried now uninstalling DisplayMagician completely, deleting all profiles, deleting every trace of it (in %APPDATA%) and then reinstalling the test 2.4.0 version.

It's still presenting the same issues: it doesn't want to start (and crashes with the same error in Event Viewer) until I go into Nvidia Control Panel and enable Surround.

There is one additional oddity, but maybe that's how it is

[2022-06-16 21:07] terrymacdonald commented on #123
Hi,

No, that's not normal. It looks as though NVIDIA surround needs to be
turned off via NVIDIA control panel.

I would shutdown DisplayMagician, then open NVIDIA control panel and
confirm that NVIDIA surround is turned off, then save your triple config in
DisplayMagician.

One thing to note is that the windows display settings window sometimes
needs to be restarted to pick up the current display

[2022-06-18 10:53] cerahmed commented on #103
Hey Terry!

I have downloaded CCDInfo V1.8.1 and did the required testing all without restarting for now.
Still it seems like nothing is changing, but hopefully the logs are richer this time!

1) I created the extended profile in Windows settings -> waited for 30 seconds -> saved `extended.cfg` and renamed log to `save-extended`.

2) I then created the duplicated profile in Windows -> waited for 3

[2022-06-19 15:57] TOCA2FREAK commented on #119
Sorry it's taken a while to get back to this.

I've just done what you suggested above and yes the primary monitor does change to the correct one when loading triple.cfg and then triple-primary.cfg.  So yes the new code is working! :D

[2022-06-19 18:57] terrymacdonald commented on #123
@SomeKay I forgot to say, can you please zip up all of the 5 DisplayMagician.log files in C:\Users\<username>\AppData\Local\DisplayMagician\Logs\ so that I can see what errors are in them? It may help me fix the issue.

Thanks
Terry

[2022-06-20 20:22] SomeKay commented on #123
@terrymacdonald Of course, the logs from the version which doesn't work (2.4.0.26) are attached.
[DisplayMagicianLogs.zip](https://github.com/terrymacdonald/DisplayMagician/files/8943467/DisplayMagicianLogs.zip)

On a side note: I tried installing an old version (2.1.5) and that one works perfectly.

[2022-06-21 03:10] waitwhereami opened #124 "Restore previous window position on profile switch"
**Is your feature request related to a problem? Please describe.**
First off, I love the software so far. It fixes a problem I didn't know I had. Great work! I did have one suggestion for an improvement, however. When switching between NVIDIA surround and my standard two monitor extended desktop I've noticed any open windows lose their positioning. It's not a huge deal to put them back where they

[2022-06-21 03:18] terrymacdonald commented on #124
@waitwhereami Funny you should log this. I actually just got annoyed by this very thing myself last week, and so added a similar feature into DisplayMagician v2.4.0 (which is currently in testing).

It's unfortunately nowhere near as fancy as what you suggested above, but it does work. It simply figures out where the middle of the primary monitor is, and centers itself on that. This ensures that i

[2022-06-21 03:18] #124 closed

[2022-06-21 03:19] terrymacdonald commented on #119
Excellent! I will close down this issue, and see what else needs to be worked on to get v2.4.0 officially released!

[2022-06-21 07:04] terrymacdonald commented on #123
@SomeKay some of the errors in the DisplayMagician logs **should** be fixed in the latest test version of DisplayMagician which I'll attach here.

There are some really weird issues in the logs as, sometimes the log files are only 1 line long! I've never seen that ever before. It's really very strange.

I'm going to add some logs to the codebase and I'll make a new test version just for you now th

[2022-06-21 07:05] terrymacdonald commented on #123
@SirKittyton Can you please try again with DisplayMagician v2.4.0.50 too? See above comment ^

Thanks
Terry

[2022-06-21 09:41] terrymacdonald commented on #103
@cerahmed I think I'll have to park it for a bit. I need to squash some other people's bugs and then get this release out. It's WAY more reliable that 2.3.1.60, so I'd better release it sooner rather than later.

I'll circle back to this when I have some more time avilable.

[2022-06-21 19:49] SomeKay commented on #123
@terrymacdonald Unfortunately, the new version doesn't do anything new. I still can't start on separate triples, but can start it when on Nvidia Surround.

Here are the 2 logs named appropriately:
[DisplayMagicianLogs.zip](https://github.com/terrymacdonald/DisplayMagician/files/8952354/DisplayMagicianLogs.zip)

[2022-06-22 04:10] Vixo4K opened #125 "Display profile changes when alt-tab in fullscreen game."
Whenever i'm playing on fullscreen, and minimize the game, the display profile switches to a different one.

Expected behaviour:
I would like to stay on the desired profile until i manually change it back without being switched to my TV in the middle of the game.

Specs:
 - Windows Version: Windows 10 21H2 19044.1766
 - DisplayMagician Version 2.3.1.60
 - Video Card: EVGA NVIDIA 1060 6gb
 - Number

[2022-06-22 05:47] terrymacdonald commented on #125
@Vixo4K If you are running a Game Shortcut that changes the display layout, then DisplayMagician waits until it detects the game process has closed. It doesn't have anything to do with monitoring Display Profiles or whether the game is fullscreen or not. It's all about whether the game process is still there.

Some games use a game launcher which launches, starts the main game process, and then cl

[2022-06-22 20:02] Vixo4K commented on #125
I forgot to mention that i have actually three displays, the third one being my TV. So i have two profiles: one for the two monitors on my desk and another one only for my TV (SONY KDL - 32EX405)

[2022-06-22 20:30] terrymacdonald commented on #125
@Vixo4K Do you have any other software that changes the display layout, or that alters the Windows Taskbar at all?

I've updated the WinLibrary to workaround the issues I found in your log files. We now only accept the sources that use the `\\.\DIISPLAYXX` format, so that we make sure they are real valid sources. This should hopefully make things work for you.

In order to test this, I'll need you

[2022-06-22 23:08] terrymacdonald commented on #123
Oh I forgot! Please also set the Logging level to TRACE. You can do that in the Settings window. Most logs are set at Trace logging level, so I expect we're missing a lot of info at the moment.

If you cannot start DisplayMagician at all, then please edit the Settings_2.4.json file in c:\Users\<username>\AppData\Local\DisplayMagician folder, and change the `"LogLevel": "Info",` line to `"LogLevel"

[2022-06-22 23:23] Vixo4K commented on #125
I use TaskbarX to make the taskbar transparent if that's what you mean

[2022-06-26 06:36] terrymacdonald commented on #125
@Vixo4K That TaskbarX may be the cause of this, but I'll have to see the results of your testing really.

Please upload the ZIP file you create after going through those instructions I provided in the exact order they are listed. Then I should have much more information about what has been happening.

Thanks
Terry

[2022-06-26 06:39] terrymacdonald commented on #123
@SomeKay Once you've done the above, please try restarting DisplayMagician, and you should get some nicely detailed logs that will help me figure out what bit is broken.

Please generate the Support ZIP File if you can (if DisplayMagician starts). DisplayMagician Support ZIP Files actually contain the last 4 log files, as well as the Display Profiles, and the Game Shortcuts, so will give me exactl

[2022-06-26 06:42] terrymacdonald commented on #123
@SirKittyton Did DisplayMagician 2.4.0.50 fix the issue? [DisplayMagicianSetup-v2.4.0.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/8946550/DisplayMagicianSetup-v2.4.0.50.zip)

If so, please reply here so I know I can consider your issue closed. If you are still having an issue please create a Support ZIP File from the DisplayMagician settings window, and then upload it here. If

[2022-06-27 23:58] terrymacdonald commented on #123
@SomeKay @SirKittyton confirmed it was the Windows DPI scaling. From my testing it seems some hardware (most likely laptops) return data outside the expected range. I've now made DisplayMagician tell windows what DPI awareness it has, so that we get the guaranteed right DPI settings, and I've made WinLibrary handle expected values (as in my testing these values still result in the correct Windows

[2022-06-27 23:59] terrymacdonald commented on #125
@Vixo4K I've just confirmed a bug with the Windows DPI scaling that may be the cause of your issue. From my testing it seems some hardware (most likely laptops) return data outside the expected range. I've now made DisplayMagician tell windows what DPI awareness it has, so that we get the guaranteed right DPI settings, and I've made WinLibrary handle expected values (as in my testing these values

[2022-06-27 23:59] terrymacdonald commented on #103
@cerahmed I've just confirmed a bug with the Windows DPI scaling that may be the cause of your issue. From my testing it seems some hardware (most likely laptops) return data outside the expected range. I've now made DisplayMagician tell windows what DPI awareness it has, so that we get the guaranteed right DPI settings, and I've made WinLibrary handle expected values (as in my testing these value

[2022-06-29 08:55] cerahmed commented on #103
Hey Terry,

Thanks for the update!

I went ahead and removed the old version, restarted my laptop (I'm on laptop now, I'll try with my PC when I'm home), installed the test version, restarted the pc again and did the following tests:

1) DisplayMagician shows the warning message on the first launch.
2) It loads the app correctly the first time.
3) Created the extended profile in Windows Settings -

[2022-06-29 11:53] sven25 commented on #87
Hi Terry,
sorry for answering that late.
First of all thank you very much for the effort in developing this nice tool.
With version 2.3.1.60 the Game Shortcuts are generally working now, which is great!

So now there is a little thing with the audio setting:

- Game Shortcut 1 sets the default microphone to lets say "mic 1"
- Game Shortcut 2 sets the default microphone to "mic 2"

[2022-06-29 12:01] sven25 opened #127 "Game Shortcut Audio Settings"
Hi Terry,
sorry for answering that late.
First of all thank you very much for the effort in developing this nice tool.
With version 2.3.1.60 the Game Shortcuts are generally working now, which is great!

So now there is a little thing with the audio setting:

- Game Shortcut 1 sets the default microphone to lets say "mic 1"
- Game Shortcut 2 sets the default microphone to "mic 2"

Now i selected "

[2022-06-29 20:15] terrymacdonald commented on #127
@sven25 sounds like a good idea! I could make it a simple 'Also change communication device' checkbox or something, and then revert it back after running the game shortcut. Windows sound device control is a pain. But I'll have a look at it once I've released the next DisplayMagician version 2.4.0.

[2022-06-29 20:18] sven25 commented on #127
Sound good. I´m looking forward to it! :)

[2022-06-30 22:54] terrymacdonald commented on #125
Hi @Vixo4K,

I can't wait any longer, so I'm releasing DisplayMagician v2.4.0 today which *should* fix you issue. I'm going to close your issue for now so I know what other issues I need to work on, but if you do some testing and this same issue is still causing you a problem, then please reopen this issue and we'll continue to test. If you get a different problem with DisplayMagician v2.4.0  plea

[2022-06-30 22:54] #125 closed

[2022-06-30 22:55] terrymacdonald commented on #123
Hi @SirKittyton @SomeKay,

I can't wait any longer, so I'm releasing DisplayMagician v2.4.0 today which *should* fix you issue. I'm going to close your issue for now so I know what other issues I need to work on, but if you do some testing and this same issue is still causing you a problem, then please reopen this issue and we'll continue to test. If you get a different problem with DisplayMagicia

[2022-06-30 22:55] #123 closed

[2022-07-01 02:47] A0L0XIIV opened #128 "v2.4.0 doesn't work on Win10 (with old configs)"
**v2.4.0 doesn't work on Win10 (with old configs)**
After updating it from 2.3.1 to 2.4.0 DM doesn't work/launch.
After running the executable, it starts the process. However, as soon as I started to interact with its GUI (system tray or right-click menu profile change) it goes away (system tray icon) and the process stops/dies.

**Tried these methods**
- Updated from 2.3.1 -> 2.4.0, restarted my

[2022-07-01 03:45] terrymacdonald commented on #128
Hi,

Was that after creating brand new display profiles? DisplayMagician needs
new display profiles in order to work.

Please create a Support ZIP File from the settings button in the main page,
and upload it here. That will let me see your configuration and the log
files too.

Thanks
Terry

On Fri, 1 Jul 2022, 14:47 Baran Kaya, ***@***.***> wrote:

[2022-07-01 04:03] terrymacdonald commented on #128
@A0L0XIIV I think I found the issue:

[code]

It looks like it's the new centering logic. It fails to take into consideration running it without a form, as happens from a Desktop Shortcut or system tray.

I'll hopefully have a fix out shortly.

Thanks
Terry

[2022-07-01 04:12] A0L0XIIV commented on #128
Hi Terry,
Yes and no. It wasn't working either before or after the new profile creation.
The only solution that worked for me was removing the DisplayMagician file in the AppData (in my case, I just renamed it to something different). So, probably something in my old settings, profiles or shortcuts was causing this issue.
I am glad you found the issue.
Thanks

[2022-07-01 04:16] terrymacdonald commented on #128
@A0L0XIIV Are you around for the next 30 mins?  I should have a fix out by then and it would be cool to get you to test ASAP. I'd love to get this fixed before everyone starts using 2.4.0 over the weekend.

I'll drop the new fixed version as soon as I can (next 10 mins or so).

Thanks
Terry

[2022-07-01 04:18] A0L0XIIV commented on #128
Sure, I can test the new release with my old settings. I haven't deleted them yet.

[2022-07-01 04:25] terrymacdonald commented on #128
@A0L0XIIV Here we go, hot off the press! This adds a lot of extra error checking around the new window centering code to (hopefully) avoid this issue. I couldn't see any other errors in your log file, so fingers crossed this works! 🤞

[DisplayMagicianSetup-v2.4.1.1.zip](https://github.com/terrymacdonald/DisplayMagician/files/9025059/DisplayMagicianSetup-v2.4.1.1.zip)

Please report back with whate

[2022-07-01 04:35] A0L0XIIV commented on #128
It works!
I re-installed v2.3.1.60, changed my settings folder to the old one, and installed the new v2.4.1.1.
Now I can access the GUI with my old profiles and shortcuts.

Thanks for the help and for solving the issue lighting fast!
Closing the issue.

[2022-07-01 04:35] #128 closed

[2022-07-01 04:39] terrymacdonald commented on #128
Best news ever! Thanks to YOU for testing so quickly for me! We just avoided impacting about 1500 people's weekends. That's a good thing.

Thanks
Terry

[2022-07-01 14:36] FormelLMS opened #129 "Version 2.4.1.1 is very slow starting and responding"
Upgraded the Version to  2.4.1.1 and deleted all Display Profiles.
All after that is responding very slow. Getting into the Display Profiles, creating one, starting and stopping for a game
[DisplayMagician-Support-20220701-1633.zip](https://github.com/terrymacdonald/DisplayMagician/files/9029640/DisplayMagician-Support-20220701-1633.zip)
.

[2022-07-02 03:14] terrymacdonald commented on #129
@FormelLMS

Can you please explain what you mean by 'it is responding very slow'? Is there a large difference in the time it took DisplayMagician 2.3.1.60 to change between profiles compared to DisplayMagician 2.4.1.1? If so, how much difference in time is there? Does DisplayMagician 2.4.1.1 take 20 seconds more to change screens than 2.3.1.60 did?

Some other questions I have:
- Does the delay oc

[2022-07-02 17:54] FormelLMS commented on #129
Hey Terry. You where absolutely right. The trouble was while opening the display configuration. And it lasts indeed 20 seconds. I’m feeling dumb now because I hadn’t read it.
New version works good here. Thanks for that.

Everything I’ve tried, was working there.

[2022-07-02 18:42] TOCA2FREAK commented on #119
This is still an issue with v2.4.1.1  :(

[2022-07-02 19:43] terrymacdonald commented on #119
I have no idea how that could be as the WinLibrary code for setting the
primary monitor is exactly the same as the one that worked for you before!

Can you please try to recreate your display profiles, but this time please
wait 30 seconds after changing the display layout before saving each
display profile.

Can you please then do a couple of display profile changes, and then
generate a Support ZI

[2022-07-02 21:05] TOCA2FREAK commented on #119
![screenshot](https://user-images.githubusercontent.com/19865649/177016112-f637ae87-b251-427f-9022-7ce04b39890c.jpg)
[DisplayMagician-Support-20220702-2202.zip](https://github.com/terrymacdonald/DisplayMagician/files/9033713/DisplayMagician-Support-20220702-2202.zip)
Okay here is the support ZIP file along with screenshot showing Display 3 has been set as main even though windows shows Display 2 a

[2022-07-03 01:01] terrymacdonald commented on #129
ok, closing this issue then! The hotfix I gave you will be released as part of v2.5.0 coming out in a few weeks.

[2022-07-03 01:01] #129 closed

[2022-07-03 03:28] terrymacdonald commented on #119
Did waiting 30 seconds before recreating the display profiles work? Or was
it still broken even after waiting 30 seconds?

Thanks
Terry

On Sun, 3 Jul 2022, 09:05 TOCA2FREAK, ***@***.***> wrote:

[2022-07-03 16:39] TOCA2FREAK commented on #119
Yeah I waited 30 seconds before recreating the display profile and still has the issue as in OP. :(

[2022-07-05 09:01] terrymacdonald commented on #98
@mastercko Great news! DisplayMagician v2.4.1 is now released and much more reliable than v2.3.1.60 was, so that's great. But another great bit of news, is that I've been able to start work on making it easier to add installed applications to DisplayMagician.

I wanted to give you a heads up on what I've been working on. I've managed to get a new interface working for selecting applications/game e

[2022-07-06 17:18] theblackhole opened #130 "Warn users about profile deletion before update"
**Is your feature request related to a problem? Please describe.**
I love DisplayMagician but it's quite frustrating to loose my profiles, almost every update, without any warning.
As a developer myself, I understand that retrocompatibility can be time consuming and sometimes not possible to implement.
But the frustrating part is the element of surprise.

**Describe the solution you'd like**
Warn

[2022-07-06 17:56] Flymo74 opened #131 "Nvidia Surround not working and crashing the App"
**Describe the bug**
After updating I can create and save Nvidia surround profile as I had before but the app crashes and does not switch from single display to triple surround anymore.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create surround profile for triple display
2. Save profile
3. Switch back to single display
4. Click triple display profile and app crashes.

**Expected behavi

[2022-07-06 20:33] terrymacdonald commented on #130
Hi @theblackhole,

Yeah I get it. I am sorry for the number of breaking changes I've had to implement. There has been a lot of bugs I've had to fix which have necessitated display profile format updates, and I've taken the opportunity to roll in some more profile modifications at the same time to try and make things better. I know this has been frustrating for people, but in 99% of the cases it's

[2022-07-07 00:52] terrymacdonald commented on #130
@theblackhole This is what I've come up with:

![image](https://user-images.githubusercontent.com/5721772/177666375-21c03697-b590-4b98-bd17-c6071a054ca4.png)

This replaces the previous MessageBox way of doing things. The text in the middle is updated based on the additional settings I apply on the server side for that particular update requirements. Additionally I've added the ability to say remi

[2022-07-07 00:52] #130 closed

[2022-07-07 17:50] TOCA2FREAK commented on #119
Hi Terry,

You are correct about the displays I'm using.

It's display 2 that is set to the main screen (middle screen) in windows display settings and the one I want to be the main display, but display 3 is actually the main display, so no it's not doing what I want it to.

Also when changing profiles I never have nvidia control panel or windows display settings open.  I only open them to check t

[2022-07-07 19:15] terrymacdonald commented on #119
Ok, so for confirmation, what are the names of the profiles that you change
from, and to? I want to make sure I'm following the right logs when you
move from profile #1 to profile #2 for a display that doesn't work.

Also, are you able to make a display profile without a cloned display in
it, and then test if that is able to set the primary display reliably. I
have a theory that it may be related

[2022-07-08 00:29] terrymacdonald commented on #127
@sven25 The codebase I'm working on now has this functionality. How it works is that you can check the 'Use as a communications device' checkbox next to the audio device or the microphone device, and it will change the device and also set it to the communications device too. It will also remember the devices and settings that were there before we changed it, and it will change them all back.

It l

[2022-07-08 00:29] #127 closed

[2022-07-08 10:59] terrymacdonald commented on #131
@Flymo74 I can see that you are attempting to load a Display Profile from a Desktop Shortcut. Your old Desktop Shortcut is pointing to your old Display Profile that no longer exists. During the upgrade to v2.4.1.1 you had to create a new Display Profile. This has a completely different UUID as it is a new Display Profile, meaning that the old Desktop Shortcut won't work with the new Display Profil

[2022-07-08 18:05] TOCA2FREAK commented on #119
So when changing to profile "NVIDIA Surround Off" is when it sets the wrong main monitor sometimes.  Changing to profile "Nvidia Surround On" I have no issues.

When you say make a profile without a cloned display in it what do you mean by that?

Lastly you ask to make another test display profile that is the same as my NVIDIA triple screen profile with cloned display.  I assume you mean setting w

[2022-07-08 20:18] terrymacdonald commented on #119
Sorry @TOCA2FREAK,

I sometimes use the internal programming names for functions rather than
what they are labelled in the Windows UI, as that's what I'm working with
most of the time! Sorry about that.

When I mean 'cloned' window I mean one that is a duplicate of another
window.

After thinking about it a bit more, I think I need you to create two
profiles with individual screens (no duplicate s

[2022-07-09 09:46] terrymacdonald commented on #131
@Flymo74 One more question... do you still get a crash if you apply a different display profile from the Display Profile window, do you still get a crash? If you do get a crash, is it swapping from an NVIDIA surround profile to a 3x individual display profile?

Thanks
Terry

[2022-07-09 16:19] mastercko commented on #98
Congrats on getting the update out. I have already updated and it's working well for me so far. Thanks!

And that looks great! Would be glad to see an easy to select solution like that.

Looking forward to testing out the update once its ready!

[2022-07-09 19:30] theblackhole commented on #130
Hi @terrymacdonald,

Wow that was quick !

Oh, don't be sorry about that, that's normal! It's a complicated project, and by looking at the past contributions, it looks like you're on your own. For an advanced app made by a single developer, it is truely magic! 😄

It does, totally :)

This is more than good enough: giving users the choice to upgrade later after being warned and the bonus ability to

[2022-07-09 20:05] terrymacdonald commented on #130
Thanks for the kind words. I do try to give people a solid working product.
It's been pretty challenging with all the different types of hardware out
there, not to mention the fact not all display connection types support all
the functionality.  It's taken a LOT of my time creating DisplayMagician,
but I do enjoy making the impossible happen.

Thanks for your great feedback. It's really humbling h

[2022-07-12 17:59] TOCA2FREAK commented on #119
Sorry been a while in getting back.  I've now reinstalled Windows to version 11.  I was on Windows 10 before.  I didn't do this due to DisplayMagician, it was just that my machine was due a spring clean and thought I would upgrade to Windows 11.

Since upgrading to Windows 11 I am no longer having this issue.  The only issue I do have though is that when changing from the "Nvidia Surround On" prof

[2022-07-12 19:43] terrymacdonald commented on #119
Hi @Toca2freak,

Now that is very very interesting. I'll have to find a windows 10 box to
start testing with!

That slowness in changing windows and slowness in the windows taskbar
appearing seems to be a windows 11 thing. It does that on windows 11 for me
too, and my best guess is that it's the NVIDIA driver taking some extra
time to work on windows 11. It does eventually get there but takes abou

[2022-07-14 10:48] terrymacdonald commented on #119
@TOCA2FREAK I *think* I may have found the issue.

There was an error that occurred in NvAPI_SetDisplayConfig when attempting to go from an NVIDIA Surround to a non-NVIDIA Surround setup on a machine that has multiple video cards installed in it. This is due to the fact that the NVIDIA driver only sees the displays connected to NVIDIA video adapters.

The previous DM logic tried to set the Display

[2022-07-17 14:10] TOCA2FREAK commented on #119
v2.4.1.14 seems to be working fine on Windows 11.  So far no issues. :)

[2022-07-17 18:43] terrymacdonald commented on #119
Excellent news. I've asked Whitestar to also test that same version as he
is on windows 10 still. That will give me some comfort that I've fixed the
problem if it works for them.

I'll keep this issue open until they respond that it works, and I'll try
some more tests on another windows 10 machine I've got.

If it all works I'll close this issue.

Thanks
Terry

On Mon, 18 Jul 2022, 02:11 TOCA2FREA

[2022-07-17 22:42] terrymacdonald commented on #131
@Flymo74 I *think* I may have found a problem that could have affected your

There was an error that occurred in NvAPI_SetDisplayConfig when attempting to go from an NVIDIA Surround to a non-NVIDIA Surround setup on a machine that has multiple video cards installed in it. This is due to the fact that the NVIDIA driver only sees the displays connected to NVIDIA video adapters.

The previous DM logi

[2022-07-17 22:42] #131 closed

[2022-07-27 20:45] terrymacdonald commented on #119
And it is confirmed working for @Whitestar too, so I'm closing this issue! Excellent news.

[2022-07-27 20:45] #119 closed

[2022-07-27 20:47] terrymacdonald commented on #103
@cerahmed I've just released DisplayMagician v2.4.1.4 out, and it *may* help with your  Superdisplay issue (it also may not). GIve it a go and tell me how it goes. 🤞

[2022-07-27 20:59] terrymacdonald commented on #98
@mastercko Well this is all taking way longer than anticipated. It turned out that the only way to properly handle installed applications was to create another class of running item (alongside executables and games), which has necessitated writing quite a lot of new code.  It's all taking a while to sort out. I've also managed to create a lot of bugs too, some of which have been difficult to flush

[2022-07-30 17:51] mastercko commented on #98
Cool, thanks for the update!

[2022-08-04 13:40] cerahmed commented on #103
Hey Terry,

Thanks for the update and apologies for the late response, got busy for a while.
I couldn't locate v2.4.1.4 in the releases page, could you please share a link?

[2022-08-04 19:25] terrymacdonald commented on #103
Actually I released 2.1.4.14, which replaces the prior version. It fixed
the error that happened when returning from surround to a non surround on
computers with a non NVIDIA video card and an NVIDIA card. It appears to be
the most reliable DisplayMagician in a while.

Give that a go then see if there is still the Superdisplay problem.

Thanks
Terry

On Fri, 5 Aug 2022, 01:40 cerahmed, ***@***.***

[2022-08-07 20:13] deancommasteven opened #135 "SimHub does not close after game has closed"
SimHub is not closed after game has closed.

Steps to reproduce the behaviour:
1. Create shortcut including launching SimHub before game
2. Launch shortcut
3. Close game that was launched
4. SimHub does not close (All other apps do close)

**Expected behaviour**
SimHub closes after game is closed

**Screenshots**
![image](https://user-images.githubusercontent.com/25689810/183309033-e06af12b-a5dc-4

[2022-08-07 22:32] terrymacdonald commented on #135
Hi,

SimHub can't be closed easily unfortunately as it is designed to be run in
the background continuously. I would suggest adding the following command
to your 'Stop Program' for the iRacing + Extras (in the 5. what happens
afterwards section):

"C:\Program Files (x86)\SimHub\SimHubWPF.exe" -exit

You can find more information about the SubHub commands here:
https://github.com/SHWotever/SimHub/w

[2022-08-08 12:59] deancommasteven commented on #135
This works perfectly. Thanks!

[2022-08-08 12:59] #135 closed

[2022-08-26 17:47] amarchiguess opened #139 "crash on apply profile"
When double clicking a profile on desktop, display magician starts and crash. it's not applied. Profile was created with the same version. It looks like an array is empty or not finding somethign referenced by the link. I attach the log

[DisplayMagician.log](https://github.com/terrymacdonald/DisplayMagician/files/9435288/DisplayMagician.log)

[2022-08-26 19:45] terrymacdonald commented on #139
Hi,

When you say you click on a profile on the desktop, are you right clicking
on the desktop background and using the pop up menu to select the display
profile? Or are you saving a desktop shortcut to the display profile and
double-clicking on the desktop shortcut to change the profile?

Can you please create a Support ZIP File and upload it to this issue? You
can do that by clicking on the Sett

[2022-08-26 19:55] amarchiguess commented on #139
I'm double clicking on the desktop shortcut.

The crash was happening when trying to activate "Tre schermi" coming from "Surround", after playing Assetto Corsa Competizione and Dirt Rally 2 (maybe it helps to know, maybe not).

I did a few more tests right now.
I re-configured the 3 separate screens with nVidia control panel, and saved a new profile named "Tre schermi 2".
I then tried to switch ag

[2022-08-26 20:08] terrymacdonald commented on #139
Ok, thanks for that I'll take as look later today and see what I can find.

Oh, what version of windows do you use? And what version of NVIDIA driver
are you running? What make and model of screens are you running and how are
they connected? If you have more than one video card, which display is
connected to which video card?

And lately, have you upgraded from windows 10 to windows 11 recently? W

[2022-08-26 20:24] amarchiguess commented on #139
Windows 10 build 19044.1889
nVidia drivers 516.94 (latest)
3 monitors Asus VG27AQ1A (2 with display 1 port, 1 with hdmi, or the other way around, 2 with hdmi, 1 with display port, I never remember which is which)
Asus RTX 2080 TI
No udates from windows 10 to 11, same old windows 10.

[2022-08-26 20:40] geolessel opened #140 "Ways to make this work with Steam Remote Play?"
I've tried to figure out how to get this to work while using Steam Remote play. I have a triple monitor set up for sims but I have a Steam title I would like to stream to my living room via one monitor. Is there a "best" way to do this? I tried adding a desktop shortcut to my Steam library but that didn't work. I also tried adding DisplayMagician itself to my library but that didn't work either. A

[2022-08-26 21:31] terrymacdonald commented on #140
Hi Geoffrey,

DisplayMagician can only control the screens that are connected to the
Windows 10/11 computer that it is running on. You'll need to describe to me
exactly how your computer is connected to your displays before I can help
you. I need to know:

   - What OS your computer is running
   - What makes and models of displays you have
   - How each display is connected to the PC (e.g. Displa

[2022-08-26 21:49] terrymacdonald commented on #139
Right, I've had a look through your logs and config, and it looks as though for some reason, NVIDIA isn't happy with the Saved Topology, and it believes the topology in 'Tre schermi' isn't valid:

[code]

One of the reasons that DisplayMagician works so well typically is that it is simply an NVIDIA/AMD config recorder. It literally takes a snapshot of the current NVIDIA configuration, and stores t

[2022-08-27 15:24] amarchiguess commented on #139
I do not know if this is the case. After I created a second "Tre schermi", now also the one that was broken works again. I just did a test an hour ago. "Surround"->"Tre schermi"->"Surround"->Start ACC->"Tre Schermi". Everything worked like a charm.
So there must be some temporary and not predictable (at the moment) nVidia issue. I will check when it happen next time.
Thank you for your quick feedb

[2022-08-27 21:15] terrymacdonald commented on #139
Ok, in which case I'll close this issue for now. Feel free to reopen this
issue in the future if you have the same issue happen again. If you get a
document problem then please open a new issue.

Thanks
Terry

On Sun, 28 Aug 2022, 03:25 amarchiguess, ***@***.***> wrote:

[2022-08-27 21:17] #139 closed

[2022-08-28 22:43] terrymacdonald commented on #98
@mastercko I think I'm ready for you to test 2.5.0.320 that I've linked to below. Please install it over the top of your existing DisplayMagician install, and give it a test:

[DisplayMagicianSetup-v2.5.0.320-test.zip](https://github.com/terrymacdonald/DisplayMagician/files/9440582/DisplayMagicianSetup-v2.5.0.320-test.zip)

This new DisplayMagician has quite a lot of new code to support a new type

[2022-08-29 09:02] terrymacdonald commented on #98
Just a warning - some of the Application monitoring that worked in testing haven't been working for me with real apps in a new installed DisplayMagician v2.5.0. Would be good if you could test so that I can see what is going wrong. I'll try doing some testing over the next few days but it may be delays thanks to covid.

Thanks
Terry

[2022-08-29 09:09] terrymacdonald commented on #98
Oh also - I just re-read your original post, and I just realised that I forgot to add the Windows Store App support to the 'alternative exe' part of the Game Shortcut code :(. This means that the same problem you had at the start is still there 🙄 . Sheesh Terry.

A simple way is for me to work around this for now is to look for the Windows App path (C:\Program Files\Windows Apps) and to ignore the

[2022-08-29 14:12] geolessel commented on #140
Thanks for the reply. I found out that I can force the game I'm playing into a specific resolution that doesn't span three screens and it successfully is streamed to the Steam Link device. In case this comes up again (and I _do_ think this feature would still be helpful), here are the answers to your questions.

- host is running Windows 10
- 3x GIGABYTE M32Q all connected via DisplayPort
- [here

[2022-08-29 16:23] mastercko commented on #98
Hi, thanks so much! I'll try to get around to testing it this weekend and let you know what I see. Much appreciated!

[2022-08-29 21:57] Miiinttt opened #141 "Close programs by switching monitor profiles?"
Hi Terry, hope you're doing well. Would it be possible to add a feature to shortcuts to close programs when switching display profiles? I have a game shortcut to open a couple of applications and switch my display profile to my sim racing profile. I don't have it linked to a game so I'm not using the option to monitor and close the applications or change the display profile back when I exit a game

[2022-08-29 22:09] terrymacdonald commented on #141
Hi,

It's not possible to do it within display profiles, but you can use a game
shortcut to get close to what you have proposed.

You can create a game shortcut that doesn't run a game, and that is
permanent. You can set it up for how you want the display layout and start
up programs to load. You can then save that as a shortcut.

You can then create another game shortcut, also with no game monito

[2022-08-30 01:44] Miiinttt commented on #141
It does make sense and I got it working for the most part, except for 1 of the programs not closing. I set it up so it starts Powershell and runs the stop-process commands and that's working for everything except Heuskinveld Smart Control. I've tried running the command using PID as well as process name with no luck. I've also tried doing it through CMD using taskkill but that didn't work for any