[2021-11-07 18:00] erbkaiser commented on #49
The new splash screen before editing game profiles is a good addition.

I haven't found any issues at all. Even TrackIR5 and Local Radio now launch before the game does. I've thrown a few programs at it including Modern UI apps, and everything just works.

Excellent work, thank you so much!

[2021-11-07 18:58] terrymacdonald commented on #49
Hi,

I've had another person say that they have two games listed in the list of
games within the shortcut editing window. Can you please see if you have
that?

Also, they say that they can't run a game shortcut with a surround display
profile. It swaps the displays before it launches, but then exits.

Can you please check that for me too?

Thanks
Terry

On Mon, 8 Nov 2021, 07:00 erbkaiser, ***@***

[2021-11-07 19:11] erbkaiser commented on #49
I indeed still have many Steam games listed twice in the game shortcut window. It doesn't duplicate all of them but maybe more than half.

Launching an nVidia Surround profile works for me, I did recreate display profiles and set the game shortcuts to the new profiles a few builds back.
I get the splash screen that DM is loading (even if it already is), displays are swapped, the game (and associat

[2021-11-07 19:18] terrymacdonald commented on #41
Darn. That's annoying.

Ok, the display thing is something I'll have to look into in more depth. It
may be something related to the changes I made to support the future
storage of custom displays and NVIDIA display config. I'll have to do some
more testing.

The double up of games listed on the shortcut form is confusing. That may
be related to the image parsing screen hanging and you cancelling i

[2021-11-07 19:19] terrymacdonald commented on #49
Perfect. Thank you for testing that, it clears things up for me and gives
me an idea of where the error could be happening!

👍

Terry

On Mon, 8 Nov 2021, 08:11 erbkaiser, ***@***.***> wrote:

[2021-11-07 19:24] terrymacdonald commented on #41
Oh, I almost forgot. As a test, could you please try changing the display
profile on that surround shortcut that fails to run, to another different
profile that doesn't use NVIDIA surround. Then try to run it after you've
made the change.

This will test of that particular display profile is causing the error, or
if something else in that game shortcut is.

If the game shortcut then starts working

[2021-11-07 19:31] domenic commented on #41
Epic,  Origin and Galaxy of gamers (GOG)? If you can tell me which game
libraries you don't have installed then that may help me figure out where
the bug lives.

Just Steam (although I guess Origin is installed by Steam in the background to run some games like Mass Effect)? A total of 12 games installed right now (so, 24 games showing in DisplayMagician). Here is a screenshot in case it helps:

![

[2021-11-07 20:23] terrymacdonald commented on #41
Good stuff, we're at least getting somewhere.

The steam parsing l didn't have enough logging around, so I've added some additional error checking, so I've temporarily added a 'contains' check to the steam library to make sure it only adds things that aren't already added. Can you please test this build to see if the doubled Steam icons disappear?

[DisplayMagicianSetup-v2.1.0.199.zip](https://git

[2021-11-07 20:25] terrymacdonald commented on #41
To be honest, I think we're going to need to do some testing with NVIDIAInfo to eliminate the surround profile issue. I'll have a think about it during the day while I'm at work and see what I can come up with later tonight.

What's your availability like over the next few days/week?

Thanks
Terry

[2021-11-07 20:26] S4b0tage commented on #50
Oh well, no worries, like I said, its nothing too important.
Whenever you feel like working on it its fine and if its getting too complicated then better drop it, no need to get crazy over it ;)
The other issues are more important and when the official release of 2.1.0 is coming im already happy with whats implemented until now :)

[2021-11-07 20:52] domenic commented on #41
I'm unsure how best to follow these instructions. How I normally create the Surround profile is the following:

1. Open NVIDIA Control Panel
1. Go to "Configure Surround, PhysX"
1. Click "Configure..."
1. This always shows my displays as 3/1/2, whereas they are physically arranged as 2/1/3. So I drag display 3 over to the right.
1. I change the Refresh Rate dropdown from 120 Hz to 98 Hz. (98 Hz is

[2021-11-07 23:17] terrymacdonald commented on #41
@domenic sorry for the poor instructions :(. What I meant was:

- Recreate the surround profile (which you have done)
- Update the SWTOR game shortcut to use the newly recreated surround profile (Surround Again)
- Save the SWTOR game shortcut and exit back to the Main window
- Go into the DisplayProfile window and change your display profile to a non-surround screen profile (either Work or Normal)

[2021-11-08 23:25] domenic commented on #41
The game does not run. [DisplayMagician-Support-20211108-1824.zip](https://github.com/terrymacdonald/DisplayMagician/files/7500717/DisplayMagician-Support-20211108-1824.zip)

Ready for some video library testing!

[2021-11-09 09:01] terrymacdonald commented on #41
Yep. I think the same. It's time to do that for sure.

One small problem, I'm part way through an update of the NVIDIAInfo software NVIDIALibrary to include CustomDisplays and DisplayConfigs to handle some of the more advanced NVIDIA features. I'll have to get NVIDIAInfo to a stage that it works again, so please give me a few days to sort it out.

I'll get back to you after I've got it running on

[2021-11-10 09:07] terrymacdonald commented on #41
Ok @domenic,

I got NVIDIAInfo into a state we can test with. I've tested it on my own system and it works with cloned windows, extended windows, and NVIDIA surround windows. I've tried after multiple reboots, and I can swap between all 3 types of configurations perfectly fine.

So, now it's time to try it on your system.

Can you please download NVIDIAInfo v1.2.3 zip file from https://github.com/

[2021-11-11 01:46] domenic commented on #41
First block of instructions gave an error at `NVIDIAInfo.exe load normal.cfg`, with the attached log and the following stack trace:

[code]

However, the display configuration *did* seem to change to normal, and `NVIDIAInfo.exe equal normal.cfg` told me they were equal when I ran it immediately after. Also as hoped, `NVIDIAInfo.exe equal work.cfg` said they were NOT equal.

I'm unsure whether to p

[2021-11-11 01:55] terrymacdonald commented on #41
I'll fix that error first, then I'll get you to start the instructions
again with a new version of NVIDIAInfo.

Thanks
Terry

On Thu, 11 Nov 2021, 14:47 Domenic Denicola, ***@***.***>
wrote:

[2021-11-11 08:43] terrymacdonald commented on #41
@domenic Well delving into that latest error is weird. The code shouldn't be having an error in that place (which is where its trying to load ColorData after it's done the surround, and after windows has set things up, and NVIDIA then tries to set color as the last thing).

The error says that the key's aren't in the dictionary, but I know they are as I can see them in your config! So there may be

[2021-11-11 08:48] terrymacdonald commented on #41
oh forgot to post the new code :). Please run this NVIDIAInfo for the tests:
[NVIDIAInfo-v1.2.3b.zip](https://github.com/terrymacdonald/DisplayMagician/files/7519017/NVIDIAInfo-v1.2.3b.zip)

[2021-11-11 12:24] gretzer opened #53 "save nvidia 3d Settings also"
**Is your feature request related to a problem? Please describe.**
I've got a Triple Screen + 1 (on top) simrig setup. I also use this machine (with nvidia GPU) for working/gaming at an usual desk. So i have to kneel everytime to plug one cable out and the other in. That's a problem this software definetly can not solve. :) Fortunately this little helper saves me the work of always rearranging nvi

[2021-11-12 05:33] domenic commented on #41
Same issue, even with fresh profiles.

I managed to boot up the invocation in Visual Studio and noted the failure is in this line, if it helps (decompiled code, so the variable names are presumably wrong):

[code]

Indeed, `displayId2` is `"2147881091"`, but `ActiveDisplayConfig.ColorConfig.ColorData` does not contain that key: it contains the two keys `"2147881088"` and `"2147881093"`.

Starting

[2021-11-12 06:44] terrymacdonald commented on #41
Wow awesome work. I think you could be correct. I'll add a try around that
area to catch the exception.

Those are the exact commands btw, as I include the pdb files in the zip
file so this sort of thing is possible. But this is the first time ever
someone had done this! It's great!

I'll go as the code in a couple of hours, and send it through.

Perfect troubleshooting 👍

Thanks
Terry

On Fri, 12

[2021-11-12 08:33] terrymacdonald commented on #41
Hi @domenic,

So I decided to add a check first rather than cause the exception, so now the situation that is causing the crash is being bypassed. Hopefully that works!

Please give it another shot with NVIDIA v1.2.3c:
[NVIDIAInfo-v1.2.3c.zip](https://github.com/terrymacdonald/DisplayMagician/files/7525983/NVIDIAInfo-v1.2.3c.zip)

This is good stuff. I wouldn't have found that config problem witho

[2021-11-12 18:37] domenic commented on #41
Alright, got much further this time! To

which gives

[code]

with the following logs and configs:

- [NVIDIAInfo-work-to-surround.log](https://github.com/terrymacdonald/DisplayMagician/files/7529689/NVIDIAInfo-work-to-surround.log)
- [work.cfg.txt](https://github.com/terrymacdonald/DisplayMagician/files/7529692/work.cfg.txt)
- [surround.cfg.txt](https://github.com/terrymacdonald/DisplayMagician/f

[2021-11-12 18:39] domenic commented on #41
Oh, I also ran `NVIDIAInfo.exe equal surround.cfg` after loading the surround config, and it said they were equal!

[code]

[2021-11-12 20:08] terrymacdonald commented on #41
@domenic was that surround.cfg.txt you uploaded the original one you created? Or is it the equivalent of the `error-surround2.cfg` config I mentioned here:

```Next, run NVIDIAInfo.exe equal surround.cfg which will check to see if NVIDIAInfo thinks the config we just saved is the same as the current display. We want NVIDIAInfo to say they are equal. If it says they are not equal, please run NVIDIA

[2021-11-12 20:19] domenic commented on #41
It was the original one I created. Note that NVIDIAInfo says that they *are* equal, so I don't think the step you're discussing applies.

[2021-11-12 20:28] terrymacdonald commented on #41
@domenic it might. That equality testing is based on my custom equality testing logic, and its that part which I'd like to confirm. Those instructions I've given you are extremely specific because I want to doublecheck my work at each step. I need to **confirm** it is the same, and for that I need the information from you. At each step I need to be sure it is right so I can discount that as a pote

[2021-11-12 20:30] domenic commented on #41
I'm currently back in the normal profile. So I'll try going back to the work profile, then to surround, and then saving the result again?

[2021-11-12 20:32] domenic commented on #41
[code]

[error-surround2.cfg.txt](https://github.com/terrymacdonald/DisplayMagician/files/7530251/error-surround2.cfg.txt)

[2021-11-12 20:47] terrymacdonald commented on #41
Also, just to let you know I'm part way through a new version v1.2.4 which has some additional logging to find out what exactly Windows CCD SetDisplayConfig doesn't like about the config it's getting. Hopefully that will shed some more light on the problem. I'm trying to figure out what it hates.

In this version I've also moved where the prior color settings are removed until before the mosaic/su

[2021-11-12 21:14] terrymacdonald commented on #41
@domenic I think we're getting somewhere. I have high hopes for this set of tests.....

So a summary of what I've found:

The Windows CCD display config validation function doesn't actually validate in the way we need it to :). What this means is that it is saying a display config is invalid, when it is valid with the right combination of flags. So I've disabled validation in this version, and the

[2021-11-13 02:03] domenic commented on #41
Fascinating, this time I got a problem at this step:

[configs-and-log.zip](https://github.com/terrymacdonald/DisplayMagician/files/7531219/configs-and-log.zip)

I really appreciate your persistence!

[2021-11-13 03:39] terrymacdonald commented on #41
Ohhhhhhh! This one is juicy. A couple of things for me to investigate. One question first - are you on Windows 11 at the moment or still on Win 10? Just want to know for future reference.

When coming back from the surround to the normal config, Windows CCD reports the items in a completely different order! This also happens in the GDI settings as well. I'll have to check whether the equality test

[2021-11-13 07:15] terrymacdonald commented on #41
OK, Further testing has shown that the equality tests fail for the first profile after returning from a surround profile to a non-surround profile. If that profile is applied again, then the equality tests start working again! This is shown in the following output:

[code]

Now that this is reproducible repetitively, I should be able to figure out a work around! I'm going to save some cfg files be

[2021-11-13 07:24] terrymacdonald commented on #53
I had a quick look at this the other day, and I think that when I solve #50, I'll solve this one too. It looks like those settings are part of the SetDisplayConfig and GetDisplayConfig NVAPI calls. The problem is that those two functions are the very two I can't get to work in my current testing :).

I'll keep plugging away at this when I have some spare time, and see if magically I can unblock th

[2021-11-13 08:25] terrymacdonald commented on #41
Great news! I have fixed the problem on my PC, so now it's time to see how it works on yours.

[code]

So the problem turned out to be two-fold. Firstly, the colour settings had the wrong criteria for resetting the colour settings to a default. They also just didn't successfully reset the colour to the default at all. And now they do :).

Secondly, When moving from surround to non-surround, the sc

[2021-11-13 08:44] terrymacdonald commented on #41
As it's working here, I've updated a new build of DisplayMagician v2.1.0.215 with those changes in it. It's working well for me now, so I'm uploading it for you as a reward just in case it all works :).

Here it is: [DisplayMagicianSetup-v2.1.0.215.zip](https://github.com/terrymacdonald/DisplayMagician/files/7531681/DisplayMagicianSetup-v2.1.0.215.zip)

If the NVIDIAInfo testing works without any

[2021-11-13 20:28] terrymacdonald commented on #37
Hi @scowling,

We've recently found and fixed an error with the Windows Video Library that I made. It would come up with an error when it was validating a config, and that would stop the windows portion of the display config being applied. As mentioned this is now fixed.

Could you please update your DisplayMagician and test this version? [DisplayMagicianSetup-v2.1.0.215.zip](https://github.com/te

[2021-11-13 20:33] terrymacdonald commented on #49
Hi @erbkaiser,

We've recently found and fixed an error with the Windows Library and NVIDIA Library that I made. It would come up with an error when it was validating a config, and that would stop the windows portion of the display config being applied. This is now fixed.

Additionally, we had an issue with the NVIDIA Library not correctly applying colour information and failing if a screen with c

[2021-11-13 20:35] terrymacdonald commented on #52
Hi @guennid ,

We've recently found and fixed an error with the Windows Library and NVIDIA Library that I made. It would come up with an error when it was validating a config, and that would stop the windows portion of the display config being applied. This is highly likely what was causing your issue. This is now fixed.

Additionally, we had an issue with the NVIDIA Library not correctly applying

[2021-11-13 20:37] terrymacdonald commented on #48
Hi @gpo123 ,

Can you please test the 'run this program afterwards' functionality for me? While it only provides a single program in this version, it was simple enough to add, so made it into the cut for the new version of DisplayMagician.

We've recently found and fixed an error with the Windows Library and NVIDIA Library that I made. It would come up with an error when it was validating a config

[2021-11-14 08:45] terrymacdonald commented on #50
An update! I've been pottering along, and managed to geta little further along. I've now added a spot in the config file format for the DisplayConfig results. This will be released with DisplayMagician v2.1.0 so that I don't need to revise the DisplayProfile file format a 3rd time. I think people will yell at me if I have to do that again :).

In addition to that, I've been troubleshooting the iss

[2021-11-14 08:53] terrymacdonald commented on #53
@gretzer I'm struggling to find where those settings you described are. Can you please take a screenshot of those settings and describe where you set them?

Can you also fill out the following list to describe your hardware and software setup please:
 - Windows Version: [e.g. Win10]
 - DisplayMagician Version [e.g. 1.1.0]
 - Video Card: [e.g. Asus NVIDIA GTX1070]
 - Number and make/model of monito

[2021-11-14 11:36] erbkaiser commented on #49
After installing the new build and starting it, DisplayMagician would crash on load with a 'Fatal Error. Value cannot be null.'
I had to rename (or remove) the DM folder in %LocalAppData% to get it to work. I saved the folder so if the log file can help, here it is:
[DisplayMagician.log](https://github.com/terrymacdonald/DisplayMagician/files/7533594/DisplayMagician.log)

-x-x-

In a clean profile

[2021-11-14 18:24] terrymacdonald commented on #49
Darn it. Not sure how I missed that one in my testing either. Sorry. I'll
go fix and give you any updated one in a day or so.

Thanks
Terry

On Mon, 15 Nov 2021, 00:36 erbkaiser, ***@***.***> wrote:

[2021-11-14 19:23] terrymacdonald commented on #53
Further digging through the NVAPI points me to NvAPI_D3D_GetSleepStatus and NvAPI_D3D_SetSleepMode... I'll leave these here as a future reminder.

// FUNCTION NAME: NvAPI_D3D_GetSleepStatus
//
//!   DESCRIPTION: This function can be used to get the latest sleep status.
//!   bLowLatencyMode indicates whether low latency mode is currently
//!   enabled in the driver.
//!   Note that it may not alwa

[2021-11-14 19:43] domenic commented on #41
Failed at work-to-surround again, i.e.

with the same symptoms as https://github.com/terrymacdonald/DisplayMagician/issues/41#issuecomment-967332069 (but with v1.2.5 in the output)

[work-to-surround.zip](https://github.com/terrymacdonald/DisplayMagician/files/7534518/work-to-surround.zip)

[2021-11-14 23:29] terrymacdonald commented on #41
Argh! Ok, I'll have to have a look say the differences between your configs
and mine. I've noticed that mine don't change the order of the arrays, yet
yours does. I wonder if there is a difference in how the different hardware
returns the data?

My version 1.2.5 works perfectly after every reboot, and never fails to
change, and applies every setting. Yours doesn't, and the only difference
appears

[2021-11-15 04:32] scowling commented on #37
![image](https://user-images.githubusercontent.com/1783814/141722059-5fd35e58-0b08-4527-84a4-b63de214944d.png)
Created a desk display profile and then a work shortcut
Was in the middle of creating a second profile and it was somehow linked to the work one.. so when I deleted the second one: this
![image](https://user-images.githubusercontent.com/1783814/141722929-86677554-49e2-467b-b25e-4e2b3987e6

[2021-11-15 04:58] terrymacdonald commented on #37
Thanks Steve,

Yeah it turns out I added a new bug with the last UI changes I made. Sigh.

I'll update DM to fix that, and add a new copy shortcut function usability
improvement. I have another bug for NVIDIA to fix, but as that doesn't
affect you, I might get you to test and earlier build than the NVIDIA folk.
Hope that's ok!

Thanks
Terry

On Mon, 15 Nov 2021, 17:33 Steve, ***@***.***> wrote:

[2021-11-15 05:01] scowling commented on #37
That's fine; I recently updated my GPU but am still AMD so happy to help where I can

[2021-11-15 09:07] terrymacdonald commented on #49
OK - Fixed! Had to change way more than I thought I would, but it the UI *should* work now. Can you please test DisplayMagician v2.1.0.239 and see what happens.

[DisplayMagicianSetup-v2.1.0.239.zip](https://github.com/terrymacdonald/DisplayMagician/files/7537310/DisplayMagicianSetup-v2.1.0.239.zip)

I am very interested in whether you can successfully swap to a triple screen profile after swappin

[2021-11-15 09:09] terrymacdonald commented on #37
OK - Fixed! Had to change way more than I thought I would, but it the UI *should* work now. Can you please test DisplayMagician v2.1.0.239 and see what happens.

[DisplayMagicianSetup-v2.1.0.239.zip](https://github.com/terrymacdonald/DisplayMagician/files/7537310/DisplayMagicianSetup-v2.1.0.239.zip)

I am very interested in whether you can successfully swap from a triple screen profile to an eyefi

[2021-11-15 09:11] terrymacdonald commented on #52
@guennid We found issues with the last version I gave you to test, so can you please test with DisplayMagician v2.1.0.239 instead?
[DisplayMagicianSetup-v2.1.0.239.zip](https://github.com/terrymacdonald/DisplayMagician/files/7537345/DisplayMagicianSetup-v2.1.0.239.zip)

Thanks
Terry

[2021-11-15 09:21] terrymacdonald commented on #41
@domenic On my test system I have had the display apply ok when changing from a surround profile, but only after applying it twice. I need you to do the following tests in order so that I can see if that also will work on your system. Can you please do the following test with NVIDIAInfo v1.2.5:

- Load the surround.cfg to swap to surround
- Next, run `NVIDIAInfo.exe load work.cfg` which will try t

[2021-11-15 10:31] erbkaiser commented on #49
Hi Terry,

thanks for the new build. This fixes the game shortcuts issue.

Switching from triple screen to surround and back works, I can switch between all display profiles without problems.

I didn't notice any issues in my tests of the program.

[2021-11-15 11:09] gretzer commented on #53
Hi Terry,

thanks for your reply. I'm currently not sitting at my rig. I'm trying to answer your questions from my memory.

- Windows 10
- DisplayMagician 2.0.1
- RTX 3080 Founders Edition
- 1x LC-Power LC-M34-UWQHD-100-C; 3x LG 32GN600-B; 1x Benq GL2450-T
- Last video driver update: End of October 21
- Last windows update: Beginning of November 21

Here you can see the 3d settings and the max. FP

[2021-11-15 15:39] guennid commented on #52
Hi Terry,
sorry for my late response. Was a little bit busy.

I will test the new version.
What i found out with your last version: The Taskbar just appears on top for a few times. Then i used the old display manager "helios". After done this the taskbar is every time on the bottom. But now i get the issue that the taskbar isnt set correctly to the main window. But i will test this this evening wi

[2021-11-15 15:47] guennid commented on #52
I installed your new version, but i get an error at starting:
Translated from german : The value cant be zero Paramtername: first

After confirming this error the App wont start, and i have to killl  it via Taskmanager

[2021-11-15 15:53] guennid commented on #52
I tried the old links for changing the display, these still works. Dont geht the top taskbar, but still the issue with the "Main" Screen. To explain:  After switching back to triple the taskbar is on all screens, but the Main Window Taskbar is on the left screen. If i look in the window Display settings the main screen is still the middle one. If i change it to left and the back to middle, the tas

[2021-11-15 18:54] terrymacdonald commented on #49
Perfect! That's what I was hoping for 😁. Thank you so much for the tests.
It's so valuable to me.

Thanks
Terry

On Mon, 15 Nov 2021, 23:31 erbkaiser, ***@***.***> wrote:

[2021-11-15 19:02] terrymacdonald commented on #52
Hi Günter,

DisplayMagician v2 uses 3 brand new video control libraries that I've
written myself. I made the change so that I could get all the other
settings like HDR, and custom colour settings from the NVIDIA cards, and so
I could support AMD Eyefinity.

This was such a major change that is taken many months to get this bugs
sorted out. I'm now at a point that most of the configuration works, b

[2021-11-15 19:48] Mobeeuz commented on #52
Had an issue with 239
![image](https://user-images.githubusercontent.com/33134962/141844542-76a539ce-4558-4d1f-82ee-f5e2b4f0f008.png)

Display Magician will no longer start

[2021-11-15 20:32] terrymacdonald commented on #52
@Mobeeuz Anyone currently running 1.1.4 or 2.0.1 will get prompted for replacing the profiles as they changed. Anyone running the 2.1.0.X test builds won't be prompted to recreate the configs. It is a good point though that I should be telling all my testers this...

Sorry!
Terry

[2021-11-16 04:11] domenic commented on #41
I'm not sure I fully got the instructions but I gave it a shot. Here's the command listing so you can double-check, with abbreviated outputs.

Starting in normal.cfg:

[code]

[work-multiple-attempts.zip](https://github.com/terrymacdonald/DisplayMagician/files/7543300/work-multiple-attempts.zip)

[2021-11-16 04:27] domenic commented on #41
BTW I can reproduce this issue without involving the work profile at all. That might be helpful because it eliminates the 2 vs. 3 monitors consideration.

From a fresh setup (with newly-created normal.cfg and surround.cfg):

[code]

[normal-to-surround-errors.zip](https://github.com/terrymacdonald/DisplayMagician/files/7543353/normal-to-surround-errors.zip)

[2021-11-16 04:38] domenic commented on #41
I spent a bit of time in the debugger, and maybe this is clear already from the logs, but the following line is failing:

[code]

and ending up in

[code]

[2021-11-16 04:43] domenic commented on #41
Here is a dump file that you can load up in Visual Studio to get all the local variable values at that time (73 MiB): https://www.dropbox.com/s/4p2ttj2ibc9syfj/NVIDIAInfo.dmp.zip?dl=0

[2021-11-16 04:56] terrymacdonald commented on #41
@domenic thanks

My guess at the issue (I haven't looked at the logs yet) was that some of the order of screens in Windows is different returning from a surround install, and that is causing the failure. I'm not quite sure why its doing it on your computer versus mine, but it could well be a Windows 10 vs Windows 11 issue here as well.

That debugger line is an excellent help to me, as I can zero

[2021-11-16 05:18] terrymacdonald commented on #41
@domenic,

I have a suspicion that Win 10 or the NVIDIA driver might be hating the SDC_FORCE_MODE_ENUMERATION flag sent to the SetDisplayConfig, So, I've created NVIDIInfo-v1.2.5b which removes that flag specifically.

[NVIDIAInfo-v1.2.5b.zip](https://github.com/terrymacdonald/DisplayMagician/files/7543583/NVIDIAInfo-v1.2.5b.zip)

Can you please perform that exact same test you've done before (got

[2021-11-16 05:31] terrymacdonald commented on #41
@domenic After looking through your files, they are all the same in order, which is actually different to what happens in my situation with my hardware (!?!). It looks as thought NVDIA and Windows work together differently depending on hardware config. There is no difference between your files when it fails, yet there were differences between my files when it failed. That tells me it's most unlike

[2021-11-16 08:06] guennid commented on #52
@terrymacdonald
Just tested again the new version with clean configs.
The Taskbar wont be moved to the top of the screen, but i have still the issue with the mainscreen option.
Screenshot:
![image](https://user-images.githubusercontent.com/11660551/141945152-e55109c4-1ac8-4918-ab2c-c74932bdcc61.png)

The windows settings are telling me, the middle screen is the main screen. But that taskbar is in

[2021-11-16 18:30] terrymacdonald commented on #52
Can you also please fill this list out of your current setup:

Windows Version: Win11 Home?
DisplayMagician Version: 2.1.0.239
Video Card: [e.g. Asus NVIDIA GTX1070]
Number and make/model of monitors: [e.g. 2xDell UH2718H, 1x LG G27U17D]
Date of last video driver update: [e.g. 2021-02-15]
Date of last windows update: [e.g. 2021-02-15]

That will also give me some more information with which to tro

[2021-11-17 00:24] domenic commented on #41
I ran the steps in https://github.com/terrymacdonald/DisplayMagician/issues/41#issuecomment-969847704 and got the same results :(. Maybe a couple more flickers on the first transition back to normal.

[normal-to-surround-1.2.5b.zip](https://github.com/terrymacdonald/DisplayMagician/files/7550733/normal-to-surround-1.2.5b.zip)

Stock driver installed through GeForce Experience. I am on version 496.

[2021-11-17 02:27] terrymacdonald commented on #41
@domenic As you rightly point out the structures are all unions. The structure is used in different ways depending on what 'mode' it is. C# doesn't have the concept of the differences, so the same structure is used for all path objects when written to JSON (even through the underlying code treats them completely differently.

Those path objects are all grabbed from QueryDisplayConfig, which return

[2021-11-17 04:12] domenic commented on #41
Note that on my system with the repro steps in https://github.com/terrymacdonald/DisplayMagician/issues/41#issuecomment-969847704 I *never* am able to enter the surround profile without errors. The very first time I run `NVIDIAInfo.exe load surround.cfg` I get `
ERROR - NVIDIAInfo Windows CCD settings were not applied correctly.`

1.2.5c has the same problem: [NVIDIAInfo.log](https://github.com/te

[2021-11-17 04:14] domenic commented on #41
If this is really a driver issue then maybe the best course is to admit defeat and just ignore the invalid parameter error? At least for my use case I can't find anything that is missing; it's just the error message being output. So presumably if you ignored that error, that would solve the original problem, since DisplayMagician could then proceed to launch my game even if there's an error in tha

[2021-11-17 04:37] domenic commented on #41
OK, I have a clue.

Using 1.2.5c, I was able to create a surround profile that loads without error. However, the problem is that the ordering of the displays is wrong. Let me explain.

Normally, when I am first creating my surround profile, I go to NVIDIA Control Panel's surround configuration and it shows me this:

![Displays in 3 1 2 order](https://user-images.githubusercontent.com/617481/142134

[2021-11-17 04:49] domenic commented on #41
Hmm, interestingly after successfully loading `surround-bad-order.cfg` I lose HDR. This does not happen after loading `surround.cfg`; `surround.cfg` has correct HDR.

After I manually turn HDR back on using Windows Control Panel, and save the result as `surround-bad-order-hdr.cfg`, *now* I'm back to things failing every time. So I guess the issue is HDR, not ordering...

Yep, just confirmed. The `

[2021-11-17 05:02] terrymacdonald commented on #52
@guennid I also did some research on taskbars in Windows 11, and it appears that Windows 11 doesn't allow you to move the taskbar at all: https://www.tomshardware.com/how-to/windows-11-taskbar-move-to-top. The previous code that others used to adjust the taskbar doesn't work any longer. I tried to create some code that used that older technology and it just didn't work. It appears the older SHAppB

[2021-11-17 05:02] #52 closed

[2021-11-17 05:39] terrymacdonald commented on #52
@guennid One question I still have... do you have one taskbar only on your primary display, or do you have it set so there are taskbars on each display? I haven't tested with only one taskbar on one screen. I'll do that now.

[2021-11-17 06:43] terrymacdonald commented on #52
The taskbar moves around with the primary screen when only one taskbar is set in the taskbar settings, as it should do. Just tested.

[2021-11-17 08:26] terrymacdonald commented on #41
@domenic OK, just to completely confirm, are you doing the following when setting up the Surround config?

- Opening NVIDIA Control Panel
- Clicking on Configure Surround
- Clicking on Configure button
- Waiting until the NVIDIA Set Up Surround window opens
- Dragging the screens into the correct order
- Click Enable Surround
- Wait until the screen changes, and the NVIDIA Set Up Surround window i

[2021-11-17 15:26] domenic commented on #41
Yes, exactly that.

This is not correct. Changing to normal.cfg always works with no error.

I'll try to run the tests you indicate tonight when I'm back at my home computer!

[2021-11-17 18:28] terrymacdonald commented on #41
Woah, so you get the error only when changing from a non surround profile
to a surround profile? That's the opposite of what I've managed to get in
my testing!?! Wow, now I'm really confused.

Ok, I'll review the code again from a non surround to surround perspective
and I'll see if there is anything I can do to make that code more robust.

Thanks
Terry

On Thu, 18 Nov 2021, 04:27 Domenic Denicola

[2021-11-18 01:53] domenic commented on #41
I ran a series of the tests you mentioned. [logs-and-configs-v1.2.5d.zip](https://github.com/terrymacdonald/DisplayMagician/files/7559205/logs-and-configs-v1.2.5d.zip)

- normal-sdr to surround-sdr: success
- surround-sdr to normal-sdr: success
- normal-sdr to surround-hdr: fail
- surround-hdr to normal-hdr: success
- normal-hdr to surround-hdr: fail according to NVIDIAInfo, although it did succes

[2021-11-18 02:11] terrymacdonald commented on #41
Awesome! That really helps @domenic.

One further question... Were all of those HDR profiles only using Windows
HDR?

I've noticed that the windows HDR API only allows us to turn on Windows
HDR, not to specify the settings (weirdly we can read the settings ok), so
I'm wondering if this all gets messed up when NVIDIA returns from
surround....

I'm going have to do the same tests myself from scratch

[2021-11-18 05:30] terrymacdonald commented on #41
OK, I have a theory I'd like us to test. It's possible that when NVIDIA returns from a surround profile that it takes a while to settle down. I think that could be possibly be causing issues when windows tries to measure the current display layout.

So I've added in a reallllllly long pause after applying/removing a surround profile into this version of NVIDIAInfo. Its a 10 second pause, (just to

[2021-11-18 05:41] terrymacdonald commented on #41
Also - I realised that I cannot test surround-hdr, as only one of my displays is HDR ready :(. So I'll be relying on you for that part of the testing.

[2021-11-18 15:42] domenic commented on #41
Yes, at least, that is the only setting I've modified.

Relatedly: I've noticed that Windows HDR has a 1:1 correspondence with NVIDIA Control Panel's 8-bit vs. 10-bit setting, i.e. if I set HDR in Windows NVIDIA Control Panel flips to 10-bit, and if I turn off HDR in Windows NVIDIA Control Panel flips to 8-bit. Similarly if I change from 10-/8-bit in NVIDIA Control Panel, Windows switches from HDR

[2021-11-18 18:17] terrymacdonald commented on #41
Hi Domenic,

Yes, that's been like that for at least a few months now.. I noticed that
the NVIDIA HDR settings ensured that the windows HDR settings were matching
it where possible. That was part of the trickiness in getting the NVIDIA
HDR to work - finding the right order to make sure that the settings always
matched and that I didn't try to do what the NVIDIA control panel was doing
itself.

Goo

[2021-11-18 18:40] guennid commented on #52
Hi Terry,

i have the taskbar on all screens. I am wondered about this problem also. Let us keep this ticket closed and i will investigate a few things in Windows 11 with the task bar.
Thanks for your help.

[2021-11-19 02:05] domenic commented on #41
No luck :(

[NVIDIAInfo.log](https://github.com/terrymacdonald/DisplayMagician/files/7567284/NVIDIAInfo.log) going from normal-hdr to surround-hdr, still errors.

[2021-11-19 04:02] terrymacdonald commented on #41
Boooooo. That sucks.

2021-11-18
21:03:48.9505|WARN|DisplayMagicianShared.SharedLogger|WinLibrary/SetActiveConfig:
The combination of parameters and flags specified is invalid. Display
configuration not applied. So trying again without
SDC_FORCE_MODE_ENUMERATION as that works on some computers.
2021-11-18
21:03:48.9505|WARN|DisplayMagicianShared.SharedLogger|WinLibrary/SetActiveConfig:
Retry. The

[2021-11-19 04:29] domenic commented on #41
It semi-instantly fails now. [NVIDIAInfo.log](https://github.com/terrymacdonald/DisplayMagician/files/7567724/NVIDIAInfo.log)

That is interesting because back with the original v1.2.5 it just said that we were already in the surround configuration... see https://github.com/terrymacdonald/DisplayMagician/issues/41#issuecomment-969847704 . I wonder if upgrading to Windows 11 caused this.

I will tr

[2021-11-19 04:36] terrymacdonald commented on #41
Hi Domenic,

Yes please recreate all the profiles if you've moved to Windows 11. I've
noticed that its actually a big behind the scenes change to the windows
display code, so you will need to create new display configs for windows 11
if you've swapped.

We can't necessarily ignore the 'invalid parameter' as it means that the
profile hasn't actually been fully applied. People may expect it to work,

[2021-11-19 04:41] domenic commented on #41
OMG. With Windows 11 recreated profiles it seems to be working... I can go back and forth between normal-hdr and surround-hdr with no errors several times.

I'm going to try 1.2.5d to see if the extra pause is necessary or if Windows 11 fixed things somehow.

Here are the configs in case it illuminates anything... the only diff I notice is PixelFormat changing from 5 to 4?
[windows-10-vs-windows-1

[2021-11-19 04:45] domenic commented on #41
OK, 1.2.5d works too. So it seems like it's some combination of the changes you made between v1.2.3 and v1.2.5d, combined with Windows 11.

I should go to sleep now, but tomorrow I'm happy to try other builds, e.g. if there are changes (besides the extra long pause in 1.2.5e) which you'd like to try reverting. Just let me know. Now that I have these two golden profiles which I can switch between..

[2021-11-19 08:36] terrymacdonald commented on #41
That's awesome news! \o/

Yes indeed, I'll create a new build with only 0.5sec wait time when swapping to/from a surround profile. I'll make sure I have it waiting for you when you get home from work :)

Based on your comments I'm contemplating adding an OS version into the file format, so that DM would warn when changing Operating Systems. But looking at the code, it's just too hard to do reliabl

[2021-11-19 09:01] terrymacdonald commented on #41
OK - after some more testing I found that I had mucked up Windows HDR removal (_rolls eyes_). That is now fixed, and I'm so confident in this build that I've made it an official NVIDIAInfo v1.3.5 release which you can get here: https://github.com/terrymacdonald/NVIDIAInfo/releases/tag/v1.3.0

Can you please test it out, and make sure it's working fine.

I will continue to port the updates to AMDIn

[2021-11-19 09:45] terrymacdonald commented on #41
I stayed up late to bring you a test version of DisplayMagician-v2.1.0.254 with the same library ported across from NVIDIAInfo.

Please run the NVIDIAInfo-v1.3.0 first using those latest Win11 config files you made, and if that works, then please install DisplayMagician v2.1.0.254 here: [DisplayMagicianSetup-v2.1.0.254.zip](https://github.com/terrymacdonald/DisplayMagician/files/7569245/DisplayMag

[2021-11-19 09:50] terrymacdonald commented on #37
Hi @scowling,

So domenic and I found some errors in the Windows CCD WinLibrary which would affect you as an AMD user (see #41). We worked over the last week and a half to get the bugs squashed, and I've released them in a new test build of DisplayMagician here: [DisplayMagicianSetup-v2.1.0.254.zip](https://github.com/terrymacdonald/DisplayMagician/files/7569245/DisplayMagicianSetup-v2.1.0.254.zip

[2021-11-19 09:51] terrymacdonald commented on #49
Hi @erbkaiser ,

So domenic and I found some errors in the Windows CCD WinLibrary which would affect you as an NVIDIA user (see #41). We worked over the last week and a half to get the bugs squashed, and I've released them in a new test build of DisplayMagician here: [DisplayMagicianSetup-v2.1.0.254.zip](https://github.com/terrymacdonald/DisplayMagician/files/7569245/DisplayMagicianSetup-v2.1.0.25

[2021-11-19 18:17] erbkaiser commented on #49
Hi Terry,

No bugs found! I've been trying to break DisplayMagician today but it withstood all tests.

I was already on Windows 11 since I first contacted you, but either way I recreated my display profiles and game shortcuts from scratch and have been trying everything I normally do, as well as some things I have never tested before like launching a program afterwards. DisplayMagician works perfe

[2021-11-19 18:55] terrymacdonald commented on #49
Best news ever! I think I'll prepare for a release soon then!

Thank you so much for your hard work testing. I really value your help
@erbkaiser.

Terry

On Sat, 20 Nov 2021, 07:17 erbkaiser, ***@***.***> wrote:

[2021-11-19 19:48] #49 closed

[2021-11-19 19:48] #48 closed

[2021-11-21 02:44] domenic commented on #41
It's working!! I just was able to play my game in surround via clicking on the shortcut, once, launching both the game and the associated. And after I was done it switched back to normal.

Thanks so much!

[2021-11-21 02:44] #41 closed

[2021-11-21 03:16] terrymacdonald commented on #41
Nice! In which case, I'll close your issue as it's fixed. (phew!) We got
there finally.

I've noticed a bug with the way that processes are run, so I'm currently
working through that at the moment. I am SO very close to releasing v2.1.0,
but I need to test with a few different start programs and monitoring
things. I'm hoping that I'll have it ready to go by the end of this week.

Are you ok to do

[2021-11-21 15:11] adam-jan commented on #45
Hi!

I was never able to save/restore BPC with my NVIDIA triple/surround profiles, but with version 2.1.0.269 it works perfect! Thanks!

Best regards,
Adam.

[2021-11-22 01:04] scowling commented on #37
Seems to be OK from what limited testing I have had time to do

Steve

On Fri, Nov 19, 2021 at 8:50 PM terrymacdonald ***@***.***>
wrote:

[2021-11-22 01:57] terrymacdonald commented on #37
That's great news. If it does Eyefinity then we're all good :)

Thanks
*Terry *

On Mon, 22 Nov 2021 at 14:04, Steve ***@***.***> wrote:

[2021-11-22 09:54] #37 closed

[2021-11-27 17:17] matthex commented on #44
I have the same issue as dev1981 but with displays connected to the graphics chip of my Intel CPU.
So, DisplayMagician recognizes only the displays connected to the NVIDIA card, but not the ones connected to the CPU's graphics chip.

I have read the previous replies and understood, that it the issue is difficult to solve. I can still use the older version of DisplayMagician, so it is all fine. How

[2021-11-27 19:27] terrymacdonald commented on #44
Hi @matthex

Yes, please send through some logs. You can generate a support zip file by
going into the DisplayMagician settings window from the main
DisplayMagician screen and clicking on the create support zip button.
Please generate one of those and then upload the zip file to this issue.

I'm not sure if it will be the same problem, as the Display Link device is
a USB based display connection.

[2021-11-28 10:20] Cardistymo opened #59 "Nothing happends when apply display profile"
**Describe the bug**
One of my display profiles doesnt work.
If I press the 'apply' button nothing happends. I already recreated the profile...

[DisplayMagician-Support-20211128-1119.zip](https://github.com/terrymacdonald/DisplayMagician/files/7613273/DisplayMagician-Support-20211128-1119.zip)

**Enviroment (please complete the following information):**
 - Win11
 - DisplayMagician V2.1.1.1
 - Vid

[2021-11-28 14:44] matthex commented on #44
Hello @terrymacdonald

I attached the support file and here is the additional information about my system:

Operating system: Windows 10 Pro (Version 21H1)
Motherboard: MSI Z370 SLI Plus (MS-7B46)
CPU: Intel Core i7-8700K CPU @ 3.70GHz with Intel UHD Graphics 360
Video card: NVIDIA GeForce GTX 1080 Ti
Displays make and model:
- Acer XB271HU (connected with DP to the video card)
- LG L227W (DVI, vi

[2021-11-28 18:58] whitestar127 commented on #46
Hi there. Sorry for not getting back to you on that bug. Real life stuff, you know.
But I just downloaded DisplayMagician 2.1.1 and tested it and....

....AMAZING! Everything works flawlessly (so far). Finally a program that lets me switch effortlessly between desktop and surround mode. I'm going to toss my old Autohotkey script and use DisplayMagician from now on.

Thanks again, and also thanks f

[2021-11-28 19:00] terrymacdonald commented on #59
Hi @Cardistymo

Did you upgrade to windows 11 after you've made a DisplayMagician profile? If you upgrade to windows 11 then you need to recreate all your display profiles and delete the old windows 10 display profiles. Then you need to edit all of your shortcuts to use the new display profiles.

The reason is that windows 11 has a different display configuration structure. DisplayMagician can tra

[2021-11-28 19:01] terrymacdonald opened #60 "CPU connected displays undetected"
Hello @terrymacdonald

I attached the support file and here is the additional information about my system:

Operating system: Windows 10 Pro (Version 21H1)
Motherboard: MSI Z370 SLI Plus (MS-7B46)
CPU: Intel Core i7-8700K CPU @ 3.70GHz with Intel UHD Graphics 360
Video card: NVIDIA GeForce GTX 1080 Ti
Displays make and model:
- Acer XB271HU (connected with DP to the video card)
- LG L227W (DVI, vi

[2021-11-28 19:05] terrymacdonald commented on #44
@matthex I think this is a different issue to the original one in this issue, so I've created a new issue (#60). Can you please set yourself to that issue so that you get notifications when I pay something to it?

I'll reply in #60 when I get time to look at the log file.

Thanks
Terry

[2021-11-28 20:20] Cardistymo commented on #59
As I mentioned in my last post, I already recreated the profile...

[2021-11-28 20:22] Cardistymo commented on #59
Also I did not updated to Win11 instead I reinstalled Windows completly..

[2021-11-28 20:43] terrymacdonald commented on #60
OK @matthex,

So I've taken a look at your DisplayMagician.log file, and it's very interesting indeed. Firstly, because you're the current winner for the number of screens connected to a single PC :).

The good news is that DisplayMagician does detect your NVIDIA card and the Intel CPU Video chipset, so that's my big concern out the way:

[code]

This is good to see, as it confirms that the PCI ca

[2021-11-28 20:51] terrymacdonald commented on #59
@Cardistymo Can you please tell me which profile doesn't work? 'Surround' or 'Current NVIDIA Display Profile'?

And how are you applying it? Are you going into the Display Profiles page and clicking on the 'Apply' button for that profile? If that is what you are doing, what do you see on the screen? Does anything happen at all? Any error messages, or does the screen flash?

What version of NVIDIA

[2021-11-29 09:23] Cardistymo commented on #59
The 'Current NVIDIA Display Profile' doesnt work...
I am just going into Display Profiles and click 'Apply'. The Button stays selected for a few seconds (I think the window freezes) and on my screens nothing happends at all.
I use 2x Displayport and 1x HDMI. My video card driver version is 'NVIDIA 30.0.14.9676'.

[2021-11-29 09:25] Cardistymo commented on #59
After updating the driver and recreating all display profiles it works now.
Thanks for your support and the great software @terrymacdonald !

[2021-11-29 09:25] #59 closed

[2021-11-29 21:40] matthex commented on #60
Hi @terrymacdonald

thank you so much for digging deep into this issue and my handling of all the screens 😇

Of course, I am happy to help with testing and using a command line is completely fine for me.
It just take sometimes a few days (mostly until the next weekend) until I reply, because during the working week it is sometimes difficult to find time. ;-) But I will not forget it ;-)

Interesti

[2021-11-29 21:50] saiamphora commented on #60
You have a lot of monitors Terrance.

[2021-11-29 22:21] terrymacdonald commented on #60
@matthex So, first thing is first - the DisplayMagician UI draws a picture based on the information in the configuration, but I didn't write it to cope with such an unusual configuration. I'm not sure there is the logic in there to draw the screen placement of all your screens at the moment. It is possible that some of your 'screens' are actually being drawn behind the others in the picture you se

[2021-12-01 10:04] whitestar127 opened #61 "Display active profile name in notification area icon tooltip"
Problem:
To see which profile is active (if it's not self-explanatory due to the way the screens are set up) you have to right-click the icon in the notification area and then move the mouse over the profile option to open the Profiles sub menu. Then you will see the active profile in bold text. Or alternatively you have to open the application window of DisplayMagician and click Display Profiles.

[2021-12-02 00:16] terrymacdonald commented on #61
I will definitely do the tooltip. The profile on the background is a LOT more complicated. I think I'll skip that, or split it into another enhancement and assign it to the future so I don't forget it.

The tooltip will be added to the codebase and then released when 2.1.2 comes out in the next month or two.

Thanks
Terry

[2021-12-02 09:02] terrymacdonald commented on #61
@whitestar127 Is this ok? It will be part of DisplayMagician v2.1.2.

![image](https://user-images.githubusercontent.com/5721772/144390613-15da45ea-404b-4ee8-8d8b-6eec8ce725d5.png)

Thanks
Terry

[2021-12-02 09:05] terrymacdonald commented on #61
Oh - I've looked at the adding text to the background, and it's just too complicated. It requires that I load the existing background, and then apply text to it and then load the modified background back in. And then I need to have logic that will pick the best text colour for the type of picture, and there is a large chance that I'll ruin the lovely picture people have specially created for their

[2021-12-02 11:42] whitestar127 commented on #61
That looks perfect. As long as there's room for a reasonably sized profile name I'm happy.  :-)

[2021-12-02 19:58] terrymacdonald commented on #61
Closing issue as it is in the codebase.

[2021-12-02 19:58] #61 closed

[2021-12-04 16:00] matthex commented on #60
Hi @terrymacdonald
Thank you for this great step-by-step guidance!

I share the results with you:

### 1 Saving regular
[nv-save-regular.log](https://github.com/terrymacdonald/DisplayMagician/files/7654191/nv-save-regular.log)
Equality test: Equal to regular
![image](https://user-images.githubusercontent.com/1175713/144716035-63ec4d1f-2d57-41fc-a7c7-f7459845d99b.png)

### 2 Saving racing
[nv-save-

[2021-12-04 23:13] terrymacdonald commented on #60
Hi @matthex ,

Ok, I think we found where an issue is. In step 3 when you swapped from racing to regular, it should have shown that the regular.cfg was equal to the current config, but it didn't.  That tells me that there is a difference between what the regular.cfg is, and the actual resulting configuration after regular.cfg is applied. In other words not all of the regular.cfg is being applied i

[2021-12-05 00:42] terrymacdonald commented on #60
Just to let you know, I tested on a gaming laptop that has an AMD onboard display and a separate NVIDIA external graphics card out through a USB-C connector, and it worked ok. That still doesn't mean that it will work in your use case, as it may be something else that's not right.

Hopefully we'll see soon.

Thanks
Terry

[2021-12-07 03:43] matthewstrasiotto opened #63 "W10/Nvidia: Able to apply surround spanning profiles, but unable to apply non-spanning (normal) profiles"
**Describe the bug**
I have a 4 monitor setup in a 2x2 grid (extra, I know) - Presently I have 3 profiles:

- one named "Quad", that configures them as 4 separate displays, and
- Two that use nvidida's surround spanning:
  - "Surround" : One spans all four monitors into one display
  - "Triforce" : Spans the bottom two monitors, and keeps the top 2 separate

Presently, switching between "Surround"

[2021-12-07 03:44] matthewstrasiotto commented on #63
I've seen similar reports, where a driver update addressed the problem - I'll try that first and update whether that fixes the problem.

[2021-12-07 04:01] matthewstrasiotto commented on #63
Upon reflection, I intermittently get a few different odd graphical glitches while playing games (FPS randomly caps at 45, have to swap between fullscreen and borderless to fix, League of Legends minimizes temporarily while clicking around about once a game, etc) so I was probably overdue for a driver update ever since I reinstalled windows.

[2021-12-07 04:29] matthewstrasiotto commented on #63
Updating the driver to 497.09 fixes the problem. (Or possibly the system restart that accompanied the update)

[2021-12-07 04:29] #63 closed

[2021-12-07 04:38] terrymacdonald commented on #63
Good to hear you found a fix that worked. And very useful for me to know
about this issue, so I can suggest this as a possible fix in the future.

Thanks for logging the issue, and especially for finding the fix yourself
🙂.

Thanks
Terry

On Tue, 7 Dec 2021, 17:29 Matthew Strasiotto, ***@***.***>
wrote:

[2021-12-07 17:28] matthex commented on #60
Hi @terrymacdonald

don't worry about all the steps! With your great instructions, it is really nice and easy to follow :-)

So, first the two config files from the previous test run with NVIDIAInfo:
[NVIDIAInfo-cfgs.zip](https://github.com/terrymacdonald/DisplayMagician/files/7670376/NVIDIAInfo-cfgs.zip)
I had to put them in a zip file, because Github does not allow uploading cfg files, it seems.

[2021-12-07 19:32] terrymacdonald commented on #60
@matthex Awesome! That's great news!

Next step for us is to add in some NVIDIA specific functionality to the tests. I've ported those WinLibrary changes from CCDInfo into NVIDIAInfo v1.3.1. NVIDIAInfo will test both NVIDIALibrary and WinLibrary together, which is what we need to test in your case.  Our goal is to have NVIDIAInfo work with your incredibly complex setup. Once we get NVIDIA working,

[2021-12-07 20:23] matthex commented on #60
Hi @terrymacdonald

Unfortunately, I think I cannot provide a nice surprise:

### Racing save
[NVIDIAInfo-racing-save.log](https://github.com/terrymacdonald/DisplayMagician/files/7671355/NVIDIAInfo-racing-save.log)
![image](https://user-images.githubusercontent.com/1175713/145099844-ef4b606c-e43b-4d90-9a69-2696f9e4f4f1.png)

### Regular save
[NVIDIAInfo-regular-save.log](https://github.com/terryma

[2021-12-08 01:32] terrymacdonald commented on #44
@dev1981 Thanks to some help from @matthex I think we've found a bug that *might* help with your particular situation. Please keep an eye on issues #60 and when you see a DisplayMagician test build dropped there feel free to give it a go.

Thanks
Terry

[2021-12-08 07:50] terrymacdonald commented on #60
@matthex After having a quick look through the logs, it's clear that something is happening in WinLibrary when the NVIDIALibrary is involved. That is why you were getting the IndexOutOfRange exception in NVIDIAInfo, but not in CCDInfo.

The racing.cfg and racing-realod.cfg are quite different, but they are ONLY different in the WinLibrary section of the config. This confirms to me that the NVIDIAL

[2021-12-08 07:56] terrymacdonald commented on #60
@mathex Thinking about it, can you please try one more thing...

The errors above are all going to or from an NVIDIA surround profile. Can you please try creating another non-surround display profile and try swapping from that to regular.cfg? In other words:

Create another NON-Surround windows display layout (don't use NVIDIA Surround with it):
- Create a regular2 display layout with different sc

[2021-12-08 08:34] terrymacdonald commented on #60
@matthex I should really give myself more credit. I think it will take me a while to find a bug, and then I seem to find it far faster than I thought! :)

OK, I think I know what's going on. When NVIDIALibrary makes it's changes, it updates the Windows display layout. Because of prior changes I made in WinLibrary to help speed it up, WinLibrary wasn't looking to see what NVIDIALibrary had changed.

[2021-12-08 09:51] dev1981 commented on #44
hi yes, i am following the #60 a few days. as soon u drop a relase there i ll test it again. Thank u very much for ur efforst, keep it going.

[2021-12-09 18:00] matthex commented on #60
Hi @terrymacdonald
This time, I think I have better news ;-)

First, I tried the non-surround settings:

### Save regular
[NVIDIAInfo-regular-save.log](https://github.com/terrymacdonald/DisplayMagician/files/7687332/NVIDIAInfo-regular-save.log)
![image](https://user-images.githubusercontent.com/1175713/145449082-0b7686d3-77ea-4826-923a-a829d40d8c2b.png)

### Save other non-surround setup
[NVIDIAIn

[2021-12-09 20:21] terrymacdonald commented on #60
@matthex This is great news!

The error seems to be in the GetWindowsDisplayConfig function, which I expect is happening in the initial call just before the NVIDIALibrary changes take place. I might be able to move where the initial call is made to further down the function which may get rid of that error. I'll do some testing later this evening after work and see what I can find.

I also had a qu

[2021-12-10 10:58] terrymacdonald commented on #60
@matthex Well that took WAAAAAAAY longer than expected!

As I dug further into that error message you gave me, it became apparent that there was a serious flaw in my logic that I made to 'patch' cloned modes so they worked. This logic would fail if people had monitors that didn't provide the right information.

The prior clone correction logic relied on HDR information being returned from the Wind

[2021-12-10 17:54] matthex commented on #60
Hi @terrymacdonald

Unfortunately, I think it is the same behavior as before: The changing of profiles works, but before it works, there is this one step with an exception.

### Save regular
[NVIDIAInfo-regular-save.log](https://github.com/terrymacdonald/DisplayMagician/files/7694540/NVIDIAInfo-regular-save.log)
![image](https://user-images.githubusercontent.com/1175713/145619022-ddc7e8b2-5d97-400

[2021-12-10 20:33] terrymacdonald commented on #60
@matthex Damn it. Looks like I fixed a potential future bug, but not the one we're experiencing :/.

OK, so I revamped the section of code that NVIDIAInfo is complaining about in your screenshots. It's an area of code that works perfectly fine on my system, so I can't get it to fail... this makes it more difficult to troubleshoot I'm afraid. We're going to have to rely on your system for testing.

[2021-12-11 15:03] matthex commented on #60
Hi @terrymacdonald

I keep this message short, because: It works! 🥳
There are no exceptions any more - every change works perfectly. Awesome! :-)

Thank you so much for your patience and for figuring out what the issue is and solving it!

[2021-12-11 19:30] terrymacdonald commented on #60
Cool!

Ok, we're not finished yet though, as we now need to get that Winlibrary
integrated into DisplayMagician. I'll update the code and then I'll put a
test DisplayMagician build in this issue for you to try.

I'm really interested in whether the display profile drawings work. I've
looked at the code recently, and it looked like it would work as soon as we
got the rest of the WinLibrary working

[2021-12-11 20:42] terrymacdonald commented on #60
@matthex I just thought - I need you to do one more NVIDIAInfo test for me please. **We need to check that cloned displays still work.** I made some changes to how that works in order to work more reliably, so I'd like to test that on your incredible array of screens.

**PLEASE RUN THIS TEST FIRST**

So can you please create a cloned windows display layout (don't use NVIDIA Surround with it):

- C

[2021-12-11 23:03] Outerspacejunky16 opened #64 "Game Launcher no longer works with AMD GPU"
**Describe the bug**
Game Shortcuts no longer work after the most recent update. They were previously working before the update.

More detail:
Display Profiles functionality seems to work perfectly. I created 3 new display profiles:
Triple display without using AMD Eyefinity (3 monitors at 2560x1440)
Triple display using AMD Eyefinity (1 monitor at 7680x1440)
Single display using my single monitor

[2021-12-12 02:29] terrymacdonald commented on #64
Hi @Outerspacejunky16  Thanks for logging the issue. I unfortunately don't have an AMD video card that will work with the latest AMD Radeon driver, so I can't do any testing for this issue. That means I'll need to rely on you to perform all the testing for me. Are you fine to do that?

But first - I have to ask - what version of DisplayMagician were you running just before 2.1.1? Just so I know wh

[2021-12-12 02:33] terrymacdonald commented on #44
Hey @dev1981 I found a couple of errors under windows with @matthex help a couple of days ago. One error was a logic error that prevented more than one display adapter from being used. That may be part of the issue affecting your situation, so it's at least worth it for you to download the test version and see if it works for you.

DisplayMagician v2.1.1.40 test version:
[DisplayMagicianSetup-v2.1

[2021-12-12 11:15] matthex commented on #60
Hi @terrymacdonald

I first give you the results of the cloned display test:

### Save cloned display
[NVIDIAInfo-cloned-save.log](https://github.com/terrymacdonald/DisplayMagician/files/7698620/NVIDIAInfo-cloned-save.log)
![image](https://user-images.githubusercontent.com/1175713/145710034-db3b4e35-f3a8-4661-a135-ece98e987680.png)
This worked well.

### Load racing
[NVIDIAInfo-racing-reload.log](

[2021-12-12 20:01] terrymacdonald commented on #60
Ah gosh @matthex. I just found an error in the GetCurrentPCIVendors function which meant that it wouldn't detect a PCI card unless it was actively being used :(.

I've made the adjustment and have fixed up NVIDIAInfo v1.3.5. Can you please download NVIDIAINfo v1.3.5 and test that cloned config again please (same steps as last time).

Thanks! We're getting really close, and we're finding some reall

[2021-12-13 09:25] dev1981 commented on #44
Hi Terry, sadly it is still not working. I can see in the logfile that it is detecting the displays (as far as i understood it) ->

2021-12-13 10:09:13.8469|TRACE|DisplayMagician.Program|WinLibrary/GetWindowsDisplayConfig: Found adapter name \\?\USB#VID_17E9&PID_430C&MI_00#8&d6f23a6&1&0000#{5b45201d-f2f2-4f3b-85bb-30ff1f953599} for adapter 557374185.

but i see as well this informations ->

2021-1

[2021-12-13 10:24] terrymacdonald commented on #44
@dev1981 it's late at night so I've not had a chance to properly go through your files, but I have a gut feeling this is due to the PCI detection error I found yesterday.

Can you please download NVIDIAInfo v 1.3.5 and test with the same basic tests that @matthex was doing for me in issue #60 ? I'd really like to know if the PCI detection picks up the USB devices as well, and that would be the bes

[2021-12-13 22:30] JSchoonbrood opened #65 "Android Tablet SuperDisplay support."
It's difficult to determine whether this is a feature request or a bug.

I have an Android Tablet connected using SuperDisplay, which allows Windows to recognise the tablet as a display, including in display settings. *Shown below*
![image](https://user-images.githubusercontent.com/27826585/145898358-0af0eb39-8ba8-450b-a51e-9336b9e70a8c.png)

However, DisplayMagician does not recognise the tablet

[2021-12-13 22:49] terrymacdonald commented on #65
@JSchoonbrood can you please provide a link to the SuperDisplay support site and anywhere that has details about how it works? I'm currently troubleshooting some other issues that may impact this sort of thing, so it would really help if you can sort out some useful links for me to speed p my research later.

Thanks
Terry

[2021-12-13 22:55] terrymacdonald commented on #44
@dev1981 I've had a chance to go through your logs in more detail, and thanks to your log data I found that the format of USB cards in the PCI device list is different to the ones from PCI cards. Thanks to your data I've been able to update my regex matching to handle the USB format. For reference I've included the two different format examples below in case anyone else on the Internet has the sam

[2021-12-13 22:58] JSchoonbrood commented on #65
Sure, anything to help.

SuperDisplay Support:
https://superdisplay.app/help/

SuperDisplay Drivers Available Here:
https://superdisplay.app/

SuperDisplay Android App:
https://play.google.com/store/apps/details?id=com.kelocube.mirrorclient

Brief Description on how it works:
"SuperDisplay works just like an external display, so it's the same as if you plugged in a physical display into your compu

[2021-12-14 01:05] terrymacdonald commented on #65
@JSchoonbrood My gut feel is that for Windows to recognise it, it needs to emulate a PCI or USB connected device. I've just been working to detect USB devices with issue #44 and I think I made a bit of a breakthrough earlier today. The changes I made to my custom WinLibrary code (which handles video card detection and windows display layout) I've included in NVIDIAInfo v1.3.6 available here: https

[2021-12-14 11:21] JSchoonbrood commented on #65
Thank you for the response,
Everyone worked as expected using NVIDIAInfo with display configurations switching perfectly.

Attached are the logs requested :)
[NVIDIA Info Log.zip](https://github.com/terrymacdonald/DisplayMagician/files/7711164/NVIDIA.Info.Log.zip)

[2021-12-14 12:52] dev1981 commented on #44
(general)
The Numbers of the Displays in the WIN settings are changing, i guess as well depends on the POWER state of my displays and DisplayLink device.

All of the states i made a screenshot of the WIN settings. Up on 5th try i made screenshots from the DPM application, too. diddn´t do that before.
Because of that i reverted back some of the states later and made some screenshots afterwards of t

[2021-12-14 17:27] matthex commented on #60
Hi @terrymacdonald

Sadly, with NVIDIAInfo 1.3.6 the same thing happens: When I load the cloned.cfg, it shows the error message as before:
![image](https://user-images.githubusercontent.com/1175713/146048166-fc220861-af17-40d2-aeaf-fc405decddd6.png)

Here is the log file from trying to load cloned.cfg from regular.cfg:
[NVIDIAInfo-cloned-load.log](https://github.com/terrymacdonald/DisplayMagician/

[2021-12-14 17:54] matthex commented on #60
And finally I can give some feedback to the new version of DisplayMagician (2.1.1.40):

The old regular profile did not work, but the racing profile did.
After saving a new regular profile, also this was fine and switching to it works perfectly.

The drawing of the regular profile and the racing-data profile are missing the display that is connected to the CPU:
![image](https://user-images.githubu

[2021-12-14 20:36] terrymacdonald commented on #60
Hi @matthex ,

So if I'm reading what you're saying correctly, then NVIDIAInfo v1.3.6 and DisplayMagician 2.1.1.40 both work with handling multiple display adapters now? But that there are the following issues:

- DisplayMagician doesn't show the display layout correctly
- There might be a problem with a display profile if it's reused again.

Ok. I think we need to go back to doing some more NVIDI

[2021-12-14 21:27] terrymacdonald commented on #44
@dev1981 I'm sorry but that's all quite difficult to follow. I am really confused as to what you tested and what you didn't test. I really do appreciate the effort you put in, but I don't know the exact order in which you performed the tests, and what left over settings were from the previous failures or successes, I can't really make use of much of those tests at all as the prior tests may have a

[2021-12-14 22:00] dev1981 commented on #44
hi terry,
ok, i´ll do it again.

Just to explain, i created first 9 different CFGs, for all of them screenshots from WIN and DPM GUI and described the connection states in WIN and DPM GUI.
The description is chronological, so just from top to bottom.

CFG "first" is the first i created
CFG (Second-1 CFG) is the second i created
and so on...
Between this creations i diddnt reload any CFG, i ll just

[2021-12-14 22:12] JSchoonbrood commented on #65
@terrymacdonald
Ah, the regular.cfg issue may be caused by the fact I turned off the SuperDisplay monitor? I just assumed that as one config was called SuperDisplay.cfg and the other regular.cfg, you may have wanted a display configuration without superdisplay for comparison.

But apart from that, sounds like good news! Thanks for all your work :)

[2021-12-14 22:13] terrymacdonald commented on #65
@JSchoonbrood Can you please download and test NVIDIAInfo v1.3.7 from here: https://github.com/terrymacdonald/NVIDIAInfo/releases/tag/v1.3.7

IMPORTANT: Please delete the previous CFG and LOG files you created before. I want to test the whole thing again just to be sure it will work.

Open a PowerShell window, and change to the same folder that you extracted NVIDIAInfo into.

**IMPORTANT - These i

[2021-12-14 22:33] dev1981 commented on #44
hi Terry,

tests are done.
[NVIDIAInfo-v1.3.6-test.zip](https://github.com/terrymacdonald/DisplayMagician/files/7715165/NVIDIAInfo-v1.3.6-test.zip)

grz

[2021-12-14 22:43] JSchoonbrood commented on #65
@terrymacdonald
Thanks for the clarification, all done and all equal tests finished with the expected result.

[NVIDIAInfo Log 2.zip](https://github.com/terrymacdonald/DisplayMagician/files/7715206/NVIDIAInfo.Log.2.zip)

[2021-12-15 00:26] terrymacdonald commented on #44
@dev1981 awesome thanks. I'll have a look at what the simracing config issue is.

I've not heard of NVIDIA surround having a limit of 5 displays anywhere else (the driver has a limit of 32 screens IIRC) but it could be a limit with what your card supports. If it's a limitation with NVIDIA driver then as long as you've saved different valid configurations then the NVIDIALibrary used by NVIDIAInfo s

[2021-12-15 02:51] terrymacdonald commented on #65
@JSchoonbrood did you have to load any cfgs twice to get them to apply properly? Or did they work first time?

Thanks
Terry

[2021-12-15 03:01] terrymacdonald commented on #65
@JSchoonbrood Oh no! Just checking those log files and I found a mistake in NVIDIAInfo v1.3.7 that prevented the SuperDisplay PCI card matching from working :(. Sorry.

I've fixed it, and released NVIDIAInfo v1.3.8. Can you please re-run those last tests for me again but using NVIDIAInfo v1.3.8?

https://github.com/terrymacdonald/NVIDIAInfo/releases/tag/v1.3.8

Sorry again :(

Terry

[2021-12-15 09:33] terrymacdonald commented on #44
@dev1981 DisplayMagician v1.1.4 uses a completely different display library. It was the original NVAPIWrapper library by Soroush Falahati (the original Helios Display Management author that DisplayMagician is based on) . I wouldn't recommend using DisplayMagician at the moment to configure or test any other display layouts, as it will probably setup an invalid config that won't work properly.

Dis

[2021-12-15 09:46] dev1981 commented on #44
hi Terry,
first of all i resatrted my machine and just tested if my two CFGs (Simracing and DUAL) are still appliable. That was the case.
[NVIDIAInfo_Reboot-Reload-dual.log](https://github.com/terrymacdonald/DisplayMagician/files/7718021/NVIDIAInfo_Reboot-Reload-dual.log)
[NVIDIAInfo_Reboot-Reload-SimRacing.log](https://github.com/terrymacdonald/DisplayMagician/files/7718022/NVIDIAInfo_Reboot-Relo

[2021-12-15 09:52] dev1981 commented on #44
hi

i ALWAYS used Windows and NV control panel to setup my displays. I used 1st Helios and then DPM to save and load the profiles within CMD lines in batchfiles when i start my racing games.
So for now, i am only using ur NVinfoTool because i can save&apply the desired profiles.
DisplayLink has no special config tool, it handeld completely within th eWIN settings.

grz

[2021-12-15 10:40] dev1981 commented on #44
no problem, i am often awake very long. timzone diff is 12 hrs :) so sleep well i ll go to lunch now :D

[2021-12-15 11:21] JSchoonbrood commented on #65
@terrymacdonald
The cfgs worked the first time as far as I'm aware.

And no worries, ran all the tests again and finished with the expected results on v1.3.8

Thank you :)

[NVIDIAInfo Log 3.zip](https://github.com/terrymacdonald/DisplayMagician/files/7718885/NVIDIAInfo.Log.3.zip)

[2021-12-15 18:23] terrymacdonald commented on #65
Oh cool! Right, so next step is for me to build this updated library into
DisplayMagician. Then we can test if the GUI works.

I'll put something together during the day, and will post another comment
with it attached. We're so close now...

Thanks
Terry

On Thu, 16 Dec 2021, 00:21 JSchoonbrood, ***@***.***> wrote:

[2021-12-15 19:46] JSchoonbrood commented on #65
@terrymacdonald
Awesome, thank you!

[2021-12-15 23:50] terrymacdonald commented on #65
@JSchoonbrood Can you please install and test this version of DisplayMagician:

[DisplayMagicianSetup-v2.1.1.41.zip](https://github.com/terrymacdonald/DisplayMagician/files/7723505/DisplayMagicianSetup-v2.1.1.41.zip)

**If you get any strange behaviour with a DisplayMagician display profile, please delete the Display Profile and create it again. Then update the Game Shortcuts using that Display Pr

[2021-12-15 23:52] terrymacdonald commented on #60
@matthex Once you've done the tests above, please try and use this new test version of DisplayMagician. It includes the improvements we've made over the last few weeks.

[DisplayMagicianSetup-v2.1.1.41.zip](https://github.com/terrymacdonald/DisplayMagician/files/7723505/DisplayMagicianSetup-v2.1.1.41.zip)

**If you get any strange behaviour with a DisplayMagician display profile, please delete the

[2021-12-15 23:53] terrymacdonald commented on #44
Hi @dev1981

Please try and use this new test version of DisplayMagician. It includes the improvements we've made over the last few weeks.

[DisplayMagicianSetup-v2.1.1.41.zip](https://github.com/terrymacdonald/DisplayMagician/files/7723505/DisplayMagicianSetup-v2.1.1.41.zip)

**If you get any strange behaviour with a DisplayMagician display profile, please delete the Display Profile and create it

[2021-12-15 23:58] terrymacdonald commented on #64
@Outerspacejunky16 Just in case you didn't get the edited version of the information above, please try and use this new test version of DisplayMagician. It includes the improvements we've made over the last few weeks.

[DisplayMagicianSetup-v2.1.1.41.zip](https://github.com/terrymacdonald/DisplayMagician/files/7723505/DisplayMagicianSetup-v2.1.1.41.zip)

**If you get any strange behaviour with a D

[2021-12-16 00:30] JSchoonbrood commented on #65
@terrymacdonald
Awesome,
Done some brief testing.
All profiles and shortcuts are freshly created.

1) Display Magician is able to switch between profiles

2) Display Magician can save a profile that duplicates the display from main monitor to SuperDisplay monitor, however cannot switch to that profile, or switch from that profile properly.

3) Display Magician can use duplicate profiles correctly

[2021-12-16 01:03] terrymacdonald commented on #65
@JSchoonbrood Can you please do the following steps for me:

- Restart DisplayMagician
- Try applying the Super + Ultra profile
- Go into Settings from the main form and press the 'Create Support ZIP File' button.
- Upload the Support ZIP here so I can review the logs and settings.

Thanks for all your testing so far!
Terry

[2021-12-16 01:07] JSchoonbrood commented on #65
@terrymacdonald
No problem!

Attached is the requested zip file :)
[DisplayMagician-Support-20211216-0106.zip](https://github.com/terrymacdonald/DisplayMagician/files/7723825/DisplayMagician-Support-20211216-0106.zip)

[2021-12-16 01:46] terrymacdonald commented on #65
That was fast :) @JSchoonbrood

OK - I've got a slightly modified logic flow in the bit of code that calculates the screen layout for the GUI, and I also added some extra logging in that area so I'll see a bit more detail. Please do the following again:

- Install DisplayMagician v2.1.1.42 from here: [DisplayMagicianSetup-v2.1.1.42.zip](https://github.com/terrymacdonald/DisplayMagician/files/77239

[2021-12-16 18:13] JSchoonbrood commented on #65
Haha yes, saw the email notification just before I was about to call it a night- so thought I'd quickly address it!

Zip file:
[DisplayMagician-Support-20211216-1812.zip](https://github.com/terrymacdonald/DisplayMagician/files/7729561/DisplayMagician-Support-20211216-1812.zip)

Thanks :)

[2021-12-16 23:30] terrymacdonald commented on #65
@JSchoonbrood I've just fixed the GUI display for multiple adapters in DisplayMagician v2.1.1.49 test version. I tested it on another computer with multiple adapters and it worked! So please install this new version and test this to make sure that it shows all your displays correctly:
[DisplayMagicianSetup-v2.1.1.49.zip](https://github.com/terrymacdonald/DisplayMagician/files/7731026/DisplayMagici

[2021-12-16 23:30] terrymacdonald commented on #64
@Outerspacejunky16 I've just fixed the GUI display for multiple adapters in DisplayMagician v2.1.1.49 test version. I tested it on another computer with multiple adapters and it worked! So please install this new version and test this to make sure that it shows all your displays correctly:
[DisplayMagicianSetup-v2.1.1.49.zip](https://github.com/terrymacdonald/DisplayMagician/files/7731026/DisplayM

[2021-12-16 23:30] terrymacdonald commented on #60
@matthex I've just fixed the GUI display for multiple adapters in DisplayMagician v2.1.1.49 test version. I tested it on another computer with multiple adapters and it worked! So please install this new version and test this to make sure that it shows all your displays correctly:
[DisplayMagicianSetup-v2.1.1.49.zip](https://github.com/terrymacdonald/DisplayMagician/files/7731026/DisplayMagicianSet

[2021-12-16 23:31] terrymacdonald commented on #44
@dev1981 I've just fixed the GUI display for multiple adapters in DisplayMagician v2.1.1.49 test version. I tested it on another computer with multiple adapters and it worked! So please install this new version and test this to make sure that it shows all your displays correctly:
[DisplayMagicianSetup-v2.1.1.49.zip](https://github.com/terrymacdonald/DisplayMagician/files/7731026/DisplayMagicianSet

[2021-12-17 20:05] mcdbergh opened #66 "Game shortcuts error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open program Displaymanager  see [https://imgur.com/a/OMXqZs5](url)
2. Click on 'Game Shortcuts'
3. The error will come automaticly
4. See error [https://imgur.com/IXMdJxB](url) and [https://imgur.com/oGY1ALZ](url)

**Expected behaviour**
See only a red cross and no short

[2021-12-17 20:57] terrymacdonald commented on #66
Hi,

Can you please start DisplayMagician, and press the Settings button on the
main window, then click on the Create Support Zip File button to generate a
support zip file. Then return to this issue using your web browser and
attach the support zip file you created to a new comment. You can also
click and drag the file over your comment to attach it.

I'll have a quick look at your shortcut confi

[2021-12-17 21:12] JSchoonbrood commented on #65
@terrymacdonald
Can confirm it works as said! Can now see superdisplay in DisplayMagician :)
Thank you!

[2021-12-18 00:39] Outerspacejunky16 commented on #64
Terry,

I had planned to work through your troubleshooting request this weekend, but apparently my busy schedule paid dividends!  :)

As you might have guessed, v2.1.1.49 fixed any issues I previously had. Nice work! I'm sorry I couldn't be part of the solution.

[2021-12-18 03:14] terrymacdonald commented on #65
@JSchoonbrood Does it work fully? Do the different display profiles get applied correctly as far as you can tell?

Am I able to close this issue now?

Thanks
Terry

[2021-12-18 03:19] terrymacdonald commented on #64
@Outerspacejunky16 Cool! So does that mean I'm able to close your issue now? Any other problems you've found?

Oh - and can you please test out this new version for me? I've made the windows all resizable. It's a little thing that's been nagging me for a while, so I wanted to get it fixed. Can you please test that the shortcut editing window works, and that the Display Profile window works? There

[2021-12-18 03:20] terrymacdonald commented on #65
@JSchoonbrood One more thing :)

Can you please test out this new version for me? I've made the windows all resizable. It's a little thing that's been nagging me for a while, so I wanted to get it fixed. Can you please test that the shortcut editing window works, and that the Display Profile window works? There is a possibility that a button or checkbox doesn't work now due to the changes I had to

[2021-12-18 03:22] terrymacdonald commented on #60
@matthex Ignore all the previous comments :D. I've managed to get help from others, and I'm pretty convinced that I've fixed the multiple adapter support.

So rather than do all that other testing I asked for,  can you please test out this new version for me? Please check out that it now works with your racing and regular layouts. I've made the windows all resizable. It's a little thing that's bee

[2021-12-18 03:25] terrymacdonald commented on #44
@dev1981 Other people have said that I've now fixed their issues and that the multiple adapters works, even with USB devices. I'm really interested in whether your problem is now solved. Can you please test this new version of DisplayMagician for me?

Please delete all your old DisplayMagician Display Profiles, and then recreate them. Then update your game shortcuts to use the newly created Displa

[2021-12-18 03:28] terrymacdonald commented on #66
Oh, and then AFTER you've sent me the Support Zip File, please test out this new test version of DisplayMagician I created today. It is so very close to the next version of DisplayMagician to be released, and has a whole host of bugfixes and enhanced features.

[DisplayMagicianSetup-v2.1.1.64.zip](https://github.com/terrymacdonald/DisplayMagician/files/7738642/DisplayMagicianSetup-v2.1.1.64.zip)

[2021-12-18 09:22] mcdbergh commented on #66
[DisplayMagician-Support-20211218-1018.zip](https://github.com/terrymacdonald/DisplayMagician/files/7739040/DisplayMagician-Support-20211218-1018.zip)
github>. You are receiving this because you were assigned.Message ID: ***@***.*** com>

Goodmornig Terry,

Thanks for your quick reply.
I have uploaded the requested zip file.

[2021-12-18 09:27] mcdbergh commented on #66
Thanks for the new version....

i have installed it but still the same issue...
![image](https://user-images.githubusercontent.com/89632386/146636304-96a64a76-7c4b-46f3-bc3b-33a886e1d99c.png)

[2021-12-18 10:54] terrymacdonald commented on #66
Hmmmm. Is .net framework 4.8 runtime installed on your machine? We need
that for DisplayMagician to work.

You can download from here:
https://dotnet.microsoft.com/en-us/download/dotnet-framework/thank-you/net48-web-installer

Thanks
Terry

On Sat, 18 Dec 2021, 22:27 mcdbergh, ***@***.***> wrote:

[2021-12-18 15:18] matthex commented on #60
Hi @terrymacdonald
I am sorry for the late reply.
I tested the new version (2.1.1.64) and all the drawings of my display setups and the switching between them works!
![image](https://user-images.githubusercontent.com/1175713/146646134-9ac7a880-78f8-4ec5-824c-dc82384178b0.png)

Thank you so much! 😊
I think, you can close this issue 😇

[2021-12-18 16:38] mcdbergh commented on #66
Yes it's installed allready on my machine.

![image](https://user-images.githubusercontent.com/89632386/146648744-cac4f6bb-1481-4ad2-b3e3-72df7ce76e34.png)

[2021-12-18 17:36] JSchoonbrood commented on #65
@terrymacdonald

Main Window is resizable, expandable and shrinkable, lag-free and all buttons work.

DisplayProfiles window is resizable, expandable and shrinkable but suffers from lag during resizing.

Game shortcuts window is resizable, not expandable but shrinkable and suffers from a little amount of lag compared to DisplayProfiles.

All buttons work on all screens that I could find to test!

[2021-12-18 19:16] terrymacdonald commented on #65
Awesome! I think I'm ready to release a new version!

Thank you so much for all your hard work testing. I knew we'd get there in
the end. Sometimes it just takes a while to test each step until I can
isolate the errors.

Thanks again. I'll close this issue now.
Terry

On Sun, 19 Dec 2021, 06:37 JSchoonbrood, ***@***.***> wrote:

[2021-12-18 19:21] terrymacdonald commented on #60
I'm so happy! That's great news. I know now that if it works with your
sweet up, it will work with anyone's 😁. You have so many screens!

Will it be ok to contact you again if I need to test some new changes that
might impact a large number of screens?

I'll close this issue now everything is working.

Fell free to tell your friends about DisplayMagician. And thank you for
your donation too. I jus

[2021-12-18 19:22] terrymacdonald commented on #65
Fixed in codebase. Closing issue.

[2021-12-18 19:22] #65 closed

[2021-12-18 19:23] terrymacdonald commented on #60
Closing issue as fixed in codebase.

[2021-12-18 19:23] #60 closed

[2021-12-18 20:33] terrymacdonald commented on #66
Hi @mcdbergh,

I've found the issue. You have 3 different iRacing shortcuts, all pointing to the same "C:\Racing games\iRacing\ui\iRacingUI.exe" but the first one is empty, and the second one has less info in it. That empty item is causing issues with DisplayMagician loading, and that's causing your crash.

I have manually removed the first two shortcuts as they aren't needed. I have also edited t

[2021-12-18 20:34] terrymacdonald commented on #66
@mcdbergh I forgot to attach the fixed file earlier :)

Here is it now, in a zip file so that Github will let me upload it:
[Fixed_Shortcuts_2.0.zip](https://github.com/terrymacdonald/DisplayMagician/files/7739921/Fixed_Shortcuts_2.0.zip)

Thanks
Terry

[2021-12-18 21:56] matthex commented on #60
Yes, sure, you can contact me any time :-)
I am happy to help whereever I can ;-)

[2021-12-19 08:36] mcdbergh commented on #66
Goodday Terry,

thanks for your quick reply.
Yesterday i have downloaded Fixed_Shortcuts_2.0.zip and placed it in  C:\Users<username>\AppData\Local\DisplayMagician\Shortcuts folder and i have tried to open the game short cut section but i got the same error.

Today i got a message of display magician that there was a new version out. i have downloaded it and installed it.

The game Section works n

[2021-12-19 08:36] #66 closed

[2021-12-19 08:36] terrymacdonald commented on #64
Tested as working. Have now released the next release of DisplayMagician that fixes this issue. Closing issue.

Feel free to reopen if you'd like.

Thanks
Terry

[2021-12-19 08:36] #64 closed

[2021-12-19 08:38] terrymacdonald commented on #66
Hey cool! Glad we got there in the end. Looks like it just needs a Display Profile update and then it'll work fine.

Thanks
Terry

[2021-12-19 08:40] terrymacdonald commented on #44
@dev1981 I couldn't wait any longer, so I released DisplayMagician v2.1.2.3 earlier today. I just got too excited :).

Your DisplayMagician should automatically update, so please see if the issue has gone away once you've upgraded. I'll keep this issue open until I hear back that everything is working, or if it's still broken :(.

Thanks
Terry

[2021-12-19 08:40] mcdbergh commented on #66
Woah you have got a quick respons....

i am now going to try it.... to see if this is the ultimate solution for my situation....  ( 1 big pc + 1 desktop monitor + race configration connected ( tripple screen ).

[2021-12-19 12:51] erbkaiser opened #67 "'Choose what happens before' broken in DisplayMagician v2.1.2"
**Describe the bug**
After upgrading from DisplayMagician v2.0.1 to v2.1.2 the 'Choose what happens before' option is broken. It is not possible to add a new program and if  there is/are existing entries, the first one is partially under the program GUI and cannot be edited.

**To Reproduce**
Steps to reproduce the behaviour:
Existing:
1. Downgrade to 2.0.1 and create any 'start programs' for a ga

[2021-12-19 14:58] dev1981 commented on #44
hi terry, no worries, i was a little short of time the last 3 days. i ll check on the release asap.
Thank you very much for ur efforts.

[2021-12-19 16:32] fifowole opened #68 "the type initializer for 'DisplayMagician.ShortcuRepository' threw an exception"
**Describe the bug**
After upgrade from 2.1.1 to latest 2.1.2.3 version app throws err msg and gets frozen then

**To Reproduce**
Steps to reproduce the behaviour:
1. Upgrade from to 2.1.1 to 2.1.2 latest version
2. Run DisplayMagician (shortcut or .exe file doesn't matter)
3. After short load you can See error
4. Aplication must be killed from Win Task Manager
4. Downgrade, Uninstall, reinstall d

[2021-12-19 19:44] terrymacdonald commented on #68
Hi,

Can you please attempt to run DisplayMagician again, and then when it
crashes please use talk manager to kill the process again.

Then please go and get the DisplayMagician.log file from
C:\Users\<username>\AppData\Local\DisplayMagician\Logs, and then come back
here with your web browser and upload the log file to this issue (you can
drag the log file over a new comment to upload it).

Then p

[2021-12-19 19:45] terrymacdonald commented on #67
Ah shoot! I'll go look at it right away.

Thanks
Terry

On Mon, 20 Dec 2021, 01:51 erbkaiser, ***@***.***> wrote:

[2021-12-20 01:43] terrymacdonald commented on #67
Confirmed bug. Forgot to reassign the old click events after adjusting the document object hierarchy within the page. Now fixed in codebase. Will be released in v2.1.3.

[2021-12-20 01:57] terrymacdonald commented on #67
Closing issue so I can keep track of other issues. Feel free to reopen if the next release doesn't fix the issue for you.

Thanks
Terry

[2021-12-20 01:57] #67 closed

[2021-12-20 03:00] terrymacdonald commented on #68
@fifowole I've been looking at this and doing my own testing, and everything works for me. I don't have your issue at all. I cannot replicate it.

I think it is likely related to your particular configuration JSON files, so I'm very keen to look at them and see what's in your logs so it might give me a bit more information on what is failing.

My gut feeling is that you have a particular game or c

[2021-12-20 03:01] Outerspacejunky16 commented on #64
Hi Terry,

In the newest version, 2.1.2, in "Game Profiles", the "3. Choose what
happens before" option no longer works.The programs I've already saved in
their function as they should, but I can't add any new programs. When I
click "Add Start Program" nothing happens. It also does a weird thing with
the scrolling where I can't see the top program in the list.

I tried making a new game profile, s

[2021-12-20 03:31] terrymacdonald commented on #68
Ok - I've given that whole area of the codebase a review and have added in some more logging for the next version, just in case that there is a problem there. Can you please install this test version of DisplayMagician, and then get the log files and JSON configuration files I mentioned earlier, zip them up together, and upload them here please.

Test DisplayMagician v2.1.2.6:
[DisplayMagicianSetu

[2021-12-20 03:32] terrymacdonald commented on #67
@erbkaiser Can you please test this new test version of DisplayMagician to make sure the problem is now fixed?

Test DisplayMagician v2.1.2.6:
[DisplayMagicianSetup-v2.1.2.6.zip](https://github.com/terrymacdonald/DisplayMagician/files/7742390/DisplayMagicianSetup-v2.1.2.6.zip)

Thanks
Terry

[2021-12-20 05:02] terrymacdonald commented on #64
Yeah, I accidentally introduced a bug there with the resizing work. Fix
will be released shortly.

Thanks
Terry

On Mon, 20 Dec 2021, 16:01 Outerspacejunky16, ***@***.***>
wrote:

[2021-12-20 08:28] erbkaiser commented on #67
Confirmed fixed!

[2021-12-20 20:39] terrymacdonald commented on #68
Oops sorry. Closed it accidentally.

Just letting you know that I've released DisplayMagician v2.1.3.1. I've tried to make the Shortcut Repository code a bit more robust to see if that corrects the error you're seeing. It may not, or it may just move the error to another bit of the codebase.
It's my best guess without having your logs to look at.

Thanks
Terry

[2021-12-20 22:15] fifowole commented on #68
Hi Terry, thx for you effort.
I upgraded to 2.1.3.1.
Now the app starts fine to GUI.
If I click "Display Profiles" all works fine
However if I click "Game Shortcuts" i get this:
![image](https://user-images.githubusercontent.com/15162033/146838845-5164144e-5362-46b4-8209-e7371bdc294a.png)
If I click "Continue" app seems to work fine, GUI keeps running and I can edit my game profiles.
- Here is tex

[2021-12-21 04:20] terrymacdonald commented on #68
Hi,

Can you please upload the Shortcuts_2.0.json and the Profiles_2.1.json too
please? I think the error is in one of those files.

Thanks
Terry

On Tue, 21 Dec 2021, 11:16 fifowole, ***@***.***> wrote:

[2021-12-21 08:50] fifowole commented on #68
Hi Terry, there you go:

I have a couple of questions too:
* What version did you upgrade from before 2.1.1? In other words ? -> 2.1.1 -> 2.1.2
* -- as I noted I went 2.1.1 to latest 2.1.2.3

* Did any strange things happen in 2.1.1
* -- nope all was running fine in 2.1.1

* Did you edit the json files manually at all?
* -- nope, not at all

* Did you recreate any previous profiles when upgrading?

[2021-12-21 11:48] dev1981 commented on #44
seems to work fine for me. Displays which are connected to my USB device are shown.
Displays which have the state disconnected, are not shown. A soon u enable them in WIN settings they´re present.

[2021-12-21 21:20] terrymacdonald commented on #44
Awesome! I'll close this issue. Thanks for all your help @dev1981.

[2021-12-21 21:20] #44 closed

[2021-12-21 22:35] terrymacdonald commented on #68
@fifowole  I _think_ I know what's the issue. I found a logic bug in the processing of null UUIDs. I've fixed that, and I've added additional logging to get closer to where the underlying bug is in the code. I still think there is a bug somewhere and I need you to test this test version of DisplayMagician I've just released below:

[DisplayMagicianSetup-v2.1.3.3.zip](https://github.com/terrymacdon

[2021-12-21 22:41] fifowole commented on #68
Hi, here you go.
Screenshot: still comes the same error when I click "Game shortcuts"
![image](https://user-images.githubusercontent.com/15162033/147006799-da79a0d3-03db-4651-8809-5121b46890fd.png)
[DisplayMagician.log](https://github.com/terrymacdonald/DisplayMagician/files/7758728/DisplayMagician.log)

[2021-12-21 23:30] terrymacdonald commented on #68
@fifowole GAH! Still nothing obvious popping out in the logs, so I've added yet more logging to see where the problem is. I've created a new test build for you with the additional logging. Can you please do the same thing you did last time, and we'll see if we can log from the bit that's broken.

[DisplayMagicianSetup-v2.1.3.4.zip](https://github.com/terrymacdonald/DisplayMagician/files/7758900/Di

[2021-12-22 04:09] terrymacdonald commented on #50
An update. I've been spending time on bug squashing over the last month and a half. There were some issues with multiple adapters and USB display devices that I needed to sort out, and I'm coming to the end of that. Still some final bugs to squash in the UI as well, but in the new year, after the bug-fixing has settled down, I'll start work on DM v2.2.0, and I'll see whether this feature will fit

[2021-12-22 09:19] terrymacdonald commented on #68
@fifowole Awesome news! I haven't fixed it yet, but I have managed to generate the same error using your Shortcuts_2.0.json file. It's pretty late here right now so I'll have to work on it tomorrow, but at least now I can generate the error consistently myself and I can troubleshoot it with my debugger! This is great news!

I'm hoping to figure out what's wrong tomorrow, and I'd really love to hav

[2021-12-22 09:47] fifowole commented on #68
That is great news Terry. I can see our time zones differ a lot since it's
morning here ;)
I'm glad you could reproduce it so it's not just something happening on my
PC only..

Take your time and when you need to test anything just let me know.

Cheers mate
FiFo

On Wed, Dec 22, 2021 at 10:19 AM terrymacdonald ***@***.***>
wrote:

--
Filip

[2021-12-22 21:36] S4b0tage commented on #50
Hey Terry,
no worries about that. Integer scaling seems to change anyway as per last news by NVIDIA.
So its good to wait a little longer i guess :)
Im quite busy with work atm as well and a new bike which I just bought, so dont worry, I haven´t forgotten about you either.

Nice christmas to you

[2021-12-23 04:49] terrymacdonald commented on #68
@fifowole So this was an excellent issue to have as it helped me find a couple of trickier bugs that would have been much harder to find otherwise. So thanks for logging it.

The reason DisplayMagician was crashing was that it was hitting a Uplay Game in the Steam Library. This was not a valid thing to see. The reason DisplayMagician was doing that was because of a bug in the way that the list of

[2021-12-23 04:53] terrymacdonald commented on #67
@erbkaiser I need someone I know well to test out this new version that is just about ready for release

DisplayMagician was crashing as  had introduced a bug in 2.x that would incorrectly add all the non-steamGames to the list of SteamGames. This was not a valid thing to do. It would crash DisplayMagician and would have affected anyone with Steam and any one more GameLibrary (e.g. GOG, Epic, Upla

[2021-12-23 05:50] #68 closed

[2021-12-23 09:35] erbkaiser commented on #67
I saw DM was not running before updating so probably I was getting the same crash. However, with the new 2.1.3, DisplayMagician crashes when I try to create or edit a game shortcut
[shortcut crash.zip](https://github.com/terrymacdonald/DisplayMagician/files/7768219/shortcut.crash.zip)
.

[2021-12-23 09:51] erbkaiser commented on #67
2.1.4.1 (pre-release) has the same crash, while DisplayMagician is extracting icons it disappears.

[2021-12-23 10:20] terrymacdonald commented on #67
Hmmmm. Ok. I take a look tomorrow morning as soon as I can.

Thanks for letting me know.

Terry

On Thu, 23 Dec 2021, 22:51 erbkaiser, ***@***.***> wrote:

[2021-12-23 20:10] fifowole commented on #68
Hi Terry, I'm happy you were able to clean up this great app during our debug. That is cool!
So let's continue with good news ;)
Clicking on "Game shortcuts" does not come with error message anymore, so that is fixed.
I know it's Christmas time, bud I have Bad news too, clicking "New" or "Edit" comes with the error
![image](https://user-images.githubusercontent.com/15162033/147287124-a6cec684-ffed

[2021-12-23 23:47] terrymacdonald commented on #68
Hi @fifowole

Yeah, erbkaiser found that last night in his testing too ☹️. I'm
refactoring the code in the shortcut form to stop these sorts of issues
happening again. That section of code grew organically, and it was always
breaking when I made changes. So I think now is the time to change it and
made it more robust.

I'm now expecting to be finished on Dec 26th, so if you're around I'll get
you

[2021-12-25 15:13] fifowole commented on #68
Hi,
I'll be around on 26th so no problem to test it.

regards
Filip

On Fri, Dec 24, 2021 at 12:47 AM terrymacdonald ***@***.***>
wrote:

--
Filip

[2021-12-26 01:54] terrymacdonald commented on #68
@fifowole I've now got a new DisplayMagician to test!

I've completely rewritten the Shortcut Editing Form logic, and it's WAY more logical and robust. I've also taken the time to add a couple of new features because... well why not?

Features:
- Can run Start Programs as Administrator
- Can run Main Application as administrator
- Can run Stop Program as Administrator (the run program afterwards o

[2021-12-26 01:54] terrymacdonald commented on #67
@erbkaiser I've now got a new DisplayMagician to test!

I've completely rewritten the Shortcut Editing Form logic, and it's WAY more logical and robust. I've also taken the time to add a couple of new features because... well why not?

Features:
- Can run Start Programs as Administrator
- Can run Main Application as administrator
- Can run Stop Program as Administrator (the run program afterwards

[2021-12-26 11:33] erbkaiser commented on #67
Hi Terry,

the new build looks great. Launching programs before and after works great and the administrator function also kicks in properly. Both existing and new shortcuts function like they should.

thanks for working on this over the holiday!

[2021-12-27 08:36] fifowole commented on #68
Hi @terrymacdonald , so I tested it today and I have no bad news at all :)

I did all possible shortcuts management and there was no issue.
From my point of view, all is working now like a charm! ;)

So thank you for all the help and you can expect some coffee donation from me ;)

Keep up the good work and wish you all the best for 2022.
Regards
FiFo

[2021-12-27 09:40] terrymacdonald commented on #68
@fifowole Glad I could be of help. All the best for 2022 for you too!

Thanks
Terry

[2021-12-27 10:44] Chris5gd opened #70 "Error message on attempting to either save a second profile or rename an existing one"
On my 3-monitor system in non-surround mode, creating the first saved profile worked, although Save As didn't give the option to give it a name.  It was saved as 'Current Nvidia Display Profile'.

Attempting to rename it gave: '**Sorry, each saved display profile needs a unique name**'.

Using the Nvidia control panel, switched to 3-monitor surround.  Restarted DM.  Current display correctly shown

[2021-12-27 20:16] terrymacdonald commented on #70
@Chris5gd I've just tried the process you described (as far as I understood it), and it worked fine for me with 2.1.5.5. Here is my test:

![image](https://user-images.githubusercontent.com/5721772/147504310-2328f985-1399-4642-8fed-af2f0e83703e.png)

Have you used DisplayMagician much before now? DisplayMagician is designed to work in a particular way, so it might be helpful if I describe below ho

[2021-12-27 20:23] terrymacdonald commented on #70
Looking at the Display Profile window, I decided that the 'Save As' button needed to be changed to 'Save' to better describe what it does. 'Save As' implies that a 'Save File' window will popup, and you will be able to save the profile as another name, when this isn't the case. The only way to save a second display profile is to change the display layout to a new one. This needs to be communicated

[2021-12-27 21:38] terrymacdonald commented on #70
@Chris5gd Here is a test version of DisplayMagician that I've made that has some extra help buttons added to various pages that will hopefully help provide a better initial setup experience. Can you please download it, extract the zip file and install it, and tell me if that makes things better?

[DisplayMagicianSetup-v2.1.5.9.zip](https://github.com/terrymacdonald/DisplayMagician/files/7781852/Di

[2021-12-28 09:25] Chris5gd commented on #70
Hi Terry

This is much easier to work with, thanks so much.

Changing the text on the buttons does make it more obvious what to do.  What wasn’t obvious was that the default text “Current NVIDIA display profile” is actually an editable field.  I thought it was simply a caption for the current one.  And as you say, with ‘Save as’, I was expecting a dialogue to pop up.

I spend a lot of my time main

[2021-12-28 10:01] terrymacdonald commented on #70
Hi Chris,

Great news! I'll close down your issue now then. I'm going to wait a couple
of weeks before I release this updated version to the public as I've
released a few bug fix versions just recently. Don't want people to have to
update so quickly.

I really recommend taking a look at the game shortcut features, as they can
be really helpful if you're into flight sim or sim racing. There is a 's

[2021-12-28 11:15] terrymacdonald commented on #70
Issue fixed.

[2021-12-28 11:15] #70 closed

[2021-12-29 02:29] No-Depth opened #72 "Fatal Error Windows 11 during creation of game profile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
Was attempting to create a game profile when mid creation I got a BSOD and required a restart.  Upon doing so, I had an fatal error pop-up when launching the program again.  This

[2021-12-29 19:52] Chris5gd commented on #70
Hello mate… me again 😊

Not a problem.. just wondering if there's anywhere I can leave a glowing review for you.

I’ve got myself some shortcuts sorted out now, and it’s like a miracle, how easy it is to swap between profiles.

I switch between non-surround (for my day job, writing code) and surround (for Elite: Dangerous and MS Flight Sim), and before finding your app it was a right PITA.

Happy

[2021-12-29 23:55] terrymacdonald commented on #70
Hi Chris,

Thanks for the thoughtful idea.

You can reply to the race department thread, or the gtplanet one, or just
post it somewhere new like Reddit, or on a sim racing forum somewhere.
Basically anywhere that you think DisplayMagician will make people's lives
easier!

Thanks
Terry

On Thu, 30 Dec 2021, 08:52 Chris5gd, ***@***.***> wrote:

[2021-12-30 01:45] terrymacdonald opened #73 "Speed up loading by using a single application instance"
**Is your feature request related to a problem? Please describe.**
At the moment DisplayMagician takes a while to start any desktop shortcuts, or anytime the application is loaded from scratch. This is because at the moment when you doubleclick a desktop shortcut then a completely new instance of DisplayMagician loads and runs. This means that multiple copies of DisplayMagician can run at one time

[2021-12-30 02:25] terrymacdonald commented on #72
@No-Depth

Woah! I just checked your Shortcuts_2.0.json file and it's all NUL characters! I've never seen that before. It's the weirdest one yet. Your Display Profiles file looks fine with your two profiles set up. They all look as they should. But your Game Shortcuts was just weird!

To fix your problem I would just delete your Shortcuts_2.0.json file in your C:\Users\brand\AppData\Local\DisplayM

[2021-12-30 02:25] #72 closed

[2022-01-02 16:17] sk666 opened #74 "When the roll back have finished, the primary display is not correctly applied."
**Describe the bug**
Hi Terry,

I have 2 problem since the latest version 2.1.5.5 when the roll back to the previous display profile occur:

1- when the roll back have finished, the primary display is not correctly applied. If my primary display is set to screen #1, after the roll back the primary display is now at the screen #2 even if windows say that the current primary display is #1 in the win

[2022-01-02 21:46] terrymacdonald commented on #74
Hi @sk666 and welcome back!

I'm going to split these two issues up so I can track them separately. I'll paste your second issue below so I can refer to it to make the new issue:

2- My second issue is something that you fixed for me in a previous a couple of months ago but problem is back with the latest version: 4 apps are supposed to launch when I start a game, but when I quit the game, the 4 p

[2022-01-02 21:46] terrymacdonald opened #75 "Start programs not closing"
Hi @sk666 and welcome back!

I'm going to split these two issues up so I can track them separately. I'll paste your second issue below so I can refer to it to make the new issue:

2- My second issue is something that you fixed for me in a previous a couple of months ago but problem is back with the latest version: 4 apps are supposed to launch when I start a game, but when I quit the game, the 4 p

[2022-01-02 21:48] terrymacdonald commented on #74
@sk666 please go and follow issue #75 as well, so that you're notified when I post a comment in there for you to try. I'll look at this issue first a little later today.

[2022-01-02 21:55] terrymacdonald commented on #73
Progress update. I've managed to get the command line passing to work so that any subsequent instances of DisplayMagician will actually pass their command line arguments to the first DisplayMagician, and then will close. The first DisplayMagician instance will load fully, and will service any requests from any subsequent DisplayMagician instances. It has to work this way to ensure that the Desktop

[2022-01-04 00:49] terrymacdonald commented on #74
@sk666 I've looked at your shortcut, and there are a few things setup incorrectly in it.

-  You do not need to start steam.exe in your start programs. In fact, that will cause an issue rather than fix things. When you select a game from the game launcher list, DisplayMagician knows how best to start that game and will automatically launch it the best way it knows how. In other words, DisplayMagic

[2022-01-04 00:51] terrymacdonald commented on #75
After reviewing the game shortcut config, it looks like this is a misconfiguration and is not a bug. Please see #74 for more information. I will close this issue for now, but feel free to reopen if you are still having an issue after making the changes I've suggested in issue #74.

Thanks
Terry

[2022-01-04 01:20] sk666 commented on #74
Hi terry,

I removed Steam and DM from the list of strated program and issue #74 AND #75 are still present. Steams and Simdashboard are still open after the game was closed and my default diplay have switched to screen #2 after the roll back. So both issue need to be reopened. All was working well before update to v2.1.5, should I need to downgrade DM?

Thank you

[2022-01-04 01:21] sk666 commented on #75
Hi Terry, take a look to my comment in the issue #74, #75 need to be reopened as well.

Thank you

[2022-01-04 01:57] terrymacdonald commented on #74
Hi,

Steam shouldn't be run from a  DisplayMagician start program.  It will
break DisplayMagician. If that worked in the past it was not intentional.
If you need Steam to be run on computer startup then I'd recommend doing
that through windows rather than DisplayMagician. DisplayMagician is
designed to run a game and start up any game related executables you want
and shut them down afterwards.

Ca

[2022-01-04 08:19] terrymacdonald commented on #74
Reopening until further investigations continue.

[2022-01-04 08:19] terrymacdonald commented on #75
Reopening until further investigations continue.

[2022-01-04 09:55] terrymacdonald commented on #75
@sk666 Great news. I did indeed find a bug in the StopProcess function that was preventing the stop from working in some situations. If the program being stopped didnt have a window associated with it, it probably wouldn't be stopped. This has now been fixed in the codebase.

I have also managed to implement some extra cool multithreading/single instance/named pipes coolness that should speed up D

[2022-01-04 10:00] terrymacdonald commented on #67
Hi @erbkaiser

Yet another favour to ask. Can you please test this new test build for me? I found a bug in the StopProcess function that was preventing the stop from working in some situations. If the program being stopped didnt have a window associated with it, it probably wouldn't be stopped. This has now been fixed in the codebase.

I have also managed to implement some extra cool multithreadin

[2022-01-04 10:27] terrymacdonald commented on #74
This is a strange one @sk666. I will probably need to get you to perform some more testing with NVIDIAInfo (a standalone program I wrote which tests only the NVIDIA part of DisplayMagician) to see if there is something wrong, based on the description you gave.

Just to make sure I'm understanding you correctly:
- You start on a display profile A. Your primary display is display #1.
- You swap to d

[2022-01-04 11:03] erbkaiser commented on #67
Hi Terry,

this build broke display profile switching from the program and system tray for me, it does nothing if I select a different profile than I am currently using. It will still switch display profiles from game shortcuts.

[2022-01-04 11:12] terrymacdonald commented on #67
Ah thanks. I think I've missed connecting those methods into the new
multitasking process. They're probably using the original launching method.

I'll take a closer look tomorrow. Thanks for testing!

Terry

On Wed, 5 Jan 2022, 00:04 erbkaiser, ***@***.***> wrote:

[2022-01-04 14:24] sk666 commented on #74
Hi Terry,

sorry for the late reply, we have a couple time zone between us haha. Maybe this will confuse you a little more but I discovered something new after I deactivated Steam in my profile of DM. If I don't start steam in DM like I did before, I have a very weird bug with my mouse when I start the game with the desktop shortcut of my DM profile: if a program is open in one of my screen (ex: f

[2022-01-04 14:44] sk666 commented on #75
Hi Terry,

I tested this build (2.1.5.37), and I had weird problems during install (I forgot to say that I see some of them earlier when I installed the 2.1.5.5 but some of these error are new today (see attached screenshot). I was not able to take all of the screenshot because after the installation, I needed to reboot my computer with the physical restart button on my computer because everything

[2022-01-04 20:31] terrymacdonald commented on #74
Hi Terry,

_"sorry for the late reply, we have a couple time zone between us haha. Maybe this will confuse you a little more but I discovered something new after I deactivated Steam in my profile of DM. If I don't start steam in DM like I did before, I have a very weird bug with my mouse when I start the game with the desktop shortcut of my DM profile: if a program is open in one of my screen (ex:

[2022-01-04 20:37] terrymacdonald commented on #75
@sk666 It looks like the installation only half finished, and is causing issues when installing over the top again.

I suggest going into your 'Add & Remove Programs' part of windows settings, and uninstalling DisplayMagician from there. Reboot your computer, and then reinstall the test version 2.1.5.37 again for me.

IMPORTANT: Another user has told me that the system tray / desktop background me

[2022-01-05 00:40] sk666 commented on #74
Hi Terry,

just a little info for you, when I start nvidia surround by the nvidia control panel itself (not by DM), the taskbar disappear from screen #1 with the surround and it reappear when I disable it. So this little issue is related to nvidia and not to DM.

So before doing what you said in this issue, I began to uninstall DM, reboot, and did a clean install with the 2.1.5.37. Interesting fac

[2022-01-05 00:41] sk666 commented on #75
Hi Terry,

I unistalled it, please see my other comment on issue #74.

Thank you

[2022-01-05 00:58] terrymacdonald commented on #74
Hi @sk666,

Interesting. I hope we find some more info in the DM log files you've sent.

Can you please try with a game from a different game studio? So not an ETS2
or ATS game. Those games both use substantially similar code from the same
game studio, so I'd like to know how DM works with completely different
game from a different game studio. Can you please make another new shortcut
and do the s

[2022-01-05 01:10] sk666 commented on #74
Hi Terry,

yeah sure. I did 2 test with 2 different game: Saint row 2 and Britannic: Patroness of the Mediterranean. both game needed a little update by steam so if you see that DM can not find the game, it is normal, it was because of these update. I did 2 test because saint row 2 seem to be to old for my computer ( it is the first time that I tried this game ever). With the britannic game, surro

[2022-01-05 01:11] sk666 commented on #74
[Sait Row 2 DisplayMagician-Support-20220104-2003.zip](https://github.com/terrymacdonald/DisplayMagician/files/7811367/Sait.Row.2.DisplayMagician-Support-20220104-2003.zip)
[Britannic DisplayMagician-Support-20220104-2006.zip](https://github.com/terrymacdonald/DisplayMagician/files/7811368/Britannic.DisplayMagician-Support-20220104-2006.zip)

[2022-01-05 08:05] terrymacdonald commented on #75
@sk666 Can you please test loading notepad.exe in one of your new game shortcuts as a start program, and then please set it to close when finished. That will test that the closing is actually happening now, and then we'll be able to close this issue and focus on the other one.

Thanks
Terry

[2022-01-05 09:27] terrymacdonald commented on #67
@erbkaiser OK. I fixed those bugs as well as I can tell. I missed a couple of commands out, and had a logic error when checking for a background task being run, and the tasks were in non-blocking mode when I need them in blocking mode to stay compatible with the UI (they'll be non-blocking when we move to .net6 and MAUI later in the year.

I also found another bug with the stop program that's run

[2022-01-05 10:17] erbkaiser commented on #67
On my Win11 system, the installer tried to close explorer.exe and failed so I kept re-trying, on the third attempt it succeeded. After the install was complete it didn't start explorer.exe so I was without a task bar and desktop. I had to relaunch explorer.exe through task manager.
I forgot to mention it with the previous build, but there it also gave me a warning twice, but there at the end of th

[2022-01-05 16:24] terrymacdonald commented on #75
Hmmmm, did you try it with a shortcut that was not ATS or ETS?

Thanks
Terry

On Thu, 6 Jan 2022, 02:03 sk666, ***@***.***> wrote:

[2022-01-05 16:34] sk666 commented on #75
yes I tested with the Britannic game.

thank you

[2022-01-05 16:41] terrymacdonald commented on #75
Cool. Ok, I'll check out all those results later this evening and try and
figure out where there could be an issue. I think it might take me a while
to understand the results of all the testing. I'll come back to you with
some Moore information as soon as I can.

Thanks
Terry

On Thu, 6 Jan 2022, 05:34 sk666, ***@***.***> wrote:

[2022-01-06 08:51] terrymacdonald commented on #67
OK @erbkaiser, I've made a few changes to the way that DisplayMagician works in the hope that it fixes most of the issues you have found. Please test this new version:
[DisplayMagicianSetup-V2.1.5.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/7820559/DisplayMagicianSetup-V2.1.5.50.zip)

I've rolled back the DisplayMagician Installer changes that I experimented with. I have tried

[2022-01-06 09:27] erbkaiser commented on #67
I'm on the same nVidia driver version. Right now there is no newer one available for my hardware. I haven't encountered any other crashes, but then again I haven't been gaming that much other than the truck sim games which I launch through DM.

The install went well this time, properly restoring explorer.exe but it did show the request to reboot, which I denied this time. The desktop background me

[2022-01-06 19:52] terrymacdonald commented on #67
Nice! OK - please keep an eye on it and tell me if there is anything that causes an error with that version.

I have a question about the reboot prompt at the end. Do you think it is too much? Will it confuse people?

Thanks
Terry

[2022-01-06 19:55] terrymacdonald commented on #75
@sk666 Can you please try this build next? The install should work better this time as I spent a fair bit of time trying to iron out some of the issues. It will ask to reboot at the end of the install process now (I think that's best to make sure it works for ppl).

[DisplayMagicianSetup-V2.1.5.50.zip](https://github.com/terrymacdonald/DisplayMagician/files/7820559/DisplayMagicianSetup-V2.1.5.50.z

[2022-01-06 19:56] erbkaiser commented on #67
I think the reboot prompt is a good addition. It's not out of place, more programs do this, and it would help if something goes wrong during the install.

[2022-01-06 20:29] terrymacdonald commented on #74
Thanks @sk666.

Yeah both of those showed exactly what you said. The first game load was updating so DisplayMagician timed out (I'm sure I could find a fix for steam to detect updates somehow...something for later) but the subsequent game load worked fine. The display profiles applied properly, and there were no errors detected. To be honest I'm stumped now.

I had a quick look in the NVIDIA forum

[2022-01-06 21:01] sk666 commented on #74
Hi Terry,

I will try with build 2.1.5.50. When you say "recreate the nvidia surround profile, you mean in the nvidia control pannel right? I alreday recreate it in DM but not in nvidia control pannel. Another thing I can test it's uninstall my nvidia driver, and do a clean install of the latest nvidia driver, just in case that I have some corruption in my current driver.

[2022-01-06 21:17] sk666 commented on #74
oh god I have big problem with the build .50. I tried to launch Britannic game to exclude all gfame from SCS software, DM activate the surround but never launched Steam neither the game itself. I'm stuck with the surround profile, I i try to select the display profil from de display profile page in DM, DM do nothing when I click on the apply button after I selected the 1920x1080 display profile. N

[2022-01-06 21:19] sk666 commented on #74
I will give you the log just in case you need it.
[DisplayMagician-Support-20220106-1619.zip](https://github.com/terrymacdonald/DisplayMagician/files/7824820/DisplayMagician-Support-20220106-1619.zip)

[2022-01-06 21:23] terrymacdonald commented on #74
I meant for you to:

   - Delete the 300x2000 surround profile you have (can't remember the name
   of it) in DisplayMagician
   - Turn off surround in NVIDIA Control Panel so it becomes individual
   screens again
   - Go back into NVIDIA Control Panel and set up the displays the way you
   want them
   - ALT-TAB back to DisplayMagician, then save the current display layout
   as a new Display Pr

[2022-01-06 21:31] terrymacdonald commented on #74
This is all beginning to sound like you have an underlying issue with
either NVIDIA Display Driver, or even with Windows itself. There are so
many strange things happening to your computer that neither myself or my
test users are experiencing (taskbar movement is the only one I think?)
that I really think it's time to try and see if an NVIDIA driver
uninstall/reinstall or a Windows reinstall fix t

[2022-01-06 21:34] terrymacdonald commented on #74
Unfortunately this log just shows DisplayMagician starting up. The
DisplayMagician.log file is wiped and recreated each time DisplayMagician
runs. This means if DisplayMagician crashes, then we lose the log.

I will add an action item to see if there is a way I can keep the last 3
logs as that will help troubleshooting in the future.

Thanks

*Terry MacDonald *| Principal Security Consultant | Chi

[2022-01-06 22:49] sk666 commented on #74
Ok so I did a uninstall of all nvidia related driver/software in safe mode, reboot, did a clean install to the latest nvidia driver. It seem a little bit more stable, at least I can disable my surround in nvidia control panel after activated it in DM build .50.  Previously, I should have restored my computer to a previous state with a windows system restore point to be able to do this, so, it's a

[2022-01-06 22:56] sk666 commented on #74
just a little update, build 50 seem to work with my 2 profile display in the display profile list in DM after my clean install of nvidia driver so, things are going in the right direction now :)

[2022-01-07 03:20] terrymacdonald commented on #74
Ah that's good to hear! Progress at least.

Did you delete the old '3840x1080 Surround' display profile
from DisplayMagician and then recreate it through NVIDIA Control Panel? I'm
hoping that works.

I'm doubtful that there is an underlying problem with the NVIDIA
DisplayMagician library (NVIDIALibrary) when running a Surround configured
profile because:

   - I have multiple users running 2.1.5.5

[2022-01-07 03:51] terrymacdonald commented on #74
Oh I forgot to mention. One thing to do is to make sure that all your
Display Profiles have been recreated using 2.1.5.50. So if you recreate all
of them, then we know there isn't any residual settings left over from
previously. So, to be 100% sure, can you please perform the following
actions *in the specific order I've listed below*:

   - Load DisplayMagician
   - Delete all Display Profiles

[2022-01-07 19:23] sk666 commented on #74
Hi Terry,

just before I uninstalled my nvidia driver yesterday, I completely uninstalled DM including the folder in the appdata/local to test an old version like I said yesterday. After that, I completely uninstalled again DM including the appdata/local folder, unistalled nvidia driver and reinstalled them, and then, install DM .50. When I started it, Dm was completly empty,m no shortcut (the but

[2022-01-07 19:25] sk666 commented on #75
Hi,

like I said in issue #75, steam dosen't launch by itself with build .50 when I try to launch ATS with shortcut window in DM, but it seem to work with previous build if I remember correctly.

Thank you

[2022-01-07 20:07] terrymacdonald commented on #75
Hi @sk666

Great to hear that issue #74 is as fixed as it can get. Sorry to hear the
taskbar still moves in surround mode.

What do you mean about Steam doesn't launch itself with ATS? If you have
ATS installed in the Steam launcher, then you should simply need to select
ATS from the list of games down in the shortcut editor, and it will run
Steam as part of the launch process.

DisplayMagician do

[2022-01-07 20:16] terrymacdonald commented on #74
Hi @sk666,

Yes, I agree it does seem like there is a glitch in the NVIDIA driver. We'll have to keep an eye on it and hope it fixes itself over the next few driver releases.

I'll close down issue #74 for now, but as I mentioned before, feel free to reopen it if you find the same problem happening again. If you get a different problem please log a new separate issue so we can track that separatel

[2022-01-07 20:16] #74 closed

[2022-01-07 20:44] sk666 commented on #75
oh ok so If I need to start a steam game, I need to launch steam before I run the DM shortcut? May be I didn't udernstand it before, I thought that steam will be automatically start if I run a shortcut who have a steam game. I don,t talk about steam in the add program tab, but in a previous build (thinh .37), if I start ATS from the shortcut it start steam a couple second before start the game bea

[2022-01-07 20:47] sk666 commented on #75
If I create a shortcut of a steam game on my desktop (from Steam itself), this shortcut launch steam even if steam is not previously started so I tought that DM did the same thing, may be I am wrong or very lucky to have this feature in the past with DM.

[2022-01-08 02:05] terrymacdonald commented on #75
@sk666 you know I've never actually tested Steam without it already
running! I'll test it myself today, but I expect it should work fine (as it
seems to do for you).

DM starts Steam games through the URL handler (steam://rungameid/111111/)
which is exactly how Steam starts games from it's own desktop shortcuts.
That does actually start Steam (or reuses the same Steam if it was started
already) an

[2022-01-08 02:25] terrymacdonald commented on #75
I'm sorry I don't understand what you mean by this. I have a few questions listed below to understand it better:

- Are you saying that that when you try to launch the ATS from the DM shortcut library window it won't run at all? Meaning that when you doubleclick on the ATS shortcut nothing happens?
- Does the shortcut have an 'warning' symbol over it?
- Does the 'Run' button show up when you selec

[2022-01-08 02:26] terrymacdonald commented on #73
Closing this as it is now in the develop branch ready to be part of release 2.2.0.

[2022-01-08 02:26] #73 closed

[2022-01-08 14:36] sk666 commented on #75
•	Are you saying that that when you try to launch the ATS from the DM shortcut library window it won't run at all? Meaning that when you doubleclick on the ATS shortcut nothing happens? No, When I do that, DM activate surround, DM starts programs in the tab « chosse what happen before » but he dosen’t launch the steam game, even if steam is already open, and because nothing happen here, no game st

[2022-01-08 16:09] FormelLMS opened #76 "Switching Nvidia Surround OFF doesn't work"
**Describe the bug**
I have made the update to 2.1.5.5 and Switching from Surround to normal mode is not working here

**To Reproduce**
Steps to reproduce the behaviour:
Saved two new Display Profiles. One with Surround and One without. Switching from normal to surround is flawlessly working, but back to normal not.

**Expected behaviour**
:)

**Screenshots**
If applicable, add screenshots to help

[2022-01-08 22:27] terrymacdonald commented on #76
@FormelLMS What version of DisplayMagician were you running before you upgraded? That will let me see what differences there are between the versions.

Are you able to please install this test version I just created and see if it has the same problem? If this does still have the same problems then we'll need to troubleshoot further with NVIDIAInfo.
[DisplayMagicianSetup-v2.2.0.4.zip](https://githu

[2022-01-08 22:37] terrymacdonald commented on #76
Unfortunately I couldn't see any problems in the DisplayMagician.log file because DisplayMagician starts a brand new log file each time it starts. In versions 2.1.5.5 and earlier you would need to start DisplayMagician change to your "Surround 1440p" profile then back again to your "Normal 1440p" profile, and then go straight to the 'Create Support ZIP file' button and save the zip file in order t

[2022-01-08 22:50] terrymacdonald commented on #75
@sk666 Hmmmm. So the problem at the moment is that Steam doesn't launch the game? I wonder if there is a problem with the steam URL handler on your PC?

To test that, I need you to create a Desktop Shortcut for ATS through Steam. Can you please:
- Open Steam
- Go to the Library page
- Right click on **ATS**, then select **Manage** > **Add Desktop Shortcut** (My example is for another game)
![image

[2022-01-09 07:31] terrymacdonald commented on #75
@sk666 I've found a bug! The bug was in the way that the RunShortcut thread was handing data to the UI updating thread. It would get 'locked', and would just stop the shortcut from running properly. The code that was broken was specifically for the updating the systray icon, and that happens for the first time just before the the main game.

I've made some changes in the codebase to fix that, but

[2022-01-09 12:19] sk666 commented on #75
Hi Terry,

I tested my steam librariees 2 days ago with the same test that you propose and yes, my steam libraries works fine (sorry I forgot to tell you that I did this test earlier).

I tested DM built .50 on the laptop of my gilfriend (even if she dosen't have an external display) and it fails to launch any local game so I think you are on the right way with the bug that you have discovered, go

[2022-01-09 12:51] sk666 commented on #76
Hi Terry,

if this can help, I have this issue too with 2.2.0.4. I need to quit surround by nvidia control panel. As you can see in this picture, DM start to roll back to 1920x1080 profile but it keep surround instead.

![Capture](https://user-images.githubusercontent.com/29050341/148682884-012f0295-ee87-4b2d-9b99-4cf51378a0b3.PNG)

[2022-01-09 13:17] FormelLMS commented on #76
Hey Terry, thanks for helping out. I've tried some things now. Installed the new version. This does the same. Then uninstalled driver via DDU und renewed that all, but that didn't do the trick, too.
Did the log file and dropped it here. It's exactly as sk666 said (Thank You :) )
[DisplayMagician-Support-20220109-1410.zip](https://github.com/terrymacdonald/DisplayMagician/files/7835091/DisplayMagic

[2022-01-09 13:22] sk666 commented on #76
@FormelLMS no I have W11, I use W10. I used DDu myself 2 days ago to fix another issue with DM and this bug happening too so uninstall and reinstall nvidia driver dosen't work for this issue like you said :(

[2022-01-09 13:27] FormelLMS commented on #76
Gods news that it seems to be not an Win 11 issue. In my inner eyes I saw me weeks of fiddling with a new windows installation

[2022-01-09 16:52] terrymacdonald commented on #75
Hi @sk666

No, don't bother with 2.2.0.4. I'll hopefully have a new build in a few
days that fixes the issue with starting applications and games.

I'm currently taking some time to map out the flow of logic and calling
logic for the new multithreaded model we've moved to, and I'll be going
through each statement to figure out where any issues may be.

This could take a little while to sort out ☹️

[2022-01-09 17:04] terrymacdonald commented on #76
Hmmmm. I wonder if this is related to the switch to a multithreaded process
too? TBH I've lost track of which version has what, so I'll have to look
into it deeper over the next few days.

I'm currently taking some time to map out the flow of logic and calling
logic for the new multithreaded model we've moved to, and I'll be going
through each statement to figure out where any issues may be. As me

[2022-01-09 18:00] FormelLMS commented on #76
Hey Terry, thanks for looking up here :)
I did my very best and followed your instructions. I've understood everything you wrote so here are the results:

Saved the regular cfg und it was equal to the actual one. Them switched to my surround mode an made the surround cfg. This was then equal to the profile loaded. But switching back to the regular one doesn't work here, too. I've renamed the logfi

[2022-01-09 21:46] terrymacdonald commented on #76
I *think* I might know what's happening but I'll need to figure it out tonight. It looks from the logs in my testing that the NVIDIALibrary is running in parallel (at the same time) as the WinLibrary functions. This is not supposed to happen - they must run after each other in sequence - so I definitely think it's something that changing to the multithreaded model has caused to happen.

Because ea

[2022-01-10 04:35] Mobeeuz opened #77 "Desktop Context Menu"
I understand why it's there, but it should be optional. I don't see a way to turn it off.

![Context](https://user-images.githubusercontent.com/33134962/148718770-3bdcefa1-94a9-4aec-ac94-36c413529ce3.jpg)

[2022-01-10 09:16] terrymacdonald commented on #77
@Mobeeuz why should it be optional? Can you give me some reasons please?  Based on comments I've seen it's quite popular.

It would require me rewriting the installer, which I am contemplating in the future as I'm hitting some limitations with the method being used now. But it's something that would be low on my priority list, mainly because it's only visible when you right click on the desktop. T

[2022-01-10 09:28] terrymacdonald commented on #75
Found a couple of issues with how I was using threads that I sorted. I'm hopeful that fixed the underlying problems. Turns out threads are challenging to implement...

I also think I now have a solution for the parallel use of NVIDIALibrary and WinLibrary. It looks like main DisplayMagician UI thread was sometimes trying to update the current display profile while another thread was applying a new

[2022-01-10 19:00] Mobeeuz commented on #77
Because personally I don't need it, won't use it, it makes the menu way too fat, and cramming things into peoples system menus without permission is rude ;) Even essential utilities like 7zip make system menu changes optional because despite their obvious benefits, not everyone wants or needs that.

Rather than rewriting the installer, just add a checkbox in the program that would remove it - or r

[2022-01-10 21:54] terrymacdonald commented on #77
@Mobeeuz We'll have to disagree on the rudeness of helping provide multiple options for accessing the software, but I do understand it is a concern for some.

It's more work to do it through the software itself as it installation can only be done as an elevated user, and currently DisplayMagician does it's best to avoid asking for admin rights. There is no logic within DisplayMagician to ask for e

[2022-01-13 22:05] terrymacdonald commented on #75
OK @sk666 - I *think* I finally cracked this last night. I had to transition from the original toast notification library I was using to the newer Microsoft one. I think this will work better in the long run, as it will be updated by Microsoft to support their windows Toast improvements as Windows dev continues.

In any case, can you please install this test v2.2.0.41 please? And see if all your e

[2022-01-13 22:05] terrymacdonald commented on #76
OK @FormelLMS - I *think* I finally cracked this last night. I had to transition from the original toast notification library I was using to the newer Microsoft one. I think this will work better in the long run, as it will be updated by Microsoft to support their windows Toast improvements as Windows dev continues.

In any case, can you please install this test v2.2.0.41 please? And see if all yo

[2022-01-13 22:07] terrymacdonald commented on #67
OK @erbkaiser - I've got a new version to test which I hope has all of the errors removed from it. Can you please do the normal amazing testing that you do and report back if you find any errors please?

Please report back with any errors you find (screenshots too please if possible) and of course upload the support ZIP file if you have any errors too.

[DisplayMagicianSetup-v2.2.0.41.zip](https:/

[2022-01-14 14:20] sk666 commented on #75
Hi Terry,

thank you for your work. Unfortunately, DM is not ablke to close program vene if they are minimized or not, and DM is not able to revert back to my previous display profile. Good news, with the build 2.2.0.41, steam launch again when I run my ATS shortcut and it launch the game too, so at least, I can play it again with the shortcut, but stuck in surround mode when I quit the game. Ther

[2022-01-14 22:08] terrymacdonald commented on #76
@FormelLMS I've finally had a chance to look at your NVIDIAInfo logs. There is indeed a problem that NVIDIALibrary complains about:

[code]

This is the NVIDIA Driver complaining when we try to turn off the NVIDIA Surround (Mosaic). It's saying it can't turn it off! I have NO idea why, as the config that we are currently using has mosaic enabled, and the one we want to use does not have mosaic ena

[2022-01-14 22:09] terrymacdonald commented on #76
Ah I just looked up the top of the list for the video card. Its a Gigabyte 3080 Ti. No need to include that info in the last response any more :)

[2022-01-14 22:14] terrymacdonald commented on #75
@sk666 What make and model of NVIDIA video card do you have again? Is it a 3080Ti?

What version of the NVIDIA driver are you running? Have you tried v511.23 at all?  If not, can you please try to download and load the stock NVIDIA driver from NVIDIA (please don't use any custom drivers).

@FormelLMS has found a problem where the NVIDIA driver won't let us turn off Surround mode. I wonder if that'

[2022-01-15 08:32] RBZL opened #78 "Taskbar order isn't preserved when turning off Nvidia surround"
I have two profiles set up on a system with a Nvidia graphics card:

- A normal triple monitor profile without Nvidia surround ("Triple Monitor")
- A Nvidia surround profile ("Surround")

![Untitled](https://user-images.githubusercontent.com/6739054/149615245-ecf5be5b-f896-4250-8146-232abe937556.png)

When switching from the Surround profile to the Triple Monitor profile, the primary taskbar with

[2022-01-15 09:11] terrymacdonald commented on #76
@FormelLMS Can you please try those tests I listed above with the new test version of NVIDIAInfo (v1.3.9) which I've linked in this comment? It has an extra step where I try to doublecheck that the mosaic is enabled before I try turning it off. I'm doubtful this will fix anything, but I thought I'd add in the check just in case.

[NVIDIAInfo-v1.3.9.zip](https://github.com/terrymacdonald/DisplayMag

[2022-01-15 09:17] terrymacdonald commented on #78
@RBZL Sorry, but that's something I can't control. Windows decides where it wants to put the taskbar, and there's not much I can do about. Sometimes it's been deciding lately to put it up the top of the left-most triple screen on my simrig, and it won't allow me to change the position until I reboot. Windows 10 seems to be much better at being reliable with the taskbar placement, but Windows 11 is

[2022-01-15 09:17] terrymacdonald commented on #78
Can't fix this as its a windows setting that is not accessible reliably via Windows API at present.

[2022-01-15 12:04] FormelLMS commented on #76
Hey Terry, hope, your doing well. Heard of that volcano and thought of you there.

I've updated now to the driver you say and the new display magician. This alone doesn't work unfortunately. I always install the nvidia drivers without any exceptions (express install)

So here are the next stepstaken with 1.3.9 of NVIDIAInfo. Hopefully it will help you to try to sort it out :)
Hopefully didn't forg

[2022-01-15 12:20] erbkaiser commented on #67
Took me a bit to do the tests.

Installation worked fine, it properly closed the existing DisplayMagician and prompted me to reboot at the end.

At first glance, all features work. Using and creating display profiles work, as does switching between them.
Game shortcuts also work for the most part.

Starting this build however, they stopped executing two 'choose what happens before' programs for my

[2022-01-15 15:02] sk666 commented on #75
Hi Terry,

yes I tried this morning with 511.23 and the problem still occurs, it's the same than @formeILMS. I have a GTX 970.

thank you

[2022-01-15 15:03] sk666 commented on #75
![stuck in surround mode](https://user-images.githubusercontent.com/29050341/149626509-61502e63-ef02-4828-ba15-2b7962501bd8.PNG)

[2022-01-15 20:43] RBZL commented on #78
Interesting - I recently upgraded to 2.1.5.5 from the 1.x series, and the issue wasn't present before. I'll look into it and advise if I can figure out if that's still the case and if I find anything else for adjusting the taskbars programmatically.

[2022-01-15 21:21] terrymacdonald commented on #76
@FormelLMS Thanks for that. It unfortunately shows that the extra layer of protection I added doesn't help. That tells me that The NVIDIA driver knows that Mosaic is enabled, which makes it so more confusing that it won't let us turn Mosaic off :(.

[code]

Ok - so time for my next theory. My hypothesis is that *maybe* the Mosaic function has now been updated to doublecheck that the mode it is cha

[2022-01-15 21:25] sk666 commented on #75
I forgot to say, I take my nvidia driver from geforce experience, and I choosed fast install or something like that, not the custom. Is it okay?

[2022-01-16 01:42] terrymacdonald commented on #75
Yep, that's perfectly fine. That's how I do it too.

Terry

On Sun, 16 Jan 2022, 10:25 sk666, ***@***.***> wrote:

[2022-01-16 01:50] terrymacdonald commented on #78
Hmmmm. That's an interesting data point. The 1.x series uses the
NvAPIWrapper library to manipulate the NVIDIA NvAPI. The 2.x series uses
the NVIDIALibrary written by me to do the manipulation. I wrote my own
library to be able to handle things like HDR, bevel spacing and refresh
rates.

I might take a look at how NvAPIWrapper handles seeing the display layout
to compare and see if there are any d

[2022-01-16 12:10] FormelLMS commented on #76
Hey Terry,

thanks again for helping here. Unfortunately the problem still exists at the same stop. Loading the regular.cfg doesn't apply here.
I've put the zip file together. Hoing you can find something :)

[surround off NVIDIAInfo tests.zip](https://github.com/terrymacdonald/DisplayMagician/files/7876898/surround.off.NVIDIAInfo.tests.zip)

[2022-01-16 12:32] FormelLMS opened #79 "Copy the shortcut commandline to win clipboard"
As I use the Elgato streamdeck it's a bit hard to configure all shortcuts.
I have to save every shortcut to desktop, go to properties and let me show the RunShortcut name. e.g. RunShortcut "2af835b3-adac-4b3e-aad6-de55da35d518"

So I can copy'n'paste this line to my streamdeck for every shortcut. Is there an easy way to copy the shortcuts name to clipboard at rightclicking the shortcut?

For now t

[2022-01-16 12:36] FormelLMS opened #80 "Add the possibility to backup the settings"
I don't know if it's helping many people but for me I love to store, backup and secure my whole settings so if I have a bigger problem I can restore everything.
Is it possible to add a backup thing for display profiles and game shortcuts? At best if it could be scheduled backup in to a chosen place on the system?

[2022-01-16 19:17] terrymacdonald commented on #80
Hi @FormelLMS,

I like the idea, but I think this is something a bit far from the core
function of DisplayMagician. I will add some instructions on how to back up
the settings (copy the C:\users\<username>\AppData\Local\DisplayMagician
directory tree) and maybe even add something about using windows backup to
do so.

But I think adding some backup features to DisplayMagician will be a bit
too much

[2022-01-16 19:24] terrymacdonald commented on #79
@FormeLMS this is a great idea, and fairly simple to implement. I'll add a
'Copy to clipboard' right click menu to each game shortcut and display
profile, and that will copy the full command line that will run
DisplayMagician.

Thanks
Terry

On Mon, 17 Jan 2022, 01:32 FormelLMS, ***@***.***> wrote:

[2022-01-16 19:27] terrymacdonald commented on #76
Hi,

I hope so too! I know where the problem is, but I'm not sure how to work
around it without help from NVIDIA themselves. The difficulty is that the
error occurs on the only 'turn off surround' function they have. I can't
find another way to disable surround, which means we have to try and figure
out why it is happening.

Thanks
Terry

On Mon, 17 Jan 2022, 01:10 FormelLMS, ***@***.***> wrote:

[2022-01-16 19:42] FormelLMS commented on #80
Hey Terry, providing the path is perfectly fine for me. Have my own script for backup and will at that. Is there everything stored? So how the shortcuts are?

[2022-01-16 19:43] FormelLMS commented on #79
Fantastic. Copy command line to clipboard is perfect 👍

[2022-01-16 19:45] FormelLMS commented on #76
Do you think it could be a problem here on my setup in any way? I don’t want to take your time if it’s not on programs side.
Bit if I can help in any way, I will do 😊

[2022-01-16 19:48] terrymacdonald commented on #80
yep, they're in the Shortcuts folder, with the data in the Shortcuts_2.0.json file, and the images saved as icon files. It was done this way for easy backup and troubleshooting.

[2022-01-16 19:53] terrymacdonald commented on #76
Maybe? There appears to be subset of people with this issue so far, so trying to figure out what the common feature is.

I just had a thought. If I remember correctly your surround set up uses bezel adjustment. Are you able to create a non-bezel adjusted surround  layout and save it as a new NVIDIAInfo cfg? Then try swapping to regular.cfg and see if that works?

Thanks
Terry

[2022-01-16 20:16] terrymacdonald commented on #75
@sk666 I have some NVIDIAInfo instructions for you to run:

Please download the attached NVIDIAInfo to your computer:
[NVIDIAInfo-v1.3.9.zip](https://github.com/terrymacdonald/DisplayMagician/files/7877853/NVIDIAInfo-v1.3.9.zip)

Open a PowerShell window, and change to the same folder that you extracted NVIDIAInfo into.

**IMPORTANT - These instructions are likely to fail, so I need you to save/re

[2022-01-16 20:46] FormelLMS commented on #80
Wow. This is real brilliant work.
I’m satisfied about that.

[2022-01-17 01:16] sk666 commented on #75
Hi terry,

thank you again for your support. I,m not sure that I understand what and where be theses instructions, I'm a noob in powershell. I created a folder temp2 in c: and extracted nvidiainfo in this folder. Then, in powershell, I typed this command: cd C:\temp2\NVIDIAInfo-v1.3.9

When you say:

    Save the first surround display as NVIDIAInfo save surround.cfg (wich tools should I use do to

[2022-01-17 01:56] terrymacdonald commented on #75
Hi @sk666,

Yep. You just need to paste the bits in grey e.g. *Rename-Item -Path
"NVIDIAInfo.log" -NewName "NVIDIAInfo-surround-save.log"* into the
powershell window. Rename-Item is a powershell command.

What do I mean by equal? NVIDIAInfo has a command to compare the current
config to the one in a cfg file. I'd like you to copy the results of the
equality test e.g. copy the text shown when you r

[2022-01-17 02:19] sk666 commented on #75
Ok I had a powershell error when I run this commamd: NVIDIAInfo save surround.cfg I dont have tge exact error with me right now but if I'm remember correctly, it say that he dosen't recognize this command but it's not fully unrecognized...do you ever see this error? I dont understand it because I am in the nvidia folder when I typed this. If you need a screenahot, I can provide one or two tomorrow

[2022-01-17 02:33] terrymacdonald commented on #75
Did you unzip the  NVIDIAInfo zip file you downloaded? NVIDIAInfo is shared
as a zip file, and you need to extract the zip file in order to use it. You
should open a windows explorer window and visit C:\temp2\NVIDIAInfo-v1.3.9
in it. You should see  NVIDIAInfo.exe and other files in there.

You then do exactly as you described before.... open a Powershell window,
and then enter  cd  C:\temp2\NVIDI

[2022-01-17 05:16] FormelLMS commented on #75
I have to put a .\ before the commands in powershell. Hope this helps perhaps.

@terrymacdonald your mobilphone number is Applied in this Thread.

[2022-01-17 06:47] terrymacdonald commented on #75
Thanks @FormelLMS!. Mobile removed :)

[2022-01-17 06:57] terrymacdonald commented on #80
@FormelLMS, hope this is ok? https://github.com/terrymacdonald/DisplayMagician/wiki/Backing-up-DisplayMagician-settings

I'm going to close this issue now,

[2022-01-17 06:57] #80 closed

[2022-01-17 07:22] terrymacdonald commented on #79
@FormelLMS already managed to add **"Send to Clipboard"** to the codebase:

![image](https://user-images.githubusercontent.com/5721772/149724552-f7719616-2521-4933-97f9-76ee99350a39.png)

Will be part of the next release. Generates the following text in Clipboard:

`H:\vscode-projects\DisplayMagician\DisplayMagician\bin\Debug\DisplayMagician.exe RunShortcut "7cc02163-7a8e-4f82-9ba0-9cd5551f08f2"`

[2022-01-17 07:22] #79 closed

[2022-01-17 07:44] erbkaiser commented on #67
I've been able to track the beeping down to wallpaper changing. As this is handled on my machine by the DisplayFusion app I think it's related to that, and not DisplayMagician.

[2022-01-17 08:05] terrymacdonald commented on #67
Ok, that's interesting. DisplayMagician word to register to make the
desktop background changes. Do all of your shortcuts have 'Do nothing'
selected?

I'm hoping to do some more trackIR start program checks later this week if
I can, so I can figure out why is not starting for you. I bet it's
something silly on my end.

I'll keep you up to date.

Also, do you mind sending me your email address to
*

[2022-01-17 08:29] erbkaiser commented on #67
I don't know what you mean with 'do nothing' here.

Seems Github doesn't like emails. You can reach me at jordi àt erbkaiser dót nl
![image](https://user-images.githubusercontent.com/6014923/149733979-1620d93d-46da-4111-be54-9721011ab66f.png)

Cheers

[2022-01-17 09:44] terrymacdonald commented on #67
Oh sorry. I was meaning that if you select each profile, then click on
Profile Settings button, then check wallpaper is set to 'Do nothing'.

Sorry for not being clear. Sometimes I'm already thinking about the next
problem while typing the answer to you!

Also, I just fixed the TrackIR start program issue. Turns out that TrackIR
needs admin rights to run. I've managed to build some auto detection

[2022-01-17 09:55] erbkaiser commented on #67
Hi Terry,

I'm working from home most of the time so I usually have enough time to test new builds. I'll gladly do this.

Display profiles: Got it, and yes all display profiles have 'Do nothing selected'.

Great news on the TrackIR fix and that it helps with admin rights detection in general!

The Steam shortcut is just a convenience thing since I want to use the Steam controller API for some game

[2022-01-17 13:52] erbkaiser commented on #67
I have now been able to catch a video of the beeping hell issue. https://youtu.be/arnE0I4tHsQ
Video should be live in ~5 minutes.
What you see happening there is Windows freaking out after it has changed back to 'Surround' from 'Three Screens'. The beeps are coming from my speakers. As you can also see my mouse is incredibly delayed, I am trying to make smooth movements. Once the GoG Galaxy screen

[2022-01-17 22:02] FormelLMS commented on #76
Terry - unfortunately it's the same.

[2022-01-18 05:41] terrymacdonald commented on #67
Hmmmmm. Those are some very weird logs you gave me @erbkaiser!

It looks to me like the NVIDIA driver is having a massive slowdown for some reason (or windows). There are some really weird errors in the log files too, when DisplayMagician is trying to get the current windows display config from windows. I've got a selection of them below:

[code]

The ERROR_INVALID_PARAMETER in DisplayConfigGetDev

[2022-01-18 07:52] terrymacdonald commented on #67
Note: I updated the NVIDIALibrary and WnLibrary HDR logic as I was not sure they would always apply properly in Surround mode. They are now applying correctly on my test system. Will be interesting if that fixes the NVAPI_MODE_CHANGE_FAILED error (unlikely but possible)

This fix is in [DisplayMagicianSetup-v2.2.0.52.zip](https://github.com/terrymacdonald/DisplayMagician/files/7887117/DisplayMagic

[2022-01-18 09:24] erbkaiser commented on #67
I installed build 2.2.0.52 and recreated my profiles, then switched between the two a bit. Log attached.
[DisplayMagician-Support-20220118-0947.zip](https://github.com/terrymacdonald/DisplayMagician/files/7887747/DisplayMagician-Support-20220118-0947.zip)

I did some additional testing, including re-editing all my game shortcuts to use the new display profiles and launched one of my truck sim game

[2022-01-18 13:03] sk666 commented on #75
Hi terry,

I'm sorry but I dont get the equal thing to check. Dont see what I need to check in the log. Secondly, I have a powershell error when I try to rename NVIDIAInfo-regular-save.log, the nvidiainfo.log dosen't exist, but the first one with the surround profile existed before so I don't understand what I have missed.

![image](https://user-images.githubusercontent.com/29050341/149942035-8e2f

[2022-01-19 02:37] terrymacdonald commented on #75
@sk666 that Rename-Item command changes the name of the file from one name to another. The first command you ran worked as it renamed the NVIDIAInfo.log file to NVIDIAInfo-surround-save.log. This meant the NVIDIAInfo.log file wasn't there, so the 2nd command didn't work.

That's the reason my tests were in that exact particular order. Each test relied on the previous tests being run. The output of

[2022-01-19 02:39] terrymacdonald commented on #76
@FormelLMS Thanks to @erbkaiser I've been doing some other tests in the background, and I've got a hunch that the EnableMosaicTopo error we were getting may be a residual error left over from some of our earlier bugs. So I'd like you to perform the following tests for me:

- Please install DMv2.2.0.52 for me:
[DisplayMagicianSetup-v2.2.0.52.zip](https://github.com/terrymacdonald/DisplayMagician/fi

[2022-01-19 04:05] sk666 commented on #75
Hi terry,

I understand but why it dosent create the second nvidiainfo.log the second time? I did all the steps in the exact order.

I tried the build .52 with new profile but same thing again, I tried to switch from surround to normal profile but it dosent work. But I can switch from normal to surround without problem.

I think it will be useful if I can did your test with your nvidia tool but un

[2022-01-19 04:05] sk666 commented on #75
[DisplayMagician-Support-20220118-2305.zip](https://github.com/terrymacdonald/DisplayMagician/files/7893988/DisplayMagician-Support-20220118-2305.zip)

[2022-01-19 09:05] terrymacdonald commented on #78
I've had a look at some of the taskbar setting logic in HeliosDisplayManagement that Soroush was working on, to see if I can use some of his awesome ideas. As is typical, Soroush does have some nice code, but it doesn't appear to be plugged in to the main codebase there. So no idea if it works. Additionally, win 11 actually restricts the user from making changes to the taskbar layout, so it may no

[2022-01-19 09:13] terrymacdonald commented on #50
@S4b0tage I've been keeping an eye on movements with Integer Scaling. The latest NVIDIA driver v511.23 release notes unfortunately specifically say that:

![image](https://user-images.githubusercontent.com/5721772/150098853-864f1e94-a111-4597-95bb-386851206af9.png)

I read this as do not apply Image Scaling/Integer Scaling to the desktop. I think I might wait a while until the Integer Scaling thin

[2022-01-19 09:15] terrymacdonald commented on #31
I haven't forgotten about this, I'm just getting a lot of feature requests and bugs to fix that are higher priority. I absolutely want to add multilingual support, and plan to do so sometime this year. I believe that bugfixes for the new custom video libraries that I've made will start to settle down, and that will give me time to work on the multi-language support.

Thanks
Terry

[2022-01-19 09:26] terrymacdonald commented on #75
@sk666 Sorry I thought you were running the rename-item commands together! I understand your last comment now.

I've looked at the instructions I gave and I messed up with one of the commands, and that caused the missing log. I;ve updated the instructions below and hopefully I got them right this time 🙄. Sorry for the mixup my mistake caused.

As before, pllease complete the following instructions

[2022-01-19 09:37] terrymacdonald commented on #75
I just looked at your DisplayMagician 2.2.0.52 logs. No change as you identified:

[code]

Looks like we're going to have to wait for some help from NVIDIA :(. I've asked them the questions at least: https://forums.developer.nvidia.com/t/unable-to-disable-mosaic-mode-on-some-video-cards/200646

Apparently the person we need to speak to is on leave at the moment :).

Terry

[2022-01-19 09:44] terrymacdonald commented on #75
Also, just so you know, I've checked to see how the old library we used to use (NvAPIWrapper) did the disabling of Mosaic/Surround profiles, and they used NvAPI_Mosaic_EnableCurrentTopo(0) too, just like we do. So we'd have the problem even if we still used NvAPIWrapper library rather than my NVIDIALibrary.

Thanks
Terry

[2022-01-19 19:05] FormelLMS commented on #76
Hey Terry. At first many thanks for the copy to clipboard. This is working very well. My Backup has included the files already :)

But I have to say that the new version can't change the Surround to normal, too unfortunately. I really has the biggest hopes after your last notification.
[DisplayMagician-Support-20220119-2003.zip](https://github.com/terrymacdonald/DisplayMagician/files/7899942/Displ

[2022-01-19 19:37] terrymacdonald commented on #76
Hi @FormelLMS.

Yeah, I figured that would happen, based on @sk666 similar finding. Its
that same error with disabling Mosaic/Surround mode. Looks like we need to
wait for NVIDIA to get back to us.

I've logged a question on their forum, but the person I need to speak with
is apparently on holiday, so it could be a little while.

I also had a look at how Souosh Falahati (original dev of Helios Dis

[2022-01-20 09:17] terrymacdonald commented on #75
@sk666 can you please uninstall 2.2.0.52, and then try 2.1.5.37 again please? I want to know if you still get this NvAPI_Mosaic_EnableCurrentTopo(0) error changing between the regular and surround display profiles. If that's the case, then I know it's nothing to do with the multithreaded singleinstance code I've added since 2.1.5.37 (which is now part of 2.2.0.52).

Should be able to use the confi

[2022-01-20 09:19] terrymacdonald commented on #76
@FormelLMS can you please uninstall 2.2.0.52, and then try 2.1.5.37 again please? I want to know if you still get this NvAPI_Mosaic_EnableCurrentTopo(0) error changing between the regular and surround display profiles with the older 2.1.5 software. If that's the case, then I know it's nothing to do with the multithreaded singleinstance code I've added since 2.1.5.37 (which is now part of 2.2.0.52)

[2022-01-21 04:41] RBZL commented on #78
Sorry, I had notifications turned off for some reason. Cool, if you need any other information from me or help with testing I'm happy to help out.

[2022-01-22 14:34] sk666 commented on #75
Hi Terry,

no problem with the confusion. With 2.1.5.37, even if I erease all my saved display profiles and create new ones, DM is not able to switch to surround or to switch to default profile. The apply button does nothing.

is it helping you? Do you still need nvidia log and if yes, with wich DM version?

Thank you

[2022-01-22 18:01] FormelLMS commented on #76
Yes, can you send me the 2.1.5? I only find the 2.1.5.5
Sorry :(

[2022-01-22 20:00] terrymacdonald commented on #75
No logs needed. I think we have all the information we can get.

I have one more thing for you to try. Can you download and try the last
version of DisplayMagician that was previously swapping display layouts for
you?  I would like to see if an old version that was working ok before
still is working for you now.

The idea is to see if the NVIDIA driver has changed and stopped
DisplayMagician from

[2022-01-22 20:06] terrymacdonald commented on #76
@FormelLMS sorry I meant 2.1.5.5. But scratch that idea....

Instead, can you download and try the last version of DisplayMagician that you know was successfully swapping display layouts for you?  I would like to see if an old version that was working ok before still is working for you now.

The idea is to see if the NVIDIA driver has changed and stopped DisplayMagician from working for you. If th

[2022-01-22 20:06] terrymacdonald commented on #75
@sk666 Note: you don't need to delete your current Configs, just rename the c:\Users\<username>\AppData\Local\DisplayMagician folder to something like c:\Users\<username>\AppData\Local\DisplayMagicianBackup, and then install and run the version of DisplayMagician you want to test. You can then rename the folder back when you want the old Configs back again.

[2022-01-22 20:48] sk666 commented on #75
Hi Terry,

I'm sorry to say that, everythings working fine before with the 1.1.4 relase and it is still the case today. DM is able to switch from the default profile to surround profil and vice-versa, if I create a desktop shortcut for the DM shortcut it work well, and issue # 75 is not as bad with the 1.1.4 relase, because DM is able to close all my minimized apps (except for Steam because I did

[2022-01-22 22:38] versedi commented on #76
I think this is what happened to me, I had the whole PC crashing while swapping from surround to single screen.

Today I've made even more mess by unplugging a monitor in Surround, and replugging via other cable source. I'm stucked with Display Magician being uninstalled still doing something wonky with Windows Apps and resetting my two monitors that remained unplugged. I've tried DDU - it worked

[2022-01-22 22:41] sk666 commented on #76
@versedi did you tried to roll back a system restore point?

[2022-01-23 01:21] terrymacdonald commented on #75
Hmmmm ok. Can you try v2.0.1 (the first 2.x I released)?

This is really good to know, as it means it's fixable by me! This is a good
thing!

Thanks
Terry

On Sun, 23 Jan 2022, 09:48 sk666, ***@***.***> wrote:

[2022-01-23 04:24] versedi commented on #76
I didn't had one setup and from what I've tried it might have been something with broken installation of 1.x.6 that I couldn't even removed.

Windows reinstall obviously fixed the issue, though I highly recommend everyone to avoid unplugging a monitor on one cable source while in Surround and plugging it back with other.

It was just domino effect of bugs after that.

[2022-01-23 04:29] terrymacdonald commented on #76
Do you think it was the unplugging of the surround that caused your
problem?

On Sun, 23 Jan 2022, 17:24 Tadeusz Stępnikowski, ***@***.***>
wrote:

[2022-01-23 04:37] versedi opened #81 "Unplugging display and replugging causes domino effect of issues"
**Describe the bug**
Two plugged monitors will start to be turned on and off, either when you press CMD (Assetto Corsa Content Manager), or even when you dont do anything in certain apps (eg. CCleaner)

**To Reproduce**
Steps to reproduce the behaviour:
1. Enable Surround on 3 displays 1x3 [2 plugged in via DP, one via HDMI]
2. Unplug one of the monitors plugged [the one plugged in via HDMI port]

[2022-01-23 04:47] versedi commented on #76
@terrymacdonald #81

As for this issue I'm going to see in upcoming days if it still requires hard restart when switching from surround to single (sometimes, it's not consistent).

[2022-01-23 05:37] terrymacdonald commented on #76
If you could look to see if there is an error in the DisplayMagician.log
file that has "NvAPI_mosaic_enabletopo(0)" when you run the tests? If its
got the same issue then it should have the same error message.

Thanks
Terry

On Sun, 23 Jan 2022, 17:48 Tadeusz Stępnikowski, ***@***.***>
wrote:

[2022-01-23 05:41] terrymacdonald commented on #81
Hmmmm. I'll have to think about this one! DM shouldn't allow this to happen
as it should be detected as another display identifier, and that should
stop it from trying to apply that. I'm not sure why it didn't prevent this
from happening...

I'll have a little think about how I can stop this from occurring, and I'll
double-check the profile matching code again.

Thanks
Terry

On Sun, 23 Jan 2022,

[2022-01-23 09:34] terrymacdonald commented on #78
Well, I've had some successes! I can now store and reset the Win10 taskbar, and I am closer to doing the same thing on Windows 11 (It's a pain on Win 11!). It won't help with your particular problem though I don't think, as I can't figure out how to tell windows which screen is the main one to show the taskbar on. I'll try and do a bit more digging, but there doesn't look to be much prior work on

[2022-01-23 09:42] terrymacdonald commented on #81
@versedi That's really strange behaviour in the video. Is AC Conent Manager set up to do any graphics tweaks? Was there any other display changing software installed at the same time that could have conflicted with DisplayMagician?

DisplayMagician has logic to check for if a profile can be used, and it is set to do that detection when you start to try to apply a display profile, or run a game sho

[2022-01-23 12:51] FormelLMS commented on #76
Hey Terry,

so I've installed the 1.1.4 again and I can submit, that it works with this version :)

[2022-01-23 19:46] terrymacdonald commented on #76
Ok cool! So we know that it is something in the way that the NVIDIALibrary
interacts with the Mosaic functions that isn't quite right now. It was ok
(because it was working), but now it isn't working.

The strange thing is that it is only affecting a small percentage of users.
The majority are completely fine. This makes it difficult to troubleshoot,
as we don't have enough samples to know where t

[2022-01-23 19:54] sk666 commented on #76
Hi terry,

My trouble with surround began when I started to use DM 2.x version, with your fjrst version if I remember correctly.

I will happy to help you more with that but it can take a couple of days during each test because I'm starting to be a little bit busy for a couple of week. But I will do it when I will have the time for sure :)

Thank you

Télécharger Outlook pour Android<https://aka.m

[2022-01-23 20:36] terrymacdonald commented on #76
Cool, thanks for the info @sk666. Don't work too much about a quick
turnaround time. This is a tricky problem that will take a bit of time to
sort out. It will be a while before we find a solution I think.

Thanks
Terry

On Mon, 24 Jan 2022, 08:54 sk666, ***@***.***> wrote:

[2022-01-24 05:17] FormelLMS commented on #76
Call me in to test the steps :)
For me it start to happen with the 2.x Version. I thought it will be much work to upgrade to 2.x so I’ve waited a long time to do that. But after installing Windows 11 I‘ve updated to 2.x.

[2022-01-24 06:29] terrymacdonald commented on #76
Perfect. Thanks team.

I'll try have a think over the next few days about how I'm going to do
this. This seems like quite a tricky little problem to discover and fix.
The good thing is that you both reliably have the problem, so we should be
able to know when we've fixed it too!

Thanks
Terry

On Mon, 24 Jan 2022, 18:17 FormelLMS, ***@***.***> wrote:

[2022-01-24 08:48] terrymacdonald commented on #78
OK - some further good news. I have figured out a whole list of what the different Windows taskbar settings do, and I have managed to modify some code from Soroush to specifically get these settings (dropping here for the internet to find later on if ppl need it):

[code]

This will hopefully mean that future versions of DisplayMagician will be able to make sure the right taskbars are in the right

[2022-01-24 09:08] terrymacdonald commented on #78
OK - I've made something that kinda works in Win 11 (registry changes take place but explorer ignores the main taskbar move :( ) but is highly likely to work in Windows 10.

Can you please install DisplayMagician v2.2.0.98 test version here and see if you can make new taskbar settings? I would like you to please try making new Display Profiles that:
- Try the taskbars in different edges of the scr

[2022-01-24 18:35] HS34 commented on #76
Hi guys,
Terry, congratulations for your amazing tool !

Unfortunately, in my case it doesn't work either in version 1.1.4. I've just checked it.
I'm pretty sure it worked with version 1.1.4 sometimes ago, I think before I updated my windows 10 to version 21h2 (or maybe even before 21h1).

My NVidia Driver is still 452.06 and I will stick to it as long as I can because it's the last driver compati

[2022-01-24 19:26] terrymacdonald commented on #76
Hi @hs34

Could you please log this as a new issue? It sounds like it's a slightly
different problem.

Please make sure that you try and make it fail, and then without closing
DisplayMagician can you please ZIP up your
C:\Users\<username>\AppData\Local\DisplayMagician\ folder, and then upload
it to the new issue that you create. That will give me some log entries to
review, and will show me what c

[2022-01-24 20:53] HS34 opened #83 "Switching Nvidia Surround OFF doesn't work (same problem with versions 1.1.4, 2.1.5.5 and 2.2.0.52)"
**Describe the bug**
While in surround, applying a "not surround" profile fails with no error.
I'm not sure what the difference is with issue #76, but since Terry asked me to log this as a new issue...
[https://github.com/terrymacdonald/DisplayMagician/issues/76](url)

**To Reproduce**
created profile "3 screens only"
created profile "4 screens"
created profile "surround"
Failed to apply profile "

[2022-01-24 21:26] terrymacdonald commented on #83
Thanks for testing that @HS34. I'll have a look at the logs after work
today and see what I can find in there.

I've a feeling we'll need to move to testing the underlying NVIDIALibrary
display library I wrote to see where we can fix things, but I'll confirm
over the next few days.

Thanks

*Terry MacDonald *| Principal Security Consultant | Chief Operating Officer

M: +64 211 918 814 <+64+211+918

[2022-01-24 21:47] sk666 commented on #76
Hi terry,

What DM version should ai use with these tests?

Thank you

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: terrymacdonald ***@***.***>
Sent: Monday, January 24, 2022 4:17:24 PM
To: terrymacdonald/DisplayMagician ***@***.***>
Cc: sk666 ***@***.***>; Mention ***@***.***>
Subject: Re: [terrymacdonald/DisplayMagician] Switching Nvidia Surroun

[2022-01-24 22:56] terrymacdonald commented on #76
Hi @sk666,

None. Please use the NVIDIAInfo-v1.4.0-test1.zip that I've added to that
issue. We'll be testing with NVIDIAInfo for the next little while as
NVIDIAInfo was designed for testing the NVIDIALIbrary, and that's what we
need to do for the next little while. We need to avoid all the extra bits
that DisplayMagician brings, and focus on fixing the underlying
NVIDIALibrary problem, and that me

[2022-01-25 15:36] ChrisWhatever1980 opened #84 "Profile does not apply correct color depth when using surround"
**Describe the bug**
When applying a profile containing an Nvidia surround setup and 10bpc color depth, the color depth is set to 8bpc.

**To Reproduce**
In Nvidia settings:
1. Set the color depth to 10bpc
2. Activate surround.
3. The color depth is 8bpc.
4. Set the color depth to 10bpc again.

In DisplayMagician:
1. Create new profile.
2. Apply the profile.
3. The color depth is 8bpc.

**Expected

[2022-01-25 19:13] terrymacdonald commented on #84
Hi Chris

Was this working fine before you upgraded your NVIDIA driver? If you've
only recently started using DisplayMagician, stop you're intake of it was
working in the past, then one thing to try is too uninstall the latest
511.23 nvidia drivers, and try something a bit older like the 472.12
drivers.

https://www.nvidia.com/Download/Find.aspx?lang=en-us

If you can try the older driver, a and t

[2022-01-25 19:21] sk666 commented on #75
Hi terry,

for your information, 2.0.1.59 DM version is not able to switch between different display profile, so it seem that only 1.x version works on my system.

Thank you

[2022-01-25 19:26] terrymacdonald commented on #75
Ok. While we're testing with NVIDIAInfo, I'll also check out the
NvAPIWrapper library and compare it to my NVIDIALibrary and try to find
some differences.

Thanks
Terry

On Wed, 26 Jan 2022, 08:21 sk666, ***@***.***> wrote:

[2022-01-25 22:54] ChrisWhatever1980 commented on #84
Hi Terry, thanks for answering so quickly.
I updated to 511.23, because it wasn't working with the previous version, ..417.something
I think you are right, the bug is in the driver.

Btw, the bpc are set correctly when applying a profile containing mosaic mode on quadro cards.

I might have to make a batch file that switches to the profile, sleeps x seconds, then resets the bpc with another tool s

[2022-01-25 23:17] terrymacdonald commented on #84
Also, I remember there have been some HDR improvements over the last few Windows 10 updates. There were some issues between Win HDR and the NVIDIA custom HDR, and IIRC from some forum posts some of them were resolved with improvements to Win HDR. This could be applicable in your particular situation.

I would always recommend updating Windows to the latest patches, from a security point of view, a

[2022-01-25 23:21] terrymacdonald commented on #84
You could always try setting the BPC through Windows itself rather than through the NVIDIA HDR settings? That might work better.

[2022-01-25 23:24] versedi commented on #81
Okay, this is even stranger now.

I'm after Windows reinstall, it worked for single day after format when I just plugged the monitors, restarted the PC configured the surround.

I wasn't using it for couple of days, one of the monitors was unplugged.

Today I've replugged 3rd monitor, restarted PC, turn on Display Magician - everything good in 1 and 2 monitor setup.

The moment I've turned on surr

[2022-01-25 23:31] versedi commented on #81
Additional comment about Nvidia driver. So, GeForce Experience apparently installs 511.23 GeForce Game Ready Driver, but the website lists the last recommended one as 472.12 released at September 20, 2021.

Not sure what's with that, I can try downgrading my GGRD drivers to 4xx.xx if you want.

[2022-01-25 23:41] versedi commented on #81
[code]

This is wrong. I have only 3 displays detected in Windows and connected to GPU.

[2022-01-26 00:27] versedi commented on #81
I've tried disabling 2x1, disabling DM autostart, restarting PC, setting up the surround manually - the bug persists.

How is this possible that with DM not even running something controls my application display setup?

[2022-01-26 01:03] terrymacdonald commented on #81
Hi Tadeusz,

That NVIDIA Display count is not the same as the Windows connected display
count. The NVIDIA Display count is the number of displays that NVIDIA can
communicate with. It has nothing to do with the Windows 'connected' count.
You should be able to see a count later in the log file from the WinLibrary
which should show the 3 displays connected. The reason for this discrepancy
is that we

[2022-01-26 01:04] versedi commented on #81
Thank you very much for confirming, I'm immediately downgrading to the September driver and will update if the issue persists,

[2022-01-26 01:26] versedi commented on #81
For historical log, now working on completely new setup after DDU, just started content manager:

[Completely-Fixed-old-driver-before-braking-DisplayMagician.zip](https://github.com/terrymacdonald/DisplayMagician/files
/7938314/Completely-Fixed-old-driver-before-braking-DisplayMagician.zip)

(This comment will be updated with more steps and logs by logs to be able to reproduce the issue to the sin

[2022-01-26 01:31] versedi commented on #81
And now it's same as before my reinstall of whole Windows:
The Content manager itself works, but Assetto Corsa still does the two monitors to go black when Alt+Tabbing.
[Still-Broken-After-DDU-old-Driver-DisplayMagician.zip](https://github.com/terrymacdonald/DisplayMagician/files/7938335/Still-Broken-After-DDU-old-Driver-DisplayMagician.zip)

[2022-01-26 01:32] versedi commented on #81
Well I guess I will try restore point from when I installed Windows, completely skip DM, and see if the issue persists, if it does I have no idea what could be stucked so much in some kind of setting .

[2022-01-26 09:26] versedi commented on #81
Okay there's more going on then I originally thought.

I've tried to disable the surround and I was having completely troubles with it - Nvidia Control Panel shown "Conectivity issue" with the displays.

So I went with Google, unplugged all displays, plugged only the one that was out of surround on HDMI one (it had topology 2x1, 1x1 for some reason).
Then it allowed me to actually DISABLE the surr

[2022-01-26 09:37] terrymacdonald commented on #76
Ok Gents, some great news. I worked my way through NvAPIWrapper code based looking for things I didn't implement, or things I did wrong, and I think I found something! I have been using NvAPI_Mosaic_SetDisplayGrids, whereas NvAPIWrapper was using NvAPI_Mosaic_SetCurrentTopo.

This doesn't seem to be much difference in practice, but I wonder if using one over the other has some longer term side eff

[2022-01-26 13:45] ChrisWhatever1980 commented on #84
Hey Terry, I'll try setting the HDR via Windows and Nvidia and see what happens. If that doesn't work I'll go about updating Windows, which might keep me busy until next week. Thanks so much for taking the time to look into my problem. I appreciate it. I'll get back to you when I have news. Cheers!

[2022-01-26 19:27] terrymacdonald commented on #78
That surround screen issue where it showed 3 screens but has one was odd.
The left over background menu is because I forgot to update it to the new
config (which seems to be broken).

It sounds like the last bit meant that DisplayMagician now has an invalid
config and won't start. I suspect it is because you used the desktop
connect menu which unfortunately was pointing to the old invalid config.

[2022-01-26 21:18] #81 closed

[2022-01-26 21:20] versedi commented on #81
Unrelated to Display Magician - either bug with Gsync and my combination of displays or something else that I'm yet to understand.

Same settings work and don't work at the same time - it's a roulette if it will happen or not.

If anyone stumbles uppon this issue from Google: disable gsync, apply. enable gsync apply. If it doesn't work repeat until it works. Also check the "override the scaling mo

[2022-01-26 21:38] terrymacdonald commented on #81
Good luck Tadeusz,

Hopefully it's a bug in 511.23. It looks like this last release of NVIDIA
was a big one, so it's entirely possible that there are some new bugs in
there.

Thanks

*Terry *

[2022-01-26 21:43] FormelLMS commented on #76
Yes, please don't forget me :) Yesterday I couldn't have a dive into it :)

[2022-01-26 21:51] terrymacdonald commented on #76
Of course not @FormelLMS. This was a response message to @sk666.

I am definitely on a journey of discovery with this error. It looks now as
though NVIDIA recommends setting the DisplayGrid Topology to a set of
individual  1x1 display grid topologies to turn off Mosaic mode, so I am
currently trying to figure out how to do that. I'm hopeful I will have a
setup that will work within next week or so

[2022-01-26 22:07] RBZL commented on #78
[DisplayMagician.zip](https://github.com/terrymacdonald/DisplayMagician/files/7945906/DisplayMagician.zip)

I'll nuke the contents of AppData\Local\DisplayMagician and play with it some more. Setting up the profiles again isn't too difficult.

[2022-01-26 23:34] versedi commented on #81
Edited title so people with similar trouble have easier way to find it.

[2022-01-28 03:43] terrymacdonald commented on #76
OK @FormelLMS and @sk666, some amazingly great news! After a LOT of work I've finally cracked the problem of how to disable Mosaic/Surround without using disabling the NvAPI_Mosaic_EnableCurrentTopo. Turns out that with some clever processing I can convert the existing Mosaic grid topology to a series of single screen grid topologies using NvAPI_Mosaic_SetDisplayGrids, and the NVIDIA Driver will d

[2022-01-28 03:47] terrymacdonald commented on #83
@HS34, some amazingly great news! After a LOT of work I've finally cracked the problem of how to disable Mosaic/Surround without using disabling the NvAPI_Mosaic_EnableCurrentTopo (which is what I believe is causing your issues). Turns out that with some clever processing I can convert the existing Mosaic grid topology to a series of single screen grid topologies using NvAPI_Mosaic_SetDisplayGrids

[2022-01-28 18:22] FormelLMS commented on #76
Terry, something strange happened...

Would do all the steps above.
First step, the saving of the regular.cfg failed! In the zip file you can see the error message. Put the logfile in, too.

But: Display Magician is working now. I'm on 2.2.0.41 (dunno if it's latest, a bit confused now about that)
I properly could change from Normal to surround and vice versa.

Thats very odd. But indeed I've chan

[2022-01-28 19:15] terrymacdonald commented on #76
This is indeed good news! The fact you can swap between surround and non
surround is great! I'll have a look to nail down the other parts.

This version of NVIDIAInfo also includes windows taskbar code, soon it's
possible there are still a few errors there.

Can you please also try moving your taskbar to a new location (if you're on
windows 10, I can't remember if you are), and then save a new cfg

[2022-01-28 19:37] FormelLMS commented on #76
Hey Terry

have you seen my attached zip. As I’ve tried to say, with NVIDIA info I can’t do anything because saving the normal.cfg failed.
I’ve attached the error message in a text file in the zip.

Switching back and forth does now work in display magician but only when I have a DSR profile enabled.

Sorry if I have not found the right words.

[2022-01-28 21:38] terrymacdonald commented on #76
Ah, I understand now. Looking at the error provided it's in the new TaskBar so it's a different little bug to squash. I've just squashed the bug, so can you please run the exact same tests using this NVIDIAInfo v1.5.1?

[NVIDIAInfo-v1.5.1.zip](https://github.com/terrymacdonald/DisplayMagician/files/7961968/NVIDIAInfo-v1.5.1.zip)

Thanks
Terry

[2022-01-29 03:38] terrymacdonald commented on #77
ok @Mobeeuz I had a few hours this afternoon to develop at least part of the code needed for your 'remove my desktop context menu' wish. This is now a button in the Program Settings to uninstall the Desktop Context Menu:

![image](https://user-images.githubusercontent.com/5721772/151645756-44204caa-699a-413a-87fb-aefddf4f9ee3.png)

IMPORTANT: When you install a new DisplayMagician version, you wil

[2022-01-29 03:44] terrymacdonald commented on #76
Also @FormelLMS @sk666,

After you have both completed testing NVIDIAInfo v1.5.1 using the instructions above, can you please both try this new version of DisplayMagician I put together as well.

This new test version of DisplayMagician v2.2.0.112 has a lot of new functionality:

- Is now a single instance, so games will start faster and display profiles will swap quicker
- Is now multithreaded to

[2022-01-29 03:46] terrymacdonald commented on #67
Hi @erbkaiser

I've got another new version of DisplayMagician v2.2.0.112 ready to go.  This new test version of DisplayMagician v2.2.0.112 has a lot of new functionality:

- Is now a single instance, so games will start faster and display profiles will swap quicker
- Is now multithreaded to handle processing profile changes in the background
- Display layout detection is more reliable
- Now uses

[2022-01-29 06:54] terrymacdonald commented on #83
@HS34,

I've updated NVIDIAInfo to v1.5.1: [NVIDIAInfo-v1.5.1.zip](https://github.com/terrymacdonald/DisplayMagician/files/7961968/NVIDIAInfo-v1.5.1.zip)

After you have completed testing NVIDIAInfo v1.5.1 using the instructions above, can you please both try this new version of DisplayMagician I put together as well.

This new test version of DisplayMagician v2.2.0.112 has a lot of new functional

[2022-01-29 08:47] Mobeeuz commented on #77
Works beautifully! Adds or removes the option with the click of a button - even more than was asked for.

Suggestion: how about naming the menu "Display Magician Profiles" instead of "DisplayMagician: Change Display Profiles..." for brevity - cuts down on that fat menu size and gets across the same point :)

[2022-01-29 10:33] erbkaiser commented on #67
Hi Terry,

Good news for me and bad (I assume) news for you: I have completely changed my monitor setup this week and am now running one ultra wide 3440x1440 monitor over DisplayPort and a secondary 1920x1080 over HDMI. I'm still waiting on a monitor arm to be able to position the smaller monitor where I want it, so any tests with nVidia Surround and DisplayMagician will have to wait until that ar

[2022-01-29 10:40] terrymacdonald commented on #67
Wow. Congratulations on getting such cool gear! Sounds like it's going to
be epic to use.

No problems on waiting for testing. I'm currently trying to figure out how
to force windows taskbars into their correct positions, and is not quite
working the way I'd hoped! I figure if the windows system settings
application can do it, then I should be able to reverse engineer how it was
done, and  then im

[2022-01-29 11:03] FormelLMS commented on #76
So we now are steps ahead :)

Tests with NvidiaInfo 1.5.1:
After Applying the regular.cfg I got those error Message:

Attempting to apply NVIDIA display config from regular.cfg
ERROR - NVIDIAInfo Windows CCD settings were not applied correctly.

Equality checks then of surround and regular.cfg are NOT equal after that
Taskbar was on the left monitor instead of the middle

After changing back to su

[2022-01-29 18:43] terrymacdonald commented on #76
Hi @FormelLMS

I don't think DisplayMagician stores the text sizing at all. I'd have to
double-check to confirm, but I think that may be in the GetDisplayConfig
function, and we don't currently get that information.

I've tried making a C# function to access GetDisplayConfig and
SetDisplayConfig in the past, but I could never get it to work. I'm a lot
more comfortable writing Process Invoke fictio

[2022-01-29 19:01] terrymacdonald commented on #76
@FormelLMS, can you please send me a DisplayMagician support zip, and a
screenshot showing where you set the text sizing in the NVIDIA Control
panel? This will help me find where the information is in the NVAPI.

Thanks
Terry

On Sun, 30 Jan 2022, 07:42 Terry MacDonald, ***@***.***>
wrote:

[2022-01-29 23:11] terrymacdonald commented on #76
Gah! I'll have to hold off on the Get/SetDisplayConfig work as I've found a bug in the way that Windows handles taskbar position changes on daisy-chained DisplayPort screens. Windows Settings doesn't update registry for the 2nd connected display (the one daisy-chained from the first one), meaning that I can't just record the taskbar settings as they could be wrong :(. So I now have to do some chan

[2022-01-30 13:35] sk666 commented on #76
Hi Terry,

sorry for the delay. I've got an error in powershell but thanks to @FormelLMS the error was because I did not used the  .\ before the command line.

I've got my result from nvidiainfo 1.51, see atached files. I will try later today with DM 2.2.0.112

Thank you
[Results sk666.zip](https://github.com/terrymacdonald/DisplayMagician/files/7965988/Results.sk666.zip)

[2022-01-30 19:24] terrymacdonald commented on #76
Thanks sk666.

On Mon, 31 Jan 2022, 02:35 sk666, ***@***.***> wrote:

[2022-01-31 01:07] sk666 commented on #76
hi Terry,

v2.2.0.112 od DM is totally unusable on my computer, it faild at the opening and DM can not bypass this error so I can not create a log zip file. I need to kill it by the task manager after the error spawn.

The error is in french but I think in english is something like: "The value can not be null. Paramter name: first".

Did you ever seen that before?

Thank you

![fatal error at open

[2022-01-31 04:47] terrymacdonald commented on #76
Hi @sk666,

Can you please delete the existing DisplayProfile_2.2.json file you having
in your DisplayMagician app folder? The updating process assumes you don't
have a DisplayProfile_2.2.json file, but as you've been helping me you
already have that file

If you delete the existing DisplayProfile_2.2.json file from your
DisplayMagician appdata folder then it should start up properly.

Thanks
Terr

[2022-01-31 19:21] FormelLMS commented on #76
Hey Terry, here you can find the support zip.
Text Scaling isn't in nvidia driver, it's in the display options.
[DisplayMagician-Support-20220131-2019.zip](https://github.com/terrymacdonald/DisplayMagician/files/7973563/DisplayMagician-Support-20220131-2019.zip)
![Screenshot 2022-01-31 201956](https://user-images.githubusercontent.com/87239140/151858535-ab662f64-e09e-487b-b925-3006bcc7c198.jpg)

[2022-02-01 00:55] sk666 commented on #76
Hi Terry,

I found the 2.2.json file, I deleted it, and started agian DM. It recreate it and then crash with the same error :(

Thank you

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: terrymacdonald ***@***.***>
Sent: Sunday, January 30, 2022 11:47:25 PM
To: terrymacdonald/DisplayMagician ***@***.***>
Cc: sk666 ***@***.***>; Mention ***@***.***>
S

[2022-02-01 02:49] terrymacdonald commented on #76
Oh shoot. That's not good. I think it's indicating that there is a config
element that is null that is not supposed to be null. Can you please upload
the DisplayMagician.log file, and any other DisplayMagician1.log -
DisplayMagician4.log log files you find in the
C:\Users\<username>\AppData\Local\DisplayMagician\Logs folder please? You
may need to zip them up. This will let me see what the error i

[2022-02-01 17:24] arphex opened #86 "Can we get an option to disable scanning for games?"
**Is your feature request related to a problem? Please describe.**
When the app starts up it takes ages to scan all games every time.  This is especially problematic on startup.  If one just needs the app to switch monitor profiles quickly (e.g. 3 monitor to surround or one monitor etc.) then this feature is entirely unnecessary

**Describe the solution you'd like**
an option to disable scanning f

[2022-02-01 17:45] terrymacdonald commented on #86
Hi @arphex ,

You're in luck. I've already had a request for something similar, and I've been working hard on something for version 2.2 release. It's been a long time in development because it's required a lot of work to make the changes. I've had to move the program architecture to a single instance design which has required turning the application multithreaded, which in turn caused other knock

[2022-02-01 17:45] #86 closed

[2022-02-01 22:14] sk666 commented on #76
@terrymacdonald there is the log files.

thank you

[logs.zip](https://github.com/terrymacdonald/DisplayMagician/files/7982267/logs.zip)

[2022-02-02 03:05] terrymacdonald commented on #76
Weird. This is complaining about missing colour information from your screens in your configuration. That shouldn't happen.

[code]

The problem is with the Dell 2208WFP screen with UID4356 connected via DVI:

[code]

I believe that this is because DVI doesn't support accessing the colour information through it. I think this may be the source of part of your past problems, and definitely a bug wit

[2022-02-02 14:22] sk666 commented on #76
Hi Terry,

don't loose your precious time on that, I can live with the 1.1.4 version od DM. I will change my 2 old monitor eventually, so I will not use DVi with my new screens. If it's possible to stay with 1.1.4 with nvidia and w10, it will do the job for me. My computer could not have w11 so I will need to change it too in the next 3 years.

Thank you

[2022-02-02 18:57] terrymacdonald commented on #76
No no, it's something fairly easy to add, and I want everyone to be able to
use the new faster DM. It's just a little more work, and it will mean I
avoid so many other future issues.

Thanks
Terry

On Thu, 3 Feb 2022, 03:22 sk666, ***@***.***> wrote:

[2022-02-04 07:52] terrymacdonald commented on #78
@RBZL Great news! I dived into the Windows internal messages and started monitoring the way that the Windows 10 and Windows 11 Settings app changes the taskbar placement instantly, and I managed to replicate it! \o/ I've not seen this documented anywhere on the internet, so I think I may have discovered something new :).

For reference for people in the internet, this is the code I ended up with:

[2022-02-04 09:02] terrymacdonald commented on #76
@sk666  and @FormelLMS  - some more tests to perform please! I've just finished getting taskbar settings to record and I'm pretty happy with how they turned out :). I've also configured DisplayMagician to ignore getting HDR/Colour settings from the following types of connections: VGA, COMPONENT, SVIDEO, DVI, COMPOSITE.

@sk666 that should stop you getting errors (hopefully), so it would be cool if

[2022-02-04 09:03] terrymacdonald commented on #75
Oh @sk666, please check if this problem is now fixed too? I would like to close this issue so I know what I still have to work on.

[2022-02-04 09:05] terrymacdonald commented on #77
Fixed in codebase. Will be released with DisplayMagician v2.2.0 whenever that finally gets finished.

[2022-02-04 09:05] #77 closed

[2022-02-04 09:10] terrymacdonald commented on #83
@HS34 - please ignore the last instructions I told you. Testing has moved on, and I need you to test DisplayMagician-v2.2.0.179 attached to this issue instead. It has many more features and should (hopefully) fix your problem. Please reply back to this issue telling me whether it worked or not.

IMPORTANT: You will need to delete your old DisplayProfiles_2.2.json file in c:\Users\<username>\AppDat

[2022-02-04 15:11] RBZL commented on #78
Sounds good, thanks for the work. I'm happy to test it out once you've got something built.

[2022-02-04 18:02] terrymacdonald commented on #78
@RBZL I've just finished getting taskbar settings to record and I'm pretty happy with how they turned out :). I've also configured DisplayMagician to ignore getting HDR/Colour settings from the following types of connections: VGA, COMPONENT, SVIDEO, DVI, COMPOSITE.

That should stop you getting errors (hopefully), so it would be cool if you could both install DisplayMagician v2.2.0.179 (yes this i

[2022-02-04 18:07] terrymacdonald commented on #84
Hi @ChrisWhatever1980 ,

Any updates? We're getting closer to a V2.2.0 release, and if like to figure out a fix for your problem and roll it into the next release of I can.

Thanks
Terry

[2022-02-04 20:03] ChrisWhatever1980 commented on #84
HI Terry,

I can't tell windows itself to use HDR, the option is greyed out. I tried to set the 10bpc in various ways/orders, but I couldn't get it to save it either.

I downloaded the nvapi and found the sample DisplayColorControl which does the very thing.
So I call DisplayMagician with the profile parameter from a batch file, sleep for 5 seconds and then call the DisplayColorControl executable

[2022-02-05 03:11] terrymacdonald commented on #84
Hi Chris,

Ok. I'll close this issue for now then so that I know I no longer need to
work on it. Feel free to reopen of you need to when you get some time free.

Thanks
Terry

On Sat, 5 Feb 2022, 09:03 ChrisWhatever1980, ***@***.***>
wrote:

[2022-02-05 05:15] RBZL commented on #78
I installed 179 and did a little bit of testing tonight. I had various issues so to start fresh I did the following:

- Exited DisplayMagician entirely
- Deleted the \Local\DisplayMagician folder to reset everything
- Started it back up to play with it

I did this in my normal triple monitor habitat with no NVIDIA surround enabled to start with a clean slate.

I saved my profile as "Triple Monitor

[2022-02-05 06:13] terrymacdonald commented on #78
Woah. Thanks for the detailed notes. It looks like there is a bit to unpick
in there. I'll take a few days to check through what you've sent and I'll
get back to you with any questions.

Thanks so much for all your testing!

Terry

On Sat, 5 Feb 2022, 18:16 RBZL, ***@***.***> wrote:

[2022-02-05 08:31] #84 closed

[2022-02-05 12:58] sk666 commented on #76
Hi Terry,

wow build 179. It was a lot of work, but I'm glad to say that this build fix the switching profile bug, and it resolve my bog with DVI when I start DM :) I hope that it will fix the issue too for @FormelLMS

Issue 75 still persist for me, even if the app is minimized to system tray or not. But at least, DM works again, thank you very much :)

[2022-02-05 13:00] sk666 commented on #75
Hi Terry,

Issue 75 still persist for me, even if the app is minimized to system tray or not. May be you should tkae a look to the code of DM 1.1.4, this issue was not present if I'm remember correctly. I don't know it will help you considering the fact that DM as changed a lot since this build.

Or may be I can build a script to close the app and make in sort that DM runs this script during the r